@use '../../../../../scss/config/_variables.scss';
@use '../../../../../scss/config/_mixins.scss';
@use '../../../../../scss/config/_patterns.scss';

// _desktop.scss

.button-viewport {
  width: 50px;
  height: 5px;
  background-color: #efd2f9;
  box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.3) inset;
  transform: scaleX(0.75);
}

.button-viewport-hover {
  width: 50px;
  height: 5px;
  background-color: #efd2f9;
  box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.2) inset;
  transform: scaleX(0.8);
}

// media-1300.scss

.button-viewport--1300 {
  width: 50px;
  height: 5px;
  background-color: #efd2f9;
  box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.3) inset;
  transform: scaleX(0.75);
}

.button-viewport-hover--1300 {
  width: 50px;
  height: 5px;
  background-color: #efd2f9;
  box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.2) inset;
  transform: scaleX(0.8);
}


// _media-1133.scss

.button-viewport--1133 {
  width: 50px;
  height: 5px;
  background-color: #efd2f9;
  box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.3) inset;
  transform: scaleX(0.75);
}

.button-viewport-hover--1133 {
  width: 50px;
  height: 5px;
  background-color: #efd2f9;
  box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.2) inset;
  transform: scaleX(0.8);
}

// media-900.scss

.button-viewport--900 {
  width: 50px;
  height: 5px;
  background-color: #efd2f9;
  box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.3) inset;
  transform: scaleX(0.75);
}

.button-viewport-hover--900 {
  width: 50px;
  height: 5px;
  background-color: #efd2f9;
  box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.2) inset;
  transform: scaleX(0.8);
}


// _media-744.scss

.button-viewport--744 {
  width: 50px;
  height: 5px;
  background-color: #efd2f9;
  box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.3) inset;
  transform: scaleX(0.75);
}

.button-viewport-hover--744 {
  width: 50px;
  height: 5px;
  background-color: #efd2f9;
  box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.2) inset;
  transform: scaleX(0.8);
}


// _media-744l.scss

.button-viewport--744l {
    width: 50px;
    height: 5px;
    background-color: #efd2f9;
    box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.3) inset;
    transform: scaleX(0.75);
  }
  
  .button-viewport-hover--744l {
    width: 50px;
    height: 5px;
    background-color: #efd2f9;
    box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.2) inset;
    transform: scaleX(0.8);
  }
  

// media-600.scss

.button-viewport--600 {
  width: 50px;
  height: 5px;
  background-color: #efd2f9;
  box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.3) inset;
  transform: scaleX(0.75);
}

.button-viewport-hover--600 {
  width: 50px;
  height: 5px;
  background-color: #efd2f9;
  box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.2) inset;
  transform: scaleX(0.8);
}

// media-600l.scss

.button-viewport--600l {
  width: 50px;
  height: 5px;
  background-color: #efd2f9;
  box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.3) inset;
  transform: scaleX(0.75);
}

.button-viewport-hover--600l {
  width: 50px;
  height: 5px;
  background-color: #efd2f9;
  box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.2) inset;
  transform: scaleX(0.8);
}

// _media-375.scss

.button-viewport--375 {
  width: 50px;
  height: 5px;
  background-color: #efd2f9;
  box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.3) inset;
  transform: scaleX(0.75);
}

.button-viewport-hover--375 {
  width: 50px;
  height: 5px;
  background-color: #efd2f9;
  box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.2) inset;
  transform: scaleX(0.8);
}

// _media-275.scss

.button-viewport--275 {
  width: 50px;
  height: 5px;
  background-color: #efd2f9;
  box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.3) inset;
  transform: scaleX(0.75);
}

.button-viewport-hover--275 {
  width: 50px;
  height: 5px;
  background-color: #efd2f9;
  box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.2) inset;
  transform: scaleX(0.8);
}




// media-600.scss
// media-600l.scss


