@use '../../../scss/config/_variables.scss' as *;
@use '../../../scss/config/_mixins.scss' as *;
@use '../../../scss/config/_patterns.scss' as *;

// _desktop.scss

.certificates {
  margin-bottom: 150px;
//   margin-bottom: 90px;

  // .certificates__slider
  &__slider {
  }
}

.container-certificates {
  width: 1728px;
  margin: 0 auto;
}

// media-1300.scss

.certificates--1300 {
  margin-bottom: 150px;

  // .certificates__slider
  &__slider {
  }
}

.container-certificates--1300 {
  width: 1300px;
  margin: 0 auto;
}

// _media-1133.scss

.certificates--1133 {
  margin-bottom: 150px;

  // .certificates__slider
  &__slider {
  }
}

.container-certificates--1133 {
  width: 1133px;
  margin: 0 auto;
}

// media-900.scss

.certificates--900 {
  margin-bottom: 150px;

  // .certificates__slider
  &__slider {
  }
}

.container-certificates--900 {
  width: calc(100vw - 30px);
    margin: 0 auto;
    overflow: hidden;
}

// _media-744.scss

.certificates--744 {
  margin-bottom: 150px;

  // .certificates__slider
  &__slider {
  }
}

.container-certificates--744 {
  width: calc(100vw - 30px);
    margin: 0 auto;
    overflow: hidden;
}


// _media-744l.scss

.certificates--744l {
    overflow: hidden;
    margin-bottom: 80px;
  
    // .certificates__slider
    &__slider {
        overflow: hidden;
    }
  }
  
  .container-certificates--744l {
    width: calc(100vw - 30px);
    margin: 0 auto;
    overflow: hidden;
    // width: 744px;
  }

// media-600.scss

.certificates--600 {
    overflow: hidden;
  margin-bottom: 80px;

  // .certificates__slider
  &__slider {
    overflow: hidden;
  }
}

.container-certificates--600 {
    width: calc(100vw - 30px);
    margin: 0 auto;
    overflow: hidden;
//   width: 375px;
}

// media-600l.scss

.certificates--600l {
    overflow: hidden;
  margin-bottom: 80px;

  // .certificates__slider
  &__slider {
    overflow: hidden;
  }
}

.container-certificates--600l {
    width: calc(100vw - 30px);
    margin: 0 auto;
    overflow: hidden;
//   width: 375px;
}


// _media-375.scss

.certificates--375 {
    overflow: hidden;
  margin-bottom: 80px;

  // .certificates__slider
  &__slider {
    overflow: hidden;
  }
}

.container-certificates--375 {
    width: calc(100vw - 30px);
    margin: 0 auto;
    overflow: hidden;
//   width: 375px;
}

// _media-275.scss

.certificates--275 {
    overflow: hidden;
  margin-bottom: 80px;

  // .certificates__slider
  &__slider {
    overflow: hidden;
  }
}

.container-certificates--275 {
    width: calc(100vw - 10px);
    margin: 0 auto;
    overflow: hidden;
//   width: 375px;
}






