.icons--1728__main-icon {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  flex-shrink: 0;
  opacity: 0.8;
  transition: all 0.3s ease;
}
.icons--1728__main-shadow {
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 0;
  right: 5px;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.icons--1300__main-icon {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  flex-shrink: 0;
  opacity: 0.8;
  transition: all 0.3s ease;
}
.icons--1300__main-shadow {
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 0;
  right: 5px;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.icons--1133__main-icon {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  flex-shrink: 0;
  opacity: 0.8;
  transition: all 0.3s ease;
}
.icons--1133__main-shadow {
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 0;
  right: 5px;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.icons--900__main-icon {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  flex-shrink: 0;
  opacity: 0.8;
  transition: all 0.3s ease;
}
.icons--900__main-shadow {
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 10px;
  right: 10px;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.icons--744__main-icon {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  flex-shrink: 0;
  opacity: 0.8;
  transition: all 0.3s ease;
}
.icons--744__main-shadow {
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 10px;
  right: 10px;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.icons--744l__main-icon {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  flex-shrink: 0;
  opacity: 0.8;
  transition: all 0.3s ease;
}
.icons--744l__main-shadow {
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 10px;
  right: 10px;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.icons--600__main-icon {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  flex-shrink: 0;
  opacity: 0.8;
  transition: all 0.3s ease;
}
.icons--600__main-shadow {
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 10px;
  right: 10px;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.icons--600l__main-icon {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  flex-shrink: 0;
  opacity: 0.8;
  transition: all 0.3s ease;
}
.icons--600l__main-shadow {
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 10px;
  right: 10px;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.icons--375__main-icon {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  flex-shrink: 0;
  opacity: 0.8;
  transition: all 0.3s ease;
}
.icons--375__main-shadow {
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 10px;
  right: 10px;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.icons--275__main-icon {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  flex-shrink: 0;
  opacity: 0.8;
  transition: all 0.3s ease;
}
.icons--275__main-shadow {
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 10px;
  right: 10px;
  flex-shrink: 0;
  transition: all 0.3s ease;
}/*# sourceMappingURL=MainIconsIcon.css.map */