@media (max-width: 1133px) {
    .wrapper {
        width: 744px;
        margin: 0 auto;
    }
    .container-certificates {
        width: 744px;
    }
    .header {
        width: 744px;
        height: 75px;
        background-image: url(/img/bg/bg-header744.png);
        background-repeat: no-repeat;
        background-size: cover;
        // .header__inner
        &__inner {
            width: 100%;
            height: 67px;
        }
        // .header__left
        &__left {
            width: 285px;
            height: 44px;
            align-self: flex-end;
        }
        // .header__inner-left
        &__inner-left {
            width: 285px;
            height: 44px;
        }
        // .header__logo
        &__logo {
        }
        // .header__link
        &__link {
        }
        // .header__link-logo
        &__link-logo {
        }
        // .header__link-burger
        &__link-burger {
        }
        // .header__title
        &__title {
        }
        // .header__line
        &__line {
            width: 322px;
            height: 2px;
            flex-shrink: 0;
            background: rgba(126, 11, 146, 0.6);
            box-shadow: 0px 2px 5px 0px rgba(126, 11, 146, 0.4);
        }
        // .header__right
        &__right {
            width: 303px;
            height: 25px;
            align-self: flex-start;
            margin-top: 13px;
        }
        // .header__inner-right
        &__inner-right {
            width: 303px;
            height: 25px;
        }
        // .header__menu
        &__menu {
        }
        // .header__burger
        &__burger {
        }
        // .header__phone
        &__phone {
            width: 122px;
            height: 18px;
        }
    }
    .container {
        width: 702px;
        margin: 0 auto;
    }
    .container-companies {
        width: 744px;
        margin: 0 auto;
    }
    .logo {
    }
    .logo-header {
        width: 25px;
        height: 25px;
    }
    .title {
        font-size: $fz-15;
        letter-spacing: 1.05px;
    }
    .title-header {
    }
    .menu {
        // .menu__item
        &__item {
        }
        // .menu__item-header
        &__item-header {
        }
        &__item-header:not(:first-child) {
            display: none;
        }
        // .menu__link
        &__link {
        }
        // .menu__link-header
        &__link-header {
            font-size: $fz-15;
        }
        // .menu__item-tab
        &__item-tab {
        }
        // .menu__link-body
        &__link-body {
        }
        // .menu__link-face
        &__link-face {
        }
        // .menu__item-section1
        &__item-section1 {
            height: 17px;
        }
        // .menu__link-section1
        &__link-section1 {
            font-size: 14px;
        }
    }
    .menu-header {
        width: 100px;
        height: 19px;
    }
    .burger {
    }
    .burger-header {
        display: inline-block;
        width: 25px;
        height: 25px;
    }
    .phone {
    }
    .phone-header {
        font-size: $fz-15;
    }
    .main {
        width: 744px;
        height: 541px;
        background-image: url(/img/bg/bg-main744.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 90px;
        // .main__inner
        &__inner {
        }
        // .main__sidebar
        &__sidebar {
            margin-bottom: 41px;
        }
        // .main__icons
        &__icons {
            margin-right: 12px;
            margin-bottom: 14px;
        }
    }
    .sidebar {
        // .sidebar__item
        &__item {
        }
        // .sidebar__item-main
        &__item-main {
        }
        // .sidebar__item-sub
        &__item-sub {
        }
        // .sidebar__link
        &__link {
            width: 202px;
        }
        // .sidebar__link-sub
        &__link-sub {
        }
        // .sidebar__link-main
        &__link-main {
        }
    }
    .sidebar-main {
        width: 202px;
        height: 189px;
    }
    .sidebar-sub {
        width: 202px;
        height: 100px;
    }
    .icons {
        // .icons__item
        &__item {
        }
        // .icons__item-main
        &__item-main {
        }
        // .icons__link
        &__link {
        }
        // .icons__link-main
        &__link-main {
        }
        // .icons__whatsapp
        &__whatsapp {
        }
        // .icons__whatsapp-main
        &__whatsapp-main {
        }
        // .icons__telegram
        &__telegram {
        }
        // .icons__telegram-main
        &__telegram-main {
        }
        // .icons__checkmark
        &__checkmark {
        }
        // .icons__checkmark-main
        &__checkmark-main {
        }
        // .icons__item-footer
        &__item-footer {
        }
        // .icons__item-whatsapp
        &__item-whatsapp {
        }
        // .icons__link-footer
        &__link-footer {
        }
        // .icons__img-footer
        &__img-footer {
            width: 30px;
            height: 30px;
            margin-bottom: 5px;
        }
        // .icons__whatsapp-footer
        &__whatsapp-footer {
        }
        // .icons__line
        &__line {
        }
        // .icons__line-footer
        &__line-footer {
            width: 16px;
            height: 1px;
        }
        // .icons__item-telegram
        &__item-telegram {
        }
        // .icons__telegram-footer
        &__telegram-footer {
        }
        // .icons__item-checkmark
        &__item-checkmark {
        }
        // .icons__checkmark-footer
        &__checkmark-footer {
        }
    }
    .icons-main {
        width: 225px;
        height: 65px;
    }
    .procedures {
        // .procedures__tabs
        &__tabs {
        }
        // .procedures__border
        &__border {
        }
    }
    .menu-procedures {
    }
    .tabs {
        // .tabs__body
        &__body {
        }
        // .tabs__slider
        &__slider {
        }
    }
    .tabs-procedures {
    }
    .tabs-active {
    }
    .slider {
        // .slider__slide
        &__slide {
        }
        // .slider__slide-procedures
        &__slide-procedures {
        }
        // .slider__link
        &__link {
        }
        // .slider__link-procedures
        &__link-procedures {
        }
        // .slider__card
        &__card {
        }
        // .slider__card-procedures
        &__card-procedures {
        }
        // .slider__slide-info
        &__slide-info {
        }
        // .slider__link-info
        &__link-info {
        }
        // .slider__card-info
        &__card-info {
        }
        // .slider__slide-certificates
        &__slide-certificates {
        }
        // .slider__link-certificates
        &__link-certificates {
        }
        // .slider__card-certificates
        &__card-certificates {
        }
    }
    .slider-procedures {
    }
    .dots {
        // .dots__body
        &__body {
        }
        // .dots__body-procedure
        &__body-procedure {
        }
        // .dots__dot
        &__dot {
        }
        // .dots__dot-active
        &__dot-active {
        }
        // .dots__body-info
        &__body-info {
        }
        // .dots__body-certificates
        &__body-certificates {
        }
    }
    .companies {
        // .companies__list
        &__list {
        }
        // .companies__item
        &__item {
            width: 148px;
            margin-right: 0;
        }
        // .companies__item-mychway
        &__item-mychway {
            margin-left: -76px;
        }
        // .companies__frame
        &__frame {
        }
        // .companies__frame-mychway
        &__frame-mychway {
        }
        // .companies__group
        &__group {
        }
        // .companies__group-mychway
        &__group-mychway {
        }
        // .companies__blur
        &__blur {
        }
        // .companies__blur-mychway
        &__blur-mychway {
        }
        // .companies__name
        &__name {
        }
        // .companies__name-mychway
        &__name-mychway {
        }
        // .companies__item-auro
        &__item-auro {
            margin-left: 0;
        }
        // .companies__frame-auro
        &__frame-auro {
        }
        // .companies__group-auro
        &__group-auro {
        }
        // .companies__name-auro
        &__name-auro {
        }
        // .companies__blur-auro
        &__blur-auro {
        }
        // .companies__item-salonart
        &__item-salonart {
            margin-left: -20px;
        }
        // .companies__frame-salonart
        &__frame-salonart {
        }
        // .companies__group-salonart
        &__group-salonart {
        }
        // .companies__name-salonart
        &__name-salonart {
        }
        // .companies__blur-salonart
        &__blur-salonart {
        }
        // .companies__item-vibro
        &__item-vibro {
            margin-right: 0;
            margin-left: -20px;
        }
        // .companies__frame-vibro
        &__frame-vibro {
        }
        // .companies__group-vibro
        &__group-vibro {
        }
        // .companies__name-vibro
        &__name-vibro {
        }
        // .companies__blur-vibro
        &__blur-vibro {
        }
        // .companies__item-drceuracle
        &__item-drceuracle {
            margin-left: 0;
            margin-right: 105px;
        }
        // .companies__frame-drceuracle
        &__frame-drceuracle {
        }
        // .companies__group-drceuracle
        &__group-drceuracle {
        }
        // .companies__name-drceuracle
        &__name-drceuracle {
        }
        // .companies__blur-drceuracle
        &__blur-drceuracle {
        }
    }
    .info {
        // .info__slider
        &__slider {
        }
    }
    .slider-info {
    }
    .certificates {
        // .certificates__slider
        &__slider {
        }
    }
    .slider-certificates {
    }
    .footer {
        width: 100%;
        height: 216px;
        background-image: url(/img/bg/bg-footer744.png);
        background-repeat: no-repeat;
        background-size: cover;
        // .footer__reletive
        &__reletive {
            width: 100%;
            height: 216px;
            position: relative;
            left: 0;
            top: 0;
        }
        // .footer__section1
        &__section1 {
            width: 354px;
            height: 75px;
            position: absolute;
            right: 175px;
            top: 34px;
            opacity: 0.8;
        }
        // .footer__menu
        &__menu {
            width: 354px;
            height: 75px;
        }
        // .footer__inner
        &__inner {
        }
        // .footer__inner-column
        &__inner-column {
        }
        // .footer__column
        &__column {
        }
        // .footer__column-1
        &__column-1 {
            width: 55px;
        }
        // .footer__column-2
        &__column-2 {
            width: 108px;
        }
        // .footer__column-3
        &__column-3 {
            width: 131px;
        }
        // .footer__section2
        &__section2 {
            width: 467px;
            height: 67px;
            position: absolute;
            left: 0;
            bottom: 18px;
        }
        // .footer__inner-section2
        &__inner-section2 {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        // .footer__copyright
        &__copyright {
            width: 342px;
            height: 42px;
            align-self: start;
        }
        // .footer__inner-left
        &__inner-left {
            width: 342px;
            height: 42px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        // .footer__logo
        &__logo {
        }
        // .footer__link
        &__link {
        }
        // .footer__link-logo
        &__link-logo {
        }
        // .footer__copy
        &__copy {
        }
        // .footer__p
        &__p {
        }
        // .footer__p-copy
        &__p-copy {
            font-size: $fz-14;
            line-height: 21px;
        }
        // .footer__year
        &__year {
        }
        // .footer__warning
        &__warning {
            width: 467px;
            height: 18px;
            opacity: 0.9;
        }
        // .footer__inner-warning
        &__inner-warning {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
        // .footer__p-warning
        &__p-warning {
            font-size: $fz-14;
        }
        &__p-warning:last-child {
            align-self: end;
        }
        // .footer__section3
        &__section3 {
            width: 109px;
            height: 127px;
            flex-shrink: 0;
            position: absolute;
            right: 94px;
            top: 46px;
            opacity: 0.5;
        }
        // .footer__icons
        &__icons {
        }
        // .footer__section4
        &__section4 {
            bottom: 26px;
        }
        // .footer__phone
        &__phone {
        }
    }
    .menu-footer {
    }
    .logo-footer {
        width: 25px;
        height: 25px;
    }
    .icons-footer {
        width: 109px;
        height: 127px;
        flex-shrink: 0;
    }
    .phone-footer {
    }
}
