@use '../../../../scss/config/_variables.scss' as *;
@use '../../../../scss/config/_mixins.scss' as *;
@use '../../../../scss/config/_patterns.scss' as *;

// _desktop.scss

.footer {
  // .footer__inner
  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .footer__section2
  &__section2 {
    width: 1009px;
    // width: 1079px;
    height: 42px;
    position: absolute;
    left: 0;
    bottom: 35px;
  }

  // .footer__inner-section2
  &__inner-section2 {
  }

  // .footer__inner-left
  &__inner-left {
    width: 220px;
    // width: 391px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .footer__copyright
  &__copyright {
    width: 316px;
    opacity: 0.5;
  }

  // .footer__logo
  &__logo {
  }

  // .footer__copy
  &__copy {
  }

  // .footer__p
  &__p {
    display: block;
  }

  // .footer__p-copy
  &__p-copy {
    color: #f5f0f7;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.688%;
    word-spacing: 1.5px;
    opacity: 0.6;
  }

  // .footer__year
  &__year {
    display: inline-block;
    margin-right: 5px;
  }

  // .footer__warning
  &__warning {
    width: 570px;
    // width: 563px;
    height: 42px;
    opacity: 0.9;
  }

  // .footer__inner-warning
  &__inner-warning {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  // .footer__p-warning
  &__p-warning {
    color: #3d0751;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.688%;
    word-spacing: 1.5px;
    opacity: 0.6;
  }
}

// media-1300.scss

.footer--1300 {
  // .footer__inner
  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .footer__inner-section2
  &__inner-section2 {
  }

  // .footer__inner-left
  &__inner-left {
    width: 210px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .footer__copyright
  &__copyright {
    width: 210px;
    height: 38px;
  }

  // .footer__logo
  &__logo {
  }

  // .footer__copy
  &__copy {
  }

  // .footer__p
  &__p {
    display: block;
  }

  // .footer__p-copy
  &__p-copy {
    color: #f5f0f7;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.688%;
    word-spacing: 1.5px;
    opacity: 0.6;
  }

  // .footer__year
  &__year {
    display: inline-block;
    margin-right: 5px;
  }

  // .footer__warning
  &__warning {
    width: 344px;
    height: 42px;
    opacity: 0.9;
  }

  // .footer__inner-warning
  &__inner-warning {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  // .footer__p-warning
  &__p-warning {
    color: #3d0751;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.688%;
    word-spacing: 1.5px;
    opacity: 0.6;
  }
}

// _media-1133.scss

.footer--1133 {
  // .footer__inner
  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .footer__inner-section2
  &__inner-section2 {
  }

  // .footer__inner-left
  &__inner-left {
    width: 210px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .footer__copyright
  &__copyright {
    width: 210px;
    height: 38px;
  }

  // .footer__logo
  &__logo {
  }

  // .footer__copy
  &__copy {
  }

  // .footer__p
  &__p {
    display: block;
  }

  // .footer__p-copy
  &__p-copy {
    color: #f5f0f7;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.688%;
    word-spacing: 1.5px;
    opacity: 0.6;
  }

  // .footer__year
  &__year {
    display: inline-block;
    margin-right: 5px;
  }

  // .footer__warning
  &__warning {
    width: 344px;
    height: 42px;
    opacity: 0.9;
  }

  // .footer__inner-warning
  &__inner-warning {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  // .footer__p-warning
  &__p-warning {
    color: #3d0751;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.688%;
    word-spacing: 1.5px;
    opacity: 0.6;
  }
}

// media-900.scss

.footer--900 {
  // .footer__inner
  &__inner {
  }

  // .footer__inner-section2
  &__inner-section2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  // .footer__inner-left
  &__inner-left {
    width: 162px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .footer__copyright
  &__copyright {
    width: 162px;
    // width: 342px;
    height: 42px;
    align-self: start;
  }

  // .footer__logo
  &__logo {
  }

  // .footer__copy
  &__copy {
  }

  // .footer__p
  &__p {
    display: block;
  }

  // .footer__p-copy
  &__p-copy {
    color: #f5f0f7;
    font-size: 12px;
    // font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    word-spacing: 1.5px;
    opacity: 0.6;
  }

  // .footer__year
  &__year {
    display: inline-block;
    margin-right: 5px;
  }

  // .footer__warning
  &__warning {
    width: 250px;
    height: 35px;
    // width: 467px;
    // height: 18px;
    opacity: 0.9;
  }

  // .footer__inner-warning
  &__inner-warning {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  // .footer__p-warning
  &__p-warning {
    color: #3d0751;
    text-align: center;
    font-size: 12px;
    // font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.688%;
    word-spacing: 1.5px;
    opacity: 0.6;
  }
}

// _media-744.scss

.footer--744 {
  // .footer__inner
  &__inner {
  }

  // .footer__inner-section2
  &__inner-section2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  // .footer__inner-left
  &__inner-left {
    width: 162px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .footer__copyright
  &__copyright {
    width: 162px;
    // width: 342px;
    height: 42px;
    align-self: start;
  }

  // .footer__logo
  &__logo {
  }

  // .footer__copy
  &__copy {
  }

  // .footer__p
  &__p {
    display: block;
  }

  // .footer__p-copy
  &__p-copy {
    color: #f5f0f7;
    font-size: 12px;
    // font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    word-spacing: 1.5px;
    opacity: 0.6;
  }

  // .footer__year
  &__year {
    display: inline-block;
    margin-right: 5px;
  }

  // .footer__warning
  &__warning {
    width: 250px;
    height: 35px;
    // width: 467px;
    // height: 18px;
    opacity: 0.9;
  }

  // .footer__inner-warning
  &__inner-warning {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  // .footer__p-warning
  &__p-warning {
    color: #3d0751;
    text-align: center;
    font-size: 12px;
    // font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.688%;
    word-spacing: 1.5px;
    opacity: 0.6;
  }
}

// _media-744l.scss

.footer--744l {
    // .footer__inner
    &__inner {
    }
  
    // .footer__inner-section2
    &__inner-section2 {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    // .footer__inner-left
    &__inner-left {
      width: 162px;
      height: 42px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    // .footer__copyright
    &__copyright {
      width: 162px;
      // width: 342px;
      height: 42px;
      align-self: start;
    }
  
    // .footer__logo
    &__logo {
    }
  
    // .footer__copy
    &__copy {
    }
  
    // .footer__p
    &__p {
      display: block;
    }
  
    // .footer__p-copy
    &__p-copy {
      color: #f5f0f7;
      font-size: 12px;
      // font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      word-spacing: 1.5px;
      opacity: 0.6;
    }
  
    // .footer__year
    &__year {
      display: inline-block;
      margin-right: 5px;
    }
  
    // .footer__warning
    &__warning {
      width: 250px;
      height: 35px;
      // width: 467px;
      // height: 18px;
      opacity: 0.9;
    }
  
    // .footer__inner-warning
    &__inner-warning {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      // flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    // .footer__p-warning
    &__p-warning {
      color: #3d0751;
      text-align: center;
      font-size: 12px;
      // font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 125.688%;
      word-spacing: 1.5px;
      opacity: 0.6;
    }
  }

// media-600.scss

.footer--600 {
  // .footer__inner
  &__inner {
    // width: 100%;
    // height: 100%;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
  }

  // .footer__inner-section2
  &__inner-section2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  // .footer__inner-left
  &__inner-left {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .footer__copyright
  &__copyright {
    width: 297px;
    height: 24px;
    align-self: start;
    opacity: 0.7;
  }

  // .footer__logo
  &__logo {
  }

  // .footer__copy
  &__copy {
  }

  // .footer__p
  &__p {
    display: inline-block;
  }

  &__p:first-child {
    margin-right: 20px;
  }

  // .footer__p-copy
  &__p-copy {
    color: #f5f0f7;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    word-spacing: 1.5px;
    opacity: 0.6;
  }

  // .footer__year
  &__year {
    display: inline-block;
    margin-right: 5px;
  }

  // .footer__warning
  &__warning {
    width: 300px;
    height: 26px;
    opacity: 0.9;
  }

  // .footer__inner-warning
  &__inner-warning {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  // .footer__p-warning
  &__p-warning {
    color: #3d0751;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.688%;
    word-spacing: 1.5px;
    opacity: 0.6;
  }
}

// media-600l.scss

.footer--600l {
  // .footer__inner
  &__inner {
    // width: 100%;
    // height: 100%;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
  }

  // .footer__inner-section2
  &__inner-section2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  // .footer__inner-left
  &__inner-left {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .footer__copyright
  &__copyright {
    width: 297px;
    height: 24px;
    align-self: start;
    opacity: 0.7;
  }

  // .footer__logo
  &__logo {
  }

  // .footer__copy
  &__copy {
  }

  // .footer__p
  &__p {
    display: inline-block;
  }

  &__p:first-child {
    margin-right: 20px;
  }

  // .footer__p-copy
  &__p-copy {
    color: #f5f0f7;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    word-spacing: 1.5px;
    opacity: 0.6;
  }

  // .footer__year
  &__year {
    display: inline-block;
    margin-right: 5px;
  }

  // .footer__warning
  &__warning {
    width: 300px;
    height: 26px;
    opacity: 0.9;
  }

  // .footer__inner-warning
  &__inner-warning {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  // .footer__p-warning
  &__p-warning {
    color: #3d0751;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.688%;
    word-spacing: 1.5px;
    opacity: 0.6;
  }
}

// _media-375.scss

.footer--375 {
  // .footer__inner
  &__inner {
    // width: 100%;
    // height: 100%;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
  }

  // .footer__inner-section2
  &__inner-section2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }

  // .footer__inner-left
  &__inner-left {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .footer__copyright
  &__copyright {
    width: 158px;
    height: 24px;
    align-self: start;
    opacity: 0.7;
  }

  // .footer__logo
  &__logo {
  }

  // .footer__copy
  &__copy {
  }

  // .footer__p
  &__p {
    display: block;
  }

  // .footer__p-copy
  &__p-copy {
    color: #f5f0f7;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    word-spacing: 1.5px;
    opacity: 0.6;
  }

  // .footer__year
  &__year {
    display: inline-block;
    margin-right: 5px;
  }

  // .footer__warning
  &__warning {
    width: 250px;
    height: 26px;
    opacity: 0.9;
  }

  // .footer__inner-warning
  &__inner-warning {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  // .footer__p-warning
  &__p-warning {
    color: #3d0751;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.688%;
    word-spacing: 1.5px;
    opacity: 0.6;
  }
}

// _media-275.scss

.footer--275 {
  // .footer__inner
  &__inner {
    // width: 100%;
    // height: 100%;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
  }

  // .footer__inner-section2
  &__inner-section2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }

  // .footer__inner-left
  &__inner-left {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .footer__copyright
  &__copyright {
    width: 158px;
    height: 24px;
    align-self: start;
    opacity: 0.7;
  }

  // .footer__logo
  &__logo {
  }

  // .footer__copy
  &__copy {
  }

  // .footer__p
  &__p {
    display: block;
  }

  // .footer__p-copy
  &__p-copy {
    color: #f5f0f7;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    word-spacing: 1.5px;
    opacity: 0.6;
  }

  // .footer__year
  &__year {
    display: inline-block;
    margin-right: 5px;
  }

  // .footer__warning
  &__warning {
    width: 203px;
    height: 26px;
    opacity: 0.9;
  }

  // .footer__inner-warning
  &__inner-warning {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  // .footer__p-warning
  &__p-warning {
    color: #3d0751;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.688%;
    word-spacing: 1.5px;
    opacity: 0.6;
  }
}





// media-600l.scss
