// Шрифты
$ff-Roboto: 'Roboto', sans-serif;

$fw-500: 500;
$fw-400: 400;

$fz-30: 30px;
$fz-25: 25px;
$fz-20: 20px;
$fz-17: 17px;
$fz-15: 15px;
$fz-14: 14px;
$fz-13: 13px;
$fz-12: 12px;
$fz-10: 10px;

// Цвет
$c-1: #3d0751;
$c-2: #f5f0f7;

$c-11: #7E0B92; 
$c-21: #C975D8; 
$c-31: #831598; 
$c-41: #E49AFF; 
$c-51: #3DB1A3; 
$c-61: rgba(201, 117, 216, 0.3);
$c-71: #FFF; 
$c-81: rgba(255, 255, 255, 0.8);
