@charset "UTF-8";
.content__wranning-windows {
  margin-top: 30px;
}
.content__inner {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.table {
  width: 100%;
  min-height: 213px;
  color: #3d0751;
  margin-bottom: 30px;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}
.table__caption-windows {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.1em;
  text-align: center;
  caption-side: top;
  padding-bottom: 30px;
}
.table__th-last {
  width: 40px;
}
.table__th-sticky {
  position: sticky;
  top: 0;
}
.table__th-corner {
  width: 40px;
  height: 40px;
}
.table__th-topleft {
  border-top: none;
  border-left: none;
  border-bottom: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
}
.table__th-topright {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #3d0751;
  border-left: 1px solid #3d0751;
}
.table__th-bottomright {
  border-top: 1px solid #3d0751;
  border-left: 1px solid #3d0751;
  border-bottom: none;
  border-right: none;
}
.table__th-bottomleft {
  border-top: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
  border-bottom: none;
  border-left: none;
}
.table__th-body {
  width: 40px;
  height: 66px;
}
.table__th-header {
  width: 66px;
  height: 40px;
  border-left: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
  border-bottom: 1px solid #3d0751;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
}
.table__body-windows {
  display: block;
  width: 100%;
  max-height: calc(100vh - 492px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
  scrollbar-width: thin;
}
.table__body-windows::-webkit-scrollbar {
  width: 4px;
  /* ширина для вертикального скролла */
  height: 4px;
  background-color: rgba(236, 209, 242, 0.3);
}
.table__body-windows::-webkit-scrollbar-thumb {
  background: rgba(201, 117, 216, 0.3);
}
.table__td {
  width: 66px;
  height: 66px;
  border-left: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
}
.table__border-bottom {
  border-bottom: 1px solid #3d0751;
}
.table__td-body {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: center;
}
.table__th-first {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
}
.table__sup-body {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-align: center;
  text-decoration: underline;
}
.table__th-footer {
  width: 66px;
  height: 40px;
  border-left: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
  border-top: 1px solid #3d0751;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
}

.content--1133__wranning-windows {
  margin-top: 30px;
}
.content--1133__inner {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content--1133__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--1133__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.table--1133 {
  width: 100%;
  min-height: 213px;
  color: #3d0751;
  margin-bottom: 30px;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}
.table--1133__caption-windows {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.1em;
  text-align: center;
  caption-side: top;
  padding-bottom: 30px;
}
.table--1133__th-last {
  width: 40px;
}
.table--1133__th-sticky {
  position: sticky;
  top: 0;
}
.table--1133__th-corner {
  width: 40px;
  height: 40px;
}
.table--1133__th-topleft {
  border-top: none;
  border-left: none;
  border-bottom: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
}
.table--1133__th-topright {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #3d0751;
  border-left: 1px solid #3d0751;
}
.table--1133__th-bottomright {
  border-top: 1px solid #3d0751;
  border-left: 1px solid #3d0751;
  border-bottom: none;
  border-right: none;
}
.table--1133__th-bottomleft {
  border-top: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
  border-bottom: none;
  border-left: none;
}
.table--1133__th-body {
  width: 40px;
  height: 66px;
}
.table--1133__th-header {
  width: 66px;
  height: 40px;
  border-left: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
  border-bottom: 1px solid #3d0751;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
}
.table--1133__body-windows {
  display: block;
  width: 100%;
  max-height: calc(100vh - 492px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
  scrollbar-width: thin;
}
.table--1133__body-windows::-webkit-scrollbar {
  width: 4px;
  /* ширина для вертикального скролла */
  height: 4px;
  background-color: rgba(236, 209, 242, 0.3);
}
.table--1133__body-windows::-webkit-scrollbar-thumb {
  background: rgba(201, 117, 216, 0.3);
}
.table--1133__td {
  width: 66px;
  height: 66px;
  border-left: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
}
.table--1133__border-bottom {
  border-bottom: 1px solid #3d0751;
}
.table--1133__td-body {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: center;
}
.table--1133__th-first {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
}
.table--1133__sup-body {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-align: center;
  text-decoration: underline;
}
.table--1133__th-footer {
  width: 66px;
  height: 40px;
  border-left: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
  border-top: 1px solid #3d0751;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
}

.content--744__wranning-windows {
  margin-top: 30px;
}
.content--744__inner {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content--744__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--744__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.table--744 {
  width: 100%;
  min-height: 213px;
  color: #3d0751;
  margin-bottom: 30px;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}
.table--744__caption-windows {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.1em;
  text-align: center;
  caption-side: top;
  padding-bottom: 30px;
}
.table--744__th-last {
  width: 40px;
}
.table--744__th-sticky {
  position: sticky;
  top: 0;
}
.table--744__th-corner {
  width: 40px;
  height: 40px;
}
.table--744__th-topleft {
  border-top: none;
  border-left: none;
  border-bottom: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
}
.table--744__th-topright {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #3d0751;
  border-left: 1px solid #3d0751;
}
.table--744__th-bottomright {
  border-top: 1px solid #3d0751;
  border-left: 1px solid #3d0751;
  border-bottom: none;
  border-right: none;
}
.table--744__th-bottomleft {
  border-top: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
  border-bottom: none;
  border-left: none;
}
.table--744__th-body {
  width: 40px;
  height: 66px;
}
.table--744__th-header {
  width: 66px;
  height: 40px;
  border-left: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
  border-bottom: 1px solid #3d0751;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
}
.table--744__body-windows {
  display: block;
  width: 100%;
  max-height: calc(100vh - 492px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
  scrollbar-width: thin;
}
.table--744__body-windows::-webkit-scrollbar {
  width: 4px;
  /* ширина для вертикального скролла */
  height: 4px;
  background-color: rgba(236, 209, 242, 0.3);
}
.table--744__body-windows::-webkit-scrollbar-thumb {
  background: rgba(201, 117, 216, 0.3);
}
.table--744__td {
  width: 66px;
  height: 66px;
  border-left: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
}
.table--744__border-bottom {
  border-bottom: 1px solid #3d0751;
}
.table--744__td-body {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: center;
}
.table--744__th-first {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
}
.table--744__sup-body {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-align: center;
  text-decoration: underline;
}
.table--744__th-footer {
  width: 66px;
  height: 40px;
  border-left: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
  border-top: 1px solid #3d0751;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
}

.content--744l__wranning-windows {
  margin-top: 30px;
}
.content--744l__inner {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content--744l__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--744l__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.table--744l {
  width: 100%;
  min-height: 213px;
  color: #3d0751;
  margin-bottom: 30px;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}
.table--744l__caption-windows {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.1em;
  text-align: center;
  caption-side: top;
  padding-bottom: 30px;
}
.table--744l__th-last {
  width: 40px;
}
.table--744l__th-sticky {
  position: sticky;
  top: 0;
}
.table--744l__th-corner {
  width: 40px;
  height: 40px;
}
.table--744l__th-topleft {
  border-top: none;
  border-left: none;
  border-bottom: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
}
.table--744l__th-topright {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #3d0751;
  border-left: 1px solid #3d0751;
}
.table--744l__th-bottomright {
  border-top: 1px solid #3d0751;
  border-left: 1px solid #3d0751;
  border-bottom: none;
  border-right: none;
}
.table--744l__th-bottomleft {
  border-top: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
  border-bottom: none;
  border-left: none;
}
.table--744l__th-body {
  width: 40px;
  height: 66px;
}
.table--744l__th-header {
  width: 66px;
  height: 40px;
  border-left: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
  border-bottom: 1px solid #3d0751;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
}
.table--744l__body-windows {
  display: block;
  width: 100%;
  max-height: calc(100vh - 492px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
  scrollbar-width: thin;
}
.table--744l__body-windows::-webkit-scrollbar {
  width: 4px;
  /* ширина для вертикального скролла */
  height: 4px;
  background-color: rgba(236, 209, 242, 0.3);
}
.table--744l__body-windows::-webkit-scrollbar-thumb {
  background: rgba(201, 117, 216, 0.3);
}
.table--744l__td {
  width: 66px;
  height: 66px;
  border-left: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
}
.table--744l__border-bottom {
  border-bottom: 1px solid #3d0751;
}
.table--744l__td-body {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: center;
}
.table--744l__th-first {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
}
.table--744l__sup-body {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-align: center;
  text-decoration: underline;
}
.table--744l__th-footer {
  width: 66px;
  height: 40px;
  border-left: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
  border-top: 1px solid #3d0751;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
}

.content--375__wranning-windows {
  margin-top: 30px;
}
.content--375__inner {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content--375__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--375__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.table--375 {
  width: 100%;
  min-height: 213px;
  color: #3d0751;
  margin-bottom: 30px;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}
.table--375__caption-windows {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.1em;
  text-align: center;
  caption-side: top;
  padding-bottom: 30px;
}
.table--375__th-last {
  width: 40px;
}
.table--375__th-sticky {
  position: sticky;
  top: 0;
}
.table--375__th-corner {
  width: 40px;
  height: 40px;
}
.table--375__th-topleft {
  border-top: none;
  border-left: none;
  border-bottom: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
}
.table--375__th-topright {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #3d0751;
  border-left: 1px solid #3d0751;
}
.table--375__th-bottomright {
  border-top: 1px solid #3d0751;
  border-left: 1px solid #3d0751;
  border-bottom: none;
  border-right: none;
}
.table--375__th-bottomleft {
  border-top: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
  border-bottom: none;
  border-left: none;
}
.table--375__th-body {
  width: 40px;
  height: 66px;
}
.table--375__th-header {
  width: 66px;
  height: 40px;
  border-left: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
  border-bottom: 1px solid #3d0751;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
}
.table--375__body-windows {
  display: block;
  width: 100%;
  max-height: calc(100vh - 492px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
  scrollbar-width: thin;
}
.table--375__body-windows::-webkit-scrollbar {
  width: 4px;
  /* ширина для вертикального скролла */
  height: 4px;
  background-color: rgba(236, 209, 242, 0.3);
}
.table--375__body-windows::-webkit-scrollbar-thumb {
  background: rgba(201, 117, 216, 0.3);
}
.table--375__td {
  width: 66px;
  height: 66px;
  border-left: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
}
.table--375__border-bottom {
  border-bottom: 1px solid #3d0751;
}
.table--375__td-body {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: center;
}
.table--375__th-first {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
}
.table--375__sup-body {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-align: center;
  text-decoration: underline;
}
.table--375__th-footer {
  width: 66px;
  height: 40px;
  border-left: 1px solid #3d0751;
  border-right: 1px solid #3d0751;
  border-top: 1px solid #3d0751;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
}/*# sourceMappingURL=ModalContentB.css.map */