section.companies
        .container.container-companies
            ul.companies__list
                li.companies__item.companies__item-mychway
                    .companies__frame.companies__frame-mychway
                        .companies__group.companies__group-mychway
                            h2.companies__name.companies__name-mychway Mychway
                            p.companies__blur.companies__blur-mychway Mychway
                li.companies__item.companies__item-auro
                    .companies__frame.companies__frame-auro
                        .companies__group.companies__group-auro
                            h2.companies__name.companies__name-auro AURO
                            p.companies__blur.companies__blur-auro AURO
                li.companies__item.companies__item-salonart
                    .companies__frame.companies__frame-salonart
                        .companies__group.companies__group-salonart
                            h2.companies__name.companies__name-salonart SalonArt
                            p.companies__blur.companies__blur-salonart SalonArt
                li.companies__item.companies__item-vibro
                    .companies__frame.companies__frame-vibro
                        .companies__group.companies__group-vibro
                            h2.companies__name.companies__name-vibro Vibro
                            p.companies__blur.companies__blur-vibro Vibro
                li.companies__item.companies__item-drceuracle
                    .companies__frame.companies__frame-drceuracle
                        .companies__group.companies__group-drceuracle
                            h2.companies__name.companies__name-drceuracle Dr.Ceuracle
                            p.companies__blur.companies__blur-drceuracle Dr.Ceuracle