@use '../../../../../scss/config/_variables.scss';
@use '../../../../../scss/config/_mixins.scss';
@use '../../../../../scss/config/_patterns.scss';

// _desktop.scss

.dots {
  
    // .dots__dot
    &__dot {
      display: block;
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
      transform: scale(0.9);
      // transform: scale(0.8);
    }
  
    // .dots__dot-active
    &__dot-active {
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  
    // .dots__dot-last
    &__dot-last {
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  
    // .dots__dot-min
    &__dot-min {
      width: 8px;
      height: 8px;
      flex-shrink: 0;
      border-radius: 8px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  }


  // media-1300.scss

  .dots--1300 {
  
    // .dots__dot
    &__dot {
      display: block;
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
      transform: scale(0.9);
      // transform: scale(0.8);
    }
  
    // .dots__dot-active
    &__dot-active {
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  
    // .dots__dot-last
    &__dot-last {
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  
    // .dots__dot-min
    &__dot-min {
      width: 8px;
      height: 8px;
      flex-shrink: 0;
      border-radius: 8px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  }

// _media-1133.scss

.dots--1133 {
  
    // .dots__dot
    &__dot {
      display: block;
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
      transform: scale(0.9);
      // transform: scale(0.8);
    }
  
    // .dots__dot-active
    &__dot-active {
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  
    // .dots__dot-last
    &__dot-last {
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  
    // .dots__dot-min
    &__dot-min {
      width: 8px;
      height: 8px;
      flex-shrink: 0;
      border-radius: 8px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  }

// media-900.scss

.dots--900 {
  
    // .dots__dot
    &__dot {
      display: block;
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
      transform: scale(0.9);
      // transform: scale(0.8);
    }
  
    // .dots__dot-active
    &__dot-active {
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  
    // .dots__dot-last
    &__dot-last {
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  
    // .dots__dot-min
    &__dot-min {
      width: 8px;
      height: 8px;
      flex-shrink: 0;
      border-radius: 8px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  }

// _media-744.scss

.dots--744 {
  
    // .dots__dot
    &__dot {
      display: block;
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
      transform: scale(0.9);
      // transform: scale(0.8);
    }
  
    // .dots__dot-active
    &__dot-active {
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  
    // .dots__dot-last
    &__dot-last {
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  
    // .dots__dot-min
    &__dot-min {
      width: 8px;
      height: 8px;
      flex-shrink: 0;
      border-radius: 8px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  }


  // _media-744l.scss

.dots--744l {
  
    // .dots__dot
    &__dot {
      display: block;
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
      transform: scale(0.9);
      // transform: scale(0.8);
    }
  
    // .dots__dot-active
    &__dot-active {
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  
    // .dots__dot-last
    &__dot-last {
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  
    // .dots__dot-min
    &__dot-min {
      width: 8px;
      height: 8px;
      flex-shrink: 0;
      border-radius: 8px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  }

// media-600.scss

.dots--600 {
  
    // .dots__dot
    &__dot {
      display: block;
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
      transform: scale(0.9);
      // transform: scale(0.8);
    }
  
    // .dots__dot-active
    &__dot-active {
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  
    // .dots__dot-last
    &__dot-last {
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  
    // .dots__dot-min
    &__dot-min {
      width: 8px;
      height: 8px;
      flex-shrink: 0;
      border-radius: 8px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  }

// media-600l.scss

.dots--600l {
  
    // .dots__dot
    &__dot {
      display: block;
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
      transform: scale(0.9);
      // transform: scale(0.8);
    }
  
    // .dots__dot-active
    &__dot-active {
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  
    // .dots__dot-last
    &__dot-last {
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  
    // .dots__dot-min
    &__dot-min {
      width: 8px;
      height: 8px;
      flex-shrink: 0;
      border-radius: 8px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  }  

// _media-375.scss

.dots--375 {
  
    // .dots__dot
    &__dot {
      display: block;
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
      transform: scale(0.9);
      // transform: scale(0.8);
    }
  
    // .dots__dot-active
    &__dot-active {
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  
    // .dots__dot-last
    &__dot-last {
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  
    // .dots__dot-min
    &__dot-min {
      width: 8px;
      height: 8px;
      flex-shrink: 0;
      border-radius: 8px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  }

// _media-275.scss

.dots--275 {
  
    // .dots__dot
    &__dot {
      display: block;
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
      transform: scale(0.9);
      // transform: scale(0.8);
    }
  
    // .dots__dot-active
    &__dot-active {
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  
    // .dots__dot-last
    &__dot-last {
      width: 13px;
      height: 13px;
      flex-shrink: 0;
      border-radius: 13px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  
    // .dots__dot-min
    &__dot-min {
      width: 8px;
      height: 8px;
      flex-shrink: 0;
      border-radius: 8px;
      background: #efd2f9;
      box-shadow: 1px 1px 2px 0px rgba(126, 11, 146, 0.4) inset;
    }
  }


  


// media-600l.scss

