.icons__item-footer {
  display: block;
  width: 40px;
  height: 46px;
  position: relative;
  left: 0;
  top: 0;
}
.icons__item-whatsapp {
  align-self: end;
}
.icons__item-checkmark {
  align-self: start;
  opacity: 0.8;
}
.icons__link-footer {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  margin-bottom: 5px;
  display: block;
  background-color: #3d0751;
  opacity: 0.5;
}
.icons__link-whatsapp {
  -webkit-mask-image: url("../../../../images/whatsapp-footer.svg");
          mask-image: url("../../../../images/whatsapp-footer.svg");
}
.icons__link-telegram {
  -webkit-mask-image: url("../../../../images/telegram-footer.svg");
          mask-image: url("../../../../images/telegram-footer.svg");
}
.icons__link-checkmark {
  -webkit-mask-image: url("../../../../images/checkmark-footer.svg");
          mask-image: url("../../../../images/checkmark-footer.svg");
}
.icons__img-footer {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}
.icons__line-footer {
  position: absolute;
  width: 20px;
  height: 1px;
  left: 0;
  bottom: 0;
  background: #3d0751;
  opacity: 0.5;
}

.icons-footer {
  width: 130px;
  height: 155px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icons--1133__item-footer {
  display: block;
  width: 40px;
  height: 46px;
  position: relative;
  left: 0;
  top: 0;
}
.icons--1133__item-whatsapp {
  align-self: end;
}
.icons--1133__item-checkmark {
  align-self: start;
  opacity: 0.8;
}
.icons--1133__link-footer {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  margin-bottom: 5px;
  display: block;
  background-color: #3d0751;
  opacity: 0.5;
}
.icons--1133__link-whatsapp {
  -webkit-mask-image: url("../../../../images/whatsapp-footer.svg");
          mask-image: url("../../../../images/whatsapp-footer.svg");
}
.icons--1133__link-telegram {
  -webkit-mask-image: url("../../../../images/telegram-footer.svg");
          mask-image: url("../../../../images/telegram-footer.svg");
}
.icons--1133__link-checkmark {
  -webkit-mask-image: url("../../../../images/checkmark-footer.svg");
          mask-image: url("../../../../images/checkmark-footer.svg");
}
.icons--1133__img-footer {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}
.icons--1133__line-footer {
  position: absolute;
  width: 20px;
  height: 1px;
  left: 0;
  bottom: 0;
  background: #3d0751;
  opacity: 0.5;
}

.icons-footer--1133 {
  width: 130px;
  height: 155px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer--744__icons {
  width: 100%;
  height: 100%;
}

.icons--744__item-footer {
  display: block;
  width: 40px;
  height: 46px;
  position: relative;
  left: 0;
  top: 0;
}
.icons--744__item-whatsapp {
  align-self: end;
}
.icons--744__item-checkmark {
  align-self: start;
  opacity: 0.8;
}
.icons--744__link-footer {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  margin-bottom: 5px;
  display: block;
  background-color: #3d0751;
  opacity: 0.5;
}
.icons--744__link-whatsapp {
  -webkit-mask-image: url("../../../../images/whatsapp-footer.svg");
          mask-image: url("../../../../images/whatsapp-footer.svg");
}
.icons--744__link-telegram {
  -webkit-mask-image: url("../../../../images/telegram-footer.svg");
          mask-image: url("../../../../images/telegram-footer.svg");
}
.icons--744__link-checkmark {
  -webkit-mask-image: url("../../../../images/checkmark-footer.svg");
          mask-image: url("../../../../images/checkmark-footer.svg");
}
.icons--744__img-footer {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}
.icons--744__line-footer {
  position: absolute;
  width: 16px;
  height: 1px;
  left: 0;
  bottom: 0;
  background: #3d0751;
  opacity: 0.5;
}

.icons-footer--744 {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer--744l__icons {
  width: 100%;
  height: 100%;
}

.icons--744l__item-footer {
  display: block;
  width: 40px;
  height: 46px;
  position: relative;
  left: 0;
  top: 0;
}
.icons--744l__item-whatsapp {
  align-self: end;
}
.icons--744l__item-checkmark {
  align-self: start;
  opacity: 0.8;
}
.icons--744l__link-footer {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  margin-bottom: 5px;
  display: block;
  background-color: #3d0751;
  opacity: 0.5;
}
.icons--744l__link-whatsapp {
  -webkit-mask-image: url("../../../../images/whatsapp-footer.svg");
          mask-image: url("../../../../images/whatsapp-footer.svg");
}
.icons--744l__link-telegram {
  -webkit-mask-image: url("../../../../images/telegram-footer.svg");
          mask-image: url("../../../../images/telegram-footer.svg");
}
.icons--744l__link-checkmark {
  -webkit-mask-image: url("../../../../images/checkmark-footer.svg");
          mask-image: url("../../../../images/checkmark-footer.svg");
}
.icons--744l__img-footer {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}
.icons--744l__line-footer {
  position: absolute;
  width: 16px;
  height: 1px;
  left: 0;
  bottom: 0;
  background: #3d0751;
  opacity: 0.5;
}

.icons-footer--744l {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icons--375__item-footer {
  display: block;
  width: 25px;
  height: 28px;
  position: relative;
  left: 0;
  top: 0;
}
.icons--375__item-whatsapp {
  align-self: end;
}
.icons--375__item-checkmark {
  align-self: start;
  opacity: 0.8;
}
.icons--375__link-footer {
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  left: 0;
  margin-bottom: 5px;
  display: block;
  background-color: #fff;
  opacity: 0.5;
}
.icons--375__link-whatsapp {
  -webkit-mask-image: url("../../../../images/whatsapp-footer375.svg");
          mask-image: url("../../../../images/whatsapp-footer375.svg");
}
.icons--375__link-telegram {
  -webkit-mask-image: url("../../../../images/telegram-footer375.svg");
          mask-image: url("../../../../images/telegram-footer375.svg");
}
.icons--375__link-checkmark {
  -webkit-mask-image: url("../../../../images/checkmark-footer375.svg");
          mask-image: url("../../../../images/checkmark-footer375.svg");
}
.icons--375__img-footer {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}
.icons--375__line-footer {
  position: absolute;
  width: 11px;
  height: 1px;
  left: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.5;
}

.icons-footer--375 {
  width: 76px;
  height: 95px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=FooterSection3.css.map */