.slider__slide {
  display: block;
}
.slider__slide-active {
  display: block;
  opacity: 0.7;
  transform: skew(-5deg) scale(0.9);
}
.slider__slide-certificates {
  display: block;
  opacity: 0.7;
  filter: blur(1px);
  transform: translate(0px, 0px) scale(0.7, 0.7) skew(0deg, 10deg);
  transition: all 2s ease;
}
.slider__slide-certificates:not(:first-child) {
  margin-left: -350px;
}
.slider__slide-certificates:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.8s;
  z-index: 40;
}
.slider__slide-certificates-active {
  animation-name: slideInOut;
  animation-duration: 4s;
  animation-iteration-count: 1;
  z-index: 40;
}
.slider__card-certificates {
  width: 281px;
  height: 198px;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgba(201, 117, 216, 0.7);
}

.slider-certificates {
  width: 100%;
  height: 202px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0 15px;
}

.slider--1133__slide {
  display: block;
}
.slider--1133__slide-active {
  display: block;
  opacity: 0.7;
  transform: skew(-5deg) scale(0.9);
}
.slider--1133__slide-certificates {
  display: block;
  opacity: 0.7;
  filter: blur(1px);
  transform: translate(0px, 0px) scale(0.7, 0.7) skew(0deg, 10deg);
  transition: all 2s ease;
}
.slider--1133__slide-certificates:not(:first-child) {
  margin-left: -350px;
}
.slider--1133__slide-certificates:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.8s;
  z-index: 40;
}
.slider--1133__slide-certificates-active {
  animation-name: slideInOut;
  animation-duration: 4s;
  animation-iteration-count: 1;
  z-index: 40;
}
.slider--1133__card-certificates {
  width: 281px;
  height: 198px;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgba(201, 117, 216, 0.7);
}

.slider-certificates--1133 {
  width: 100%;
  height: 202px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0 15px;
}

.slider--744__slide {
  display: block;
}
.slider--744__slide-active {
  display: block;
  opacity: 0.7;
  transform: skew(-5deg) scale(0.9);
}
.slider--744__slide-certificates {
  display: block;
  opacity: 0.7;
  filter: blur(1px);
  transform: translate(0px, 0px) scale(0.7, 0.7) skew(0deg, 10deg);
  transition: all 2s ease;
}
.slider--744__slide-certificates:not(:first-child) {
  margin-left: -350px;
}
.slider--744__slide-certificates:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.8s;
  z-index: 40;
}
.slider--744__slide-certificates-active {
  animation-name: slideInOut;
  animation-duration: 4s;
  animation-iteration-count: 1;
  z-index: 40;
}
.slider--744__card-certificates {
  width: 281px;
  height: 198px;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgba(201, 117, 216, 0.7);
}

.slider-certificates--744 {
  width: 100%;
  height: 202px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0 15px;
}

.slider--744l__slide {
  display: block;
}
.slider--744l__slide-active {
  display: block;
  opacity: 0.7;
  transform: skew(-5deg) scale(0.9);
}
.slider--744l__slide-certificates {
  display: block;
  flex-shrink: 0;
}
.slider--744l__slide-certificates:not(:last-child) {
  margin-right: 30px;
}
.slider--744l__slide-certificates:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.8s;
  z-index: 40;
}
.slider--744l__slide-certificates-mobile {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.slider--744l__slide-certificates-active {
  animation-name: slideInOut;
  animation-duration: 4s;
  animation-iteration-count: 1;
  z-index: 40;
}
.slider--744l__card-certificates {
  width: 281px;
  height: 198px;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgba(201, 117, 216, 0.7);
  pointer-events: none;
}

.slider-certificates--744l {
  width: 100%;
  height: 202px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: pan-y;
}

.slider--375__slide {
  display: block;
}
.slider--375__slide-active {
  display: block;
  opacity: 0.7;
  transform: skew(-5deg) scale(0.9);
}
.slider--375__slide-certificates {
  display: block;
  flex-shrink: 0;
}
.slider--375__slide-certificates:not(:last-child) {
  margin-right: 30px;
}
.slider--375__slide-certificates:hover {
  opacity: 0.9;
  filter: blur(1);
  transform: scale(0.9);
  transition-duration: 0.3s;
  z-index: 40;
}
.slider--375__slide-certificates-mobile {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.slider--375__slide-certificates-active {
  animation-name: slideInOut;
  animation-duration: 4s;
  animation-iteration-count: 1;
  z-index: 40;
}
.slider--375__card-certificates {
  width: 281px;
  height: 198px;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgba(201, 117, 216, 0.7);
  pointer-events: none;
}

.slider-certificates--375 {
  width: 100%;
  height: 202px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: pan-y;
}

@keyframes slideInOut {
  from {
    opacity: 0.7;
    filter: blur(1px);
    transform: translate(0px, 0px) scale(0.7, 0.7) skew(0deg, 10deg);
  }
  50% {
    opacity: 1;
    filter: blur(0);
    transform: translate(0px, 0px) scale(1, 1) skew(0deg, 0deg);
  }
  75% {
    transform: translate(0px, 0px) scale(0.7, 0.7) skew(0deg, 10deg);
    opacity: 0.7;
    filter: blur(1px);
  }
  to {
    opacity: 0.3;
  }
}/*# sourceMappingURL=SliderCert.css.map */