@use '../../../../scss/config/_variables.scss' as *;
@use '../../../../scss/config/_mixins.scss' as *;
@use '../../../../scss/config/_patterns.scss' as *;

// _desktop.scss

// .slider {
//   &__svg {
//   }
//   &__svg-info {
//     width: 440px;
//     height: 290px;
//     position: absolute;
//     top: 0;
//     left: 0;
//   }

//   // .slider__svg-title
//   &__svg-title {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 600;
//     font-size: 17px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }

//   // .slider__svg-text
//   &__svg-text {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 500;
//     font-size: 15px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }
// }

// media-1300.scss

.slider--1300 {
  &__svg {
  }
  &__svg-info {
    width: 330px;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
  }
  // .slider__svg-title
  &__svg-title {
    fill: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
    transition: all 0.8s ease;
  }

  // .slider__svg-text
  &__svg-text {
    fill: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    transition: all 0.8s ease;
  }
}

//_media-1133.scss

.slider--1133 {
  &__svg {
  }
  &__svg-info {
    width: 330px;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
  }
  // .slider__svg-title
  &__svg-title {
    fill: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
    transition: all 0.8s ease;
  }

  // .slider__svg-text
  &__svg-text {
    fill: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    transition: all 0.8s ease;
  }
}

//_media-744.scss

// .slider--744 {
//   &__svg {
//   }
//   &__svg-info {
//     width: 440px;
//     height: 290px;
//     position: absolute;
//     top: 0;
//     left: 0;
//   }

//   // .slider__svg-title
//   &__svg-title {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 600;
//     font-size: 17px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }

//   // .slider__svg-text
//   &__svg-text {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 500;
//     font-size: 15px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }
// }

//_media-744l.scss

// .slider--744l {
//   &__svg {
//   }
//   &__svg-info {
//     width: 440px;
//     height: 290px;
//     position: absolute;
//     top: 0;
//     left: 0;
//   }

//   // .slider__svg-title
//   &__svg-title {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 600;
//     font-size: 17px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }

//   // .slider__svg-text
//   &__svg-text {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 500;
//     font-size: 15px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }
// }

//_media-375.scss

.slider--375 {
  &__svg {
  }
  &__svg-info {
    width: 330px;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
  }

  // .slider__svg-title
  &__svg-title {
    fill: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
    transition: all 0.8s ease;
  }

  // .slider__svg-text
  &__svg-text {
    fill: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    transition: all 0.8s ease;
  }
}

//_media-275.scss

// .slider--275 {
//   &__svg {
//   }
//   &__svg-info {
//     width: 330px;
//     height: 220px;
//     position: absolute;
//     top: 0;
//     left: 0;
//   }

//   // .slider__svg-title
//   &__svg-title {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 600;
//     font-size: 15px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }

//   // .slider__svg-text
//   &__svg-text {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 500;
//     font-size: 13px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }
// }


// media-1300.scss
// media-900.scss
// media-600.scss
// media-600l.scss