.procedures__menu {
  width: 400px;
  height: 78px;
  flex-shrink: 0;
  margin: auto;
  left: 0;
  right: 0;
  margin-bottom: 80px;
  padding-left: 5px;
  padding-right: 5px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__item {
  list-style-type: none;
}
.menu__link {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.menu__link-tab {
  width: 200px;
  height: 60px;
  color: rgba(61, 7, 81, 0.7);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
  padding: 12px 0;
}
.menu__link-hover {
  letter-spacing: 3px;
}
.menu__tab-active {
  opacity: 1;
}
.menu__tab-disactive {
  opacity: 0.7;
}

.menu-procedures {
  width: 400px;
  height: 78px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.menu-body {
  background-image: url(../../../../images/menu-body.svg);
}

.menu-face {
  background-image: url(../../../../images/menu-face.svg);
}

.tabs-procedures {
  width: 100%;
  overflow: hidden;
}

.tabs-active {
  display: block;
}

.tabs-disactive {
  display: none;
}

.procedures--1133__menu {
  width: 400px;
  height: 78px;
  flex-shrink: 0;
  margin: auto;
  left: 0;
  right: 0;
  margin-bottom: 80px;
  padding-left: 5px;
  padding-right: 5px;
}

.menu--1133 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu--1133__item {
  list-style-type: none;
}
.menu--1133__link {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.menu--1133__link-tab {
  width: 200px;
  height: 60px;
  color: rgba(61, 7, 81, 0.7);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
  padding: 12px 0;
}
.menu--1133__link-hover {
  letter-spacing: 3px;
}
.menu--1133__tab-active {
  opacity: 1;
}
.menu--1133__tab-disactive {
  opacity: 0.7;
}

.menu-procedures--1133 {
  width: 400px;
  height: 78px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.menu-body--1133 {
  background-image: url(../../../../images/menu-body.svg);
}

.menu-face--1133 {
  background-image: url(../../../../images/menu-face.svg);
}

.tabs-procedures--1133 {
  width: 100%;
  overflow: hidden;
}

.tabs-active--1133 {
  display: block;
}

.tabs-disactive--1133 {
  display: none;
}

.procedures--744__menu {
  width: 400px;
  height: 78px;
  flex-shrink: 0;
  margin: auto;
  left: 0;
  right: 0;
  margin-bottom: 80px;
  padding-left: 5px;
  padding-right: 5px;
}

.menu--744 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu--744__item {
  list-style-type: none;
}
.menu--744__link {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.menu--744__link-tab {
  width: 200px;
  height: 60px;
  color: rgba(61, 7, 81, 0.7);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
  padding: 12px 0;
}
.menu--744__link-hover {
  letter-spacing: 3px;
}
.menu--744__tab-active {
  opacity: 1;
}
.menu--744__tab-disactive {
  opacity: 0.7;
}

.menu-procedures--744 {
  width: 400px;
  height: 78px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.menu-body--744 {
  background-image: url(../../../../images/menu-body.svg);
}

.menu-face--744 {
  background-image: url(../../../../images/menu-face.svg);
}

.tabs-procedures--744 {
  width: 100%;
  overflow: hidden;
}

.tabs-active--744 {
  display: block;
}

.tabs-disactive--744 {
  display: none;
}

.procedures--744l__menu {
  width: 268px;
  height: 40px;
  flex-shrink: 0;
  margin: auto;
  left: 0;
  right: 0;
  margin-bottom: 50px;
  padding-left: 5px;
  padding-right: 5px;
}

.menu--744l {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu--744l__item {
  list-style-type: none;
}
.menu--744l__link {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.menu--744l__link-tab {
  width: 134px;
  height: 40px;
  color: rgba(61, 7, 81, 0.7);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
  padding: 8px 0;
}
.menu--744l__link-hover {
  letter-spacing: 3px;
}
.menu--744l__tab-active {
  opacity: 1;
}
.menu--744l__tab-disactive {
  opacity: 0.7;
}

.menu-procedures--744l {
  width: 268px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.menu-body--744l {
  background-image: url(../../../../images/menu-body375.svg);
}

.menu-face--744l {
  background-image: url(../../../../images/menu-face375.svg);
}

.tabs-procedures--744l {
  width: 100%;
  overflow: hidden;
}

.tabs-active--744l {
  display: block;
}

.tabs-disactive--744l {
  display: none;
}

.procedures--375__menu {
  width: 268px;
  height: 40px;
  flex-shrink: 0;
  margin: auto;
  left: 0;
  right: 0;
  margin-bottom: 50px;
  padding-left: 5px;
  padding-right: 5px;
}

.menu--375 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu--375__item {
  list-style-type: none;
}
.menu--375__link {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.menu--375__link-tab {
  width: 134px;
  height: 40px;
  color: rgba(61, 7, 81, 0.7);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
  padding: 8px 0;
}
.menu--375__link-hover {
  letter-spacing: 3px;
}
.menu--375__tab-active {
  opacity: 1;
}
.menu--375__tab-disactive {
  opacity: 0.7;
}

.menu-procedures--375 {
  width: 268px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.menu-body--375 {
  background-image: url(../../../../images/menu-body375.svg);
}

.menu-face--375 {
  background-image: url(../../../../images/menu-face375.svg);
}

.tabs-procedures--375 {
  width: 100%;
  overflow: hidden;
}

.tabs-active--375 {
  display: block;
}

.tabs-disactive--375 {
  display: none;
}/*# sourceMappingURL=ProceduresTabs.css.map */