@charset "UTF-8";
.content--1728__wranning-article {
  width: 100%;
  height: 40px;
  margin-top: 30px;
}
.content--1728__inner-article {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content--1728__inner {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content--1728__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--1728__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.article--1728__body {
  color: #3d0751;
}
.article--1728__title {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 43px;
}
.article--1728__content {
  width: 100%;
  max-height: calc(100vh - 500px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
  scrollbar-width: thin;
}
.article--1728__conten::-webkit-scrollbar {
  width: 4px;
  /* ширина для вертикального скролла */
  height: 4px;
  background-color: rgba(236, 209, 242, 0.3);
}
.article--1728__conten::-webkit-scrollbar-thumb {
  background: rgba(201, 117, 216, 0.3);
}
.article--1728__block {
  margin-bottom: 40px;
  padding-right: 10px;
}
.article--1728__block:last-child {
  margin-bottom: 0;
}
.article--1728__title-sub {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 14px;
}
.article--1728__title-procedure {
  margin-bottom: 13px;
}
.article--1728__p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.article--1728__p-item {
  font-size: 15px;
}
.article--1728__span {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.article--1728__span-machine {
  display: block;
}
.article--1728__image {
  width: 443px;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 3px 3px 3px 0px rgba(201, 117, 216, 0.7);
}
.article--1728__item {
  position: relative;
  padding-left: 25px;
  list-style-type: none;
}
.article--1728__item::before {
  content: "";
  position: absolute;
  border-color: #3d0751;
  border-style: solid;
  border-width: 2px;
  height: 2px;
  border-radius: 50%;
  left: 10px;
  top: 11px;
}
.article--1728__item-price {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content--1300__wranning-article {
  width: 100%;
  height: 40px;
  margin-top: 30px;
}
.content--1300__inner-article {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content--1300__inner {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content--1300__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--1300__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.article--1300__body {
  color: #3d0751;
}
.article--1300__title {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 43px;
}
.article--1300__content {
  width: 100%;
  max-height: calc(100vh - 500px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
  scrollbar-width: thin;
}
.article--1300__conten::-webkit-scrollbar {
  width: 4px;
  /* ширина для вертикального скролла */
  height: 4px;
  background-color: rgba(236, 209, 242, 0.3);
}
.article--1300__conten::-webkit-scrollbar-thumb {
  background: rgba(201, 117, 216, 0.3);
}
.article--1300__block {
  margin-bottom: 40px;
  padding-right: 10px;
}
.article--1300__block:last-child {
  margin-bottom: 0;
}
.article--1300__title-sub {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 14px;
}
.article--1300__title-procedure {
  margin-bottom: 13px;
}
.article--1300__p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.article--1300__p-item {
  font-size: 15px;
}
.article--1300__span {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.article--1300__span-machine {
  display: block;
}
.article--1300__image {
  width: 443px;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 3px 3px 3px 0px rgba(201, 117, 216, 0.7);
}
.article--1300__item {
  position: relative;
  padding-left: 25px;
  list-style-type: none;
}
.article--1300__item::before {
  content: "";
  position: absolute;
  border-color: #3d0751;
  border-style: solid;
  border-width: 2px;
  height: 2px;
  border-radius: 50%;
  left: 10px;
  top: 11px;
}
.article--1300__item-price {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content--1133__wranning-article {
  width: 100%;
  height: 40px;
  margin-top: 30px;
}
.content--1133__inner-article {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content--1133__inner {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content--1133__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--1133__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.article--1133__body {
  color: #3d0751;
}
.article--1133__title {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 43px;
}
.article--1133__content {
  width: 100%;
  max-height: calc(100vh - 500px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
  scrollbar-width: thin;
}
.article--1133__conten::-webkit-scrollbar {
  width: 4px;
  /* ширина для вертикального скролла */
  height: 4px;
  background-color: rgba(236, 209, 242, 0.3);
}
.article--1133__conten::-webkit-scrollbar-thumb {
  background: rgba(201, 117, 216, 0.3);
}
.article--1133__block {
  margin-bottom: 40px;
  padding-right: 10px;
}
.article--1133__block:last-child {
  margin-bottom: 0;
}
.article--1133__title-sub {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 14px;
}
.article--1133__title-procedure {
  margin-bottom: 13px;
}
.article--1133__p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.article--1133__p-item {
  font-size: 15px;
}
.article--1133__span {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.article--1133__span-machine {
  display: block;
}
.article--1133__image {
  width: 443px;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 3px 3px 3px 0px rgba(201, 117, 216, 0.7);
}
.article--1133__item {
  position: relative;
  padding-left: 25px;
  list-style-type: none;
}
.article--1133__item::before {
  content: "";
  position: absolute;
  border-color: #3d0751;
  border-style: solid;
  border-width: 2px;
  height: 2px;
  border-radius: 50%;
  left: 10px;
  top: 11px;
}
.article--1133__item-price {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content--900__wranning-article {
  width: 100%;
  height: 52px;
  margin-top: 30px;
}
.content--900__inner-article {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content--900__inner-article {
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content--900__inner-windows {
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content--900__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--900__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.article--900__body {
  color: #3d0751;
}
.article--900__title {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 20px;
}
.article--900__content {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
  scrollbar-width: thin;
}
.article--900__conten::-webkit-scrollbar {
  width: 4px;
  /* ширина для вертикального скролла */
  height: 4px;
  background-color: rgba(236, 209, 242, 0.3);
}
.article--900__conten::-webkit-scrollbar-thumb {
  background: rgba(201, 117, 216, 0.3);
}
.article--900__block {
  margin-bottom: 40px;
  padding-right: 10px;
}
.article--900__block:last-child {
  margin-bottom: 0;
}
.article--900__title-sub {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 14px;
}
.article--900__title-procedure {
  margin-bottom: 13px;
}
.article--900__p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.article--900__p-item {
  font-size: 15px;
}
.article--900__span {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.article--900__span-machine {
  display: block;
}
.article--900__image {
  width: 443px;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 3px 3px 3px 0px rgba(201, 117, 216, 0.7);
}
.article--900__item {
  position: relative;
  padding-left: 25px;
  list-style-type: none;
}
.article--900__item::before {
  content: "";
  position: absolute;
  border-color: #3d0751;
  border-style: solid;
  border-width: 2px;
  height: 2px;
  border-radius: 50%;
  left: 10px;
  top: 11px;
}
.article--900__item-price {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content--744__wranning-article {
  width: 100%;
  height: 40px;
  margin-top: 30px;
}
.content--744__inner-article {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content--744__inner {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content--744__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--744__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.article--744__body {
  color: #3d0751;
}
.article--744__title {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 43px;
}
.article--744__content {
  width: 100%;
  max-height: calc(100vh - 500px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
  scrollbar-width: thin;
}
.article--744__conten::-webkit-scrollbar {
  width: 4px;
  /* ширина для вертикального скролла */
  height: 4px;
  background-color: rgba(236, 209, 242, 0.3);
}
.article--744__conten::-webkit-scrollbar-thumb {
  background: rgba(201, 117, 216, 0.3);
}
.article--744__block {
  margin-bottom: 40px;
  padding-right: 10px;
}
.article--744__block:last-child {
  margin-bottom: 0;
}
.article--744__title-sub {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 14px;
}
.article--744__title-procedure {
  margin-bottom: 13px;
}
.article--744__p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.article--744__p-item {
  font-size: 15px;
}
.article--744__span {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.article--744__span-machine {
  display: block;
}
.article--744__image {
  width: 443px;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 3px 3px 3px 0px rgba(201, 117, 216, 0.7);
}
.article--744__item {
  position: relative;
  padding-left: 25px;
  list-style-type: none;
}
.article--744__item::before {
  content: "";
  position: absolute;
  border-color: #3d0751;
  border-style: solid;
  border-width: 2px;
  height: 2px;
  border-radius: 50%;
  left: 10px;
  top: 11px;
}
.article--744__item-price {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content--744l__wranning-article {
  width: 100%;
  height: 52px;
  margin-top: 30px;
}
.content--744l__inner-article {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content--744l__inner-article {
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content--744l__inner-windows {
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content--744l__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--744l__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.article--744l__body {
  color: #3d0751;
}
.article--744l__title {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 20px;
}
.article--744l__content {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
  scrollbar-width: thin;
}
.article--744l__conten::-webkit-scrollbar {
  width: 4px;
  /* ширина для вертикального скролла */
  height: 4px;
  background-color: rgba(236, 209, 242, 0.3);
}
.article--744l__conten::-webkit-scrollbar-thumb {
  background: rgba(201, 117, 216, 0.3);
}
.article--744l__block {
  margin-bottom: 40px;
  padding-right: 10px;
}
.article--744l__block:last-child {
  margin-bottom: 0;
}
.article--744l__title-sub {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 14px;
}
.article--744l__title-procedure {
  margin-bottom: 13px;
}
.article--744l__p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.article--744l__p-item {
  font-size: 15px;
}
.article--744l__span {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.article--744l__span-machine {
  display: block;
}
.article--744l__image {
  width: 443px;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 3px 3px 3px 0px rgba(201, 117, 216, 0.7);
}
.article--744l__item {
  position: relative;
  padding-left: 25px;
  list-style-type: none;
}
.article--744l__item::before {
  content: "";
  position: absolute;
  border-color: #3d0751;
  border-style: solid;
  border-width: 2px;
  height: 2px;
  border-radius: 50%;
  left: 10px;
  top: 11px;
}
.article--744l__item-price {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content--600__wranning-article {
  width: 100%;
  height: 52px;
  margin-top: 30px;
}
.content--600__inner-article {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content--600__inner-article {
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content--600__inner-windows {
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content--600__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--600__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.article--600__body {
  color: #3d0751;
}
.article--600__title {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 20px;
}
.article--600__content {
  width: 100%;
  max-height: calc(100vh - 220px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
  scrollbar-width: thin;
}
.article--600__conten::-webkit-scrollbar {
  width: 4px;
  /* ширина для вертикального скролла */
  height: 4px;
  background-color: rgba(236, 209, 242, 0.3);
}
.article--600__conten::-webkit-scrollbar-thumb {
  background: rgba(201, 117, 216, 0.3);
}
.article--600__block {
  margin-bottom: 40px;
  padding-right: 10px;
}
.article--600__block:last-child {
  margin-bottom: 0;
}
.article--600__title-sub {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 14px;
}
.article--600__title-procedure {
  margin-bottom: 13px;
}
.article--600__p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.article--600__p-item {
  font-size: 15px;
}
.article--600__span {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.article--600__span-machine {
  display: block;
}
.article--600__image {
  width: 322px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 3px 3px 3px 0px rgba(201, 117, 216, 0.7);
}
.article--600__item {
  position: relative;
  padding-left: 25px;
  list-style-type: none;
}
.article--600__item::before {
  content: "";
  position: absolute;
  border-color: #3d0751;
  border-style: solid;
  border-width: 2px;
  height: 2px;
  border-radius: 50%;
  left: 10px;
  top: 11px;
}
.article--600__item-price {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content--600l__wranning-article {
  width: 100%;
  height: 52px;
  margin-top: 30px;
}
.content--600l__inner-article {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content--600l__inner-article {
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content--600l__inner-windows {
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content--600l__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--600l__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.article--600l__body {
  color: #3d0751;
}
.article--600l__title {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 20px;
}
.article--600l__content {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
  scrollbar-width: thin;
}
.article--600l__conten::-webkit-scrollbar {
  width: 4px;
  /* ширина для вертикального скролла */
  height: 4px;
  background-color: rgba(236, 209, 242, 0.3);
}
.article--600l__conten::-webkit-scrollbar-thumb {
  background: rgba(201, 117, 216, 0.3);
}
.article--600l__block {
  margin-bottom: 40px;
  padding-right: 10px;
}
.article--600l__block:last-child {
  margin-bottom: 0;
}
.article--600l__title-sub {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 14px;
}
.article--600l__title-procedure {
  margin-bottom: 13px;
}
.article--600l__p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.article--600l__p-item {
  font-size: 15px;
}
.article--600l__span {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.article--600l__span-machine {
  display: block;
}
.article--600l__image {
  width: 443px;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 3px 3px 3px 0px rgba(201, 117, 216, 0.7);
}
.article--600l__item {
  position: relative;
  padding-left: 25px;
  list-style-type: none;
}
.article--600l__item::before {
  content: "";
  position: absolute;
  border-color: #3d0751;
  border-style: solid;
  border-width: 2px;
  height: 2px;
  border-radius: 50%;
  left: 10px;
  top: 11px;
}
.article--600l__item-price {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content--375__wranning-article {
  width: 100%;
  height: 52px;
  margin-top: 30px;
}
.content--375__inner-article {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content--375__inner-article {
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content--375__inner-windows {
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content--375__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--375__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.article--375__body {
  color: #3d0751;
}
.article--375__title {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 20px;
}
.article--375__content {
  width: 100%;
  max-height: calc(100vh - 220px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
  scrollbar-width: thin;
}
.article--375__conten::-webkit-scrollbar {
  width: 4px;
  /* ширина для вертикального скролла */
  height: 4px;
  background-color: rgba(236, 209, 242, 0.3);
}
.article--375__conten::-webkit-scrollbar-thumb {
  background: rgba(201, 117, 216, 0.3);
}
.article--375__block {
  margin-bottom: 40px;
  padding-right: 10px;
}
.article--375__block:last-child {
  margin-bottom: 0;
}
.article--375__title-sub {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 14px;
}
.article--375__title-procedure {
  margin-bottom: 13px;
}
.article--375__p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.article--375__p-item {
  font-size: 15px;
}
.article--375__span {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.article--375__span-machine {
  display: block;
}
.article--375__image {
  width: 322px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 3px 3px 3px 0px rgba(201, 117, 216, 0.7);
}
.article--375__item {
  position: relative;
  padding-left: 25px;
  list-style-type: none;
}
.article--375__item::before {
  content: "";
  position: absolute;
  border-color: #3d0751;
  border-style: solid;
  border-width: 2px;
  height: 2px;
  border-radius: 50%;
  left: 10px;
  top: 11px;
}
.article--375__item-price {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content--275__wranning-article {
  width: 100%;
  height: 20px;
  margin-top: 30px;
}
.content--275__inner-article {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.content--275__inner-article {
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content--275__inner-windows {
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content--275__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--275__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.article--275__body {
  color: #3d0751;
}
.article--275__title {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 20px;
}
.article--275__content {
  width: 100%;
  max-height: calc(100vh - 188px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
  scrollbar-width: thin;
}
.article--275__conten::-webkit-scrollbar {
  width: 4px;
  /* ширина для вертикального скролла */
  height: 4px;
  background-color: rgba(236, 209, 242, 0.3);
}
.article--275__conten::-webkit-scrollbar-thumb {
  background: rgba(201, 117, 216, 0.3);
}
.article--275__block {
  margin-bottom: 40px;
  padding-right: 10px;
}
.article--275__block:last-child {
  margin-bottom: 0;
}
.article--275__title-sub {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 14px;
}
.article--275__title-procedure {
  margin-bottom: 13px;
}
.article--275__p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.article--275__p-item {
  font-size: 15px;
}
.article--275__span {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.article--275__span-machine {
  display: block;
}
.article--275__image {
  width: 255px;
  height: 134px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 3px 3px 3px 0px rgba(201, 117, 216, 0.7);
}
.article--275__item {
  position: relative;
  padding-left: 25px;
  list-style-type: none;
}
.article--275__item::before {
  content: "";
  position: absolute;
  border-color: #3d0751;
  border-style: solid;
  border-width: 2px;
  height: 2px;
  border-radius: 50%;
  left: 10px;
  top: 11px;
}
.article--275__item-price {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=ModalContentA.css.map */