@use '../../../../../scss/config/_variables.scss' as *;
@use '../../../../../scss/config/_mixins.scss' as *;
@use '../../../../../scss/config/_patterns.scss' as *;

// _desktop.scss

.content {
  // .content__inner
  &__inner {
    width: 100%;
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .content__p
  &__p {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #3d0751;
    white-space: nowrap;
  }

  // .content__phone
  &__phone {
  }

  // .content__number
  &__number {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: right;
    color: #3d0751;
    white-space: nowrap;
  }

  // .content__stock
  &__stock {
  }

  // .content__wranning-stock
  &__wranning-stock {
  }

  // .content__inner-stock
  &__inner-stock {
  }

  // .content__p-stock
  &__p-stock {
  }

  // .content__phone-stock
  &__phone-stock {
  }
}

.stock {
  // .stock__title
  &__title {
    font-family: $ff-Roboto;
    font-size: 29px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #3d0751;
    margin-bottom: 43px;
  }

  // .stock__slider
  &__slider {
  }
}

.slider {
  // .slider__slide
  &__slide {
  }

  // .slider__slide-stock
  &__slide-stock {
    display: none;
    width: 100%;
    height: 162px;
    // height: 204px;
  }

  // .slider__items
  &__items {
  }

  // .slider__items-stock
  &__items-stock {
  }

  // .slider__item
  &__item {
  }

  // .slider__item-stock
  &__item-stock {
    width: 100%;
    height: 182px;
    // height: 204px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .slider__slide-stock-active
  &__slide-stock-active {
    display: block;
    opacity: 0;
    animation-name: slideActiveStock;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-delay: -250ms;
    animation-direction: alternate;
    transition: all 2s ease-in;
  }

  @keyframes slideActiveStock {
    from {
      opacity: 0;
      filter: blur(2px);
      transform: scale(0);
    }

    20% {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }

    60% {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }

    to {
      opacity: 0;
      filter: blur(2px);
      transform: scale(1.2);
    }
  }

  // .slider__slide-home
  &__slide-home {
  }

  // .slider__slide-reviews
  &__slide-reviews {
  }
}

.slider-stock {
  width: 100%;
  height: 182px;
//   height: 204px;
  margin-bottom: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  // .slide__content
  &__content {
  }

  // .slide__content-stock
  &__content-stock {
  }

  // .slide__stock
  &__stock {
    font-family: $ff-Roboto;
    font-size: 17px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #3d0751;
    //   margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
  }

  // .slide__value
  &__value {
    font-family: $ff-Roboto;
    font-size: 128px;
    line-height: 150px;
    text-align: center;
    color: #3d0751;
    white-space: nowrap;
    overflow: hidden;

    animation-name: stockValueOutIn;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 0.8s;
    transition: font-size 0.5s ease-in-out;
  }

  // .slide__span
  &__span {
    display: inline-block;
    font-family: $ff-Roboto;
    font-size: 128px;
    line-height: 150px;
    text-align: center;
    color: #3d0751;
    // color: #74e600;

    animation-name: stockValueOutIn;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 0.8s;
    transition: font-size 0.5s ease-in-out;
  }

  &__span-num {
    font-weight: 400;
  }

  &__span-symbol {
    font-weight: 300;
    margin-left: -3px;
  }

  @keyframes stockValueOutIn {
    from {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    5% {
      font-size: 135px;
      filter: blur(1px);
      opacity: 0.9;
    }

    10% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    20% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    25% {
      font-size: 120px;
      filter: blur(1px);
      opacity: 0.9;
    }

    90% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    to {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }
  }

  // .slide__content-home
  &__content-home {
  }

  // .slide__home
  &__home {
  }

  // .slide__comment
  &__comment {
  }

  // .slide__content-reviews
  &__content-reviews {
  }

  // .slide__user
  &__user {
  }

  // .slide__reviews
  &__reviews {
  }
}

.slide-stock {
  width: 100%;
  height: 162px;
//   height: 204px;
}


// media-1300.scss

.content--1300 {
  // .content__inner
  &__inner {
    width: 100%;
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .content__p
  &__p {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #3d0751;
    white-space: nowrap;
  }

  // .content__phone
  &__phone {
  }

  // .content__number
  &__number {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: right;
    color: #3d0751;
    white-space: nowrap;
  }

  // .content__stock
  &__stock {
  }

  // .content__wranning-stock
  &__wranning-stock {
  }

  // .content__inner-stock
  &__inner-stock {
  }

  // .content__p-stock
  &__p-stock {
  }

  // .content__phone-stock
  &__phone-stock {
  }
}

.stock--1300 {
  // .stock__title
  &__title {
    font-family: $ff-Roboto;
    font-size: 29px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #3d0751;
    margin-bottom: 43px;
  }

  // .stock__slider
  &__slider {
  }
}

.slider--1300 {
  // .slider__slide
  &__slide {
  }

  // .slider__slide-stock
  &__slide-stock {
    display: none;
    width: 100%;
    height: 162px;
    // height: 204px;
  }

  // .slider__items
  &__items {
  }

  // .slider__items-stock
  &__items-stock {
  }

  // .slider__item
  &__item {
  }

  // .slider__item-stock
  &__item-stock {
    width: 100%;
    height: 182px;
    // height: 204px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .slider__slide-stock-active
  &__slide-stock-active {
    display: block;
    opacity: 0;
    animation-name: slideActiveStock;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-delay: -250ms;
    animation-direction: alternate;
    transition: all 2s ease-in;
  }

  @keyframes slideActiveStock {
    from {
      opacity: 0;
      filter: blur(2px);
      transform: scale(0);
    }

    20% {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }

    60% {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }

    to {
      opacity: 0;
      filter: blur(2px);
      transform: scale(1.2);
    }
  }

  // .slider__slide-home
  &__slide-home {
  }

  // .slider__slide-reviews
  &__slide-reviews {
  }
}

.slider-stock--1300 {
  width: 100%;
  height: 182px;
//   height: 204px;
  margin-bottom: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide--1300 {
  // .slide__content
  &__content {
  }

  // .slide__content-stock
  &__content-stock {
  }

  // .slide__stock
  &__stock {
    font-family: $ff-Roboto;
    font-size: 17px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #3d0751;
    //   margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
  }

  // .slide__value
  &__value {
    font-family: $ff-Roboto;
    font-size: 128px;
    line-height: 150px;
    text-align: center;
    color: #3d0751;
    white-space: nowrap;
    overflow: hidden;

    animation-name: stockValueOutIn;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 0.8s;
    transition: font-size 0.5s ease-in-out;
  }

  // .slide__span
  &__span {
    display: inline-block;
    font-family: $ff-Roboto;
    font-size: 128px;
    line-height: 150px;
    text-align: center;
    color: #3d0751;
    // color: #74e600;

    animation-name: stockValueOutIn;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 0.8s;
    transition: font-size 0.5s ease-in-out;
  }

  &__span-num {
    font-weight: 400;
  }

  &__span-symbol {
    font-weight: 300;
    margin-left: -3px;
  }

  @keyframes stockValueOutIn {
    from {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    5% {
      font-size: 135px;
      filter: blur(1px);
      opacity: 0.9;
    }

    10% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    20% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    25% {
      font-size: 120px;
      filter: blur(1px);
      opacity: 0.9;
    }

    90% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    to {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }
  }

  // .slide__content-home
  &__content-home {
  }

  // .slide__home
  &__home {
  }

  // .slide__comment
  &__comment {
  }

  // .slide__content-reviews
  &__content-reviews {
  }

  // .slide__user
  &__user {
  }

  // .slide__reviews
  &__reviews {
  }
}

.slide-stock--1300 {
  width: 100%;
  height: 162px;
//   height: 204px;
}


// _media-1133.scss

.content--1133 {
  // .content__inner
  &__inner {
    width: 100%;
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .content__p
  &__p {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #3d0751;
    white-space: nowrap;
  }

  // .content__phone
  &__phone {
  }

  // .content__number
  &__number {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: right;
    color: #3d0751;
    white-space: nowrap;
  }

  // .content__stock
  &__stock {
  }

  // .content__wranning-stock
  &__wranning-stock {
  }

  // .content__inner-stock
  &__inner-stock {
  }

  // .content__p-stock
  &__p-stock {
  }

  // .content__phone-stock
  &__phone-stock {
  }
}

.stock--1133 {
  // .stock__title
  &__title {
    font-family: $ff-Roboto;
    font-size: 29px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #3d0751;
    margin-bottom: 43px;
  }

  // .stock__slider
  &__slider {
  }
}

.slider--1133 {
  // .slider__slide
  &__slide {
  }

  // .slider__slide-stock
  &__slide-stock {
    display: none;
    width: 100%;
    height: 162px;
    // height: 204px;
  }

  // .slider__items
  &__items {
  }

  // .slider__items-stock
  &__items-stock {
  }

  // .slider__item
  &__item {
  }

  // .slider__item-stock
  &__item-stock {
    width: 100%;
    height: 182px;
    // height: 204px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .slider__slide-stock-active
  &__slide-stock-active {
    display: block;
    opacity: 0;
    animation-name: slideActiveStock;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-delay: -250ms;
    animation-direction: alternate;
    transition: all 2s ease-in;
  }

  @keyframes slideActiveStock {
    from {
      opacity: 0;
      filter: blur(2px);
      transform: scale(0);
    }

    20% {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }

    60% {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }

    to {
      opacity: 0;
      filter: blur(2px);
      transform: scale(1.2);
    }
  }

  // .slider__slide-home
  &__slide-home {
  }

  // .slider__slide-reviews
  &__slide-reviews {
  }
}

.slider-stock--1133 {
  width: 100%;
  height: 182px;
//   height: 204px;
  margin-bottom: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide--1133 {
  // .slide__content
  &__content {
  }

  // .slide__content-stock
  &__content-stock {
  }

  // .slide__stock
  &__stock {
    font-family: $ff-Roboto;
    font-size: 17px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #3d0751;
    //   margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
  }

  // .slide__value
  &__value {
    font-family: $ff-Roboto;
    font-size: 128px;
    line-height: 150px;
    text-align: center;
    color: #3d0751;
    white-space: nowrap;
    overflow: hidden;

    animation-name: stockValueOutIn;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 0.8s;
    transition: font-size 0.5s ease-in-out;
  }

  // .slide__span
  &__span {
    display: inline-block;
    font-family: $ff-Roboto;
    font-size: 128px;
    line-height: 150px;
    text-align: center;
    color: #3d0751;
    // color: #74e600;

    animation-name: stockValueOutIn;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 0.8s;
    transition: font-size 0.5s ease-in-out;
  }

  &__span-num {
    font-weight: 400;
  }

  &__span-symbol {
    font-weight: 300;
    margin-left: -3px;
  }

  @keyframes stockValueOutIn {
    from {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    5% {
      font-size: 135px;
      filter: blur(1px);
      opacity: 0.9;
    }

    10% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    20% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    25% {
      font-size: 120px;
      filter: blur(1px);
      opacity: 0.9;
    }

    90% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    to {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }
  }

  // .slide__content-home
  &__content-home {
  }

  // .slide__home
  &__home {
  }

  // .slide__comment
  &__comment {
  }

  // .slide__content-reviews
  &__content-reviews {
  }

  // .slide__user
  &__user {
  }

  // .slide__reviews
  &__reviews {
  }
}

.slide-stock--1133 {
  width: 100%;
  height: 162px;
//   height: 204px;
}

// media-900.scss

// .content--900 {
//   // .content__inner
//   &__inner {
//     width: 100%;
//     height: 18px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }

//   // .content__p
//   &__p {
//     font-family: Roboto;
//     font-size: 15px;
//     font-weight: 300;
//     line-height: 18px;
//     letter-spacing: 0.07em;
//     text-align: left;
//     color: #3d0751;
//     white-space: nowrap;
//   }

//   // .content__phone
//   &__phone {
//   }

//   // .content__number
//   &__number {
//     font-family: Roboto;
//     font-size: 15px;
//     font-weight: 600;
//     line-height: 18px;
//     letter-spacing: 0.1em;
//     text-align: right;
//     color: #3d0751;
//     white-space: nowrap;
//   }

//   // .content__stock
//   &__stock {
//   }

//   // .content__wranning-stock
//   &__wranning-stock {
//   }

//   // .content__inner-stock
//   &__inner-stock {
//   }

//   // .content__p-stock
//   &__p-stock {
//   }

//   // .content__phone-stock
//   &__phone-stock {
//   }
// }

// .stock--900 {
//   // .stock__title
//   &__title {
//     font-family: $ff-Roboto;
//     font-size: 29px;
//     font-weight: 700;
//     line-height: 34px;
//     letter-spacing: 0.1em;
//     text-align: center;
//     color: #3d0751;
//     margin-bottom: 43px;
//   }

//   // .stock__slider
//   &__slider {
//   }
// }

// .slider--900 {
//   // .slider__slide
//   &__slide {
//   }

//   // .slider__slide-stock
//   &__slide-stock {
//     display: none;
//     width: 100%;
//     height: 162px;
//     // height: 204px;
//   }

//   // .slider__items
//   &__items {
//   }

//   // .slider__items-stock
//   &__items-stock {
//   }

//   // .slider__item
//   &__item {
//   }

//   // .slider__item-stock
//   &__item-stock {
//     width: 100%;
//     height: 182px;
//     // height: 204px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }

//   // .slider__slide-stock-active
//   &__slide-stock-active {
//     display: block;
//     opacity: 0;
//     animation-name: slideActiveStock;
//     animation-duration: 6s;
//     animation-iteration-count: 1;
//     animation-delay: -250ms;
//     animation-direction: alternate;
//     transition: all 2s ease-in;
//   }

//   @keyframes slideActiveStock {
//     from {
//       opacity: 0;
//       filter: blur(2px);
//       transform: scale(0);
//     }

//     20% {
//       opacity: 1;
//       filter: blur(0);
//       transform: scale(1);
//     }

//     60% {
//       opacity: 1;
//       filter: blur(0);
//       transform: scale(1);
//     }

//     to {
//       opacity: 0;
//       filter: blur(2px);
//       transform: scale(1.2);
//     }
//   }

//   // .slider__slide-home
//   &__slide-home {
//   }

//   // .slider__slide-reviews
//   &__slide-reviews {
//   }
// }

// .slider-stock--900 {
//   width: 100%;
//   height: 182px;
// //   height: 204px;
//   margin-bottom: 26px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .slide--900 {
//   // .slide__content
//   &__content {
//   }

//   // .slide__content-stock
//   &__content-stock {
//   }

//   // .slide__stock
//   &__stock {
//     font-family: $ff-Roboto;
//     font-size: 17px;
//     font-weight: 600;
//     line-height: 18px;
//     letter-spacing: 0.1em;
//     text-align: center;
//     color: #3d0751;
//     //   margin-bottom: 30px;
//     white-space: nowrap;
//     overflow: hidden;
//   }

//   // .slide__value
//   &__value {
//     font-family: $ff-Roboto;
//     font-size: 128px;
//     line-height: 150px;
//     text-align: center;
//     color: #3d0751;
//     white-space: nowrap;
//     overflow: hidden;

//     animation-name: stockValueOutIn;
//     animation-duration: 5s;
//     animation-iteration-count: 1;
//     animation-delay: 0.8s;
//     transition: font-size 0.5s ease-in-out;
//   }

//   // .slide__span
//   &__span {
//     display: inline-block;
//     font-family: $ff-Roboto;
//     font-size: 128px;
//     line-height: 150px;
//     text-align: center;
//     color: #3d0751;
//     // color: #74e600;

//     animation-name: stockValueOutIn;
//     animation-duration: 5s;
//     animation-iteration-count: 1;
//     animation-delay: 0.8s;
//     transition: font-size 0.5s ease-in-out;
//   }

//   &__span-num {
//     font-weight: 400;
//   }

//   &__span-symbol {
//     font-weight: 300;
//     margin-left: -3px;
//   }

//   @keyframes stockValueOutIn {
//     from {
//       font-size: 128px;
//       filter: blur(0);
//       opacity: 1;
//     }

//     5% {
//       font-size: 135px;
//       filter: blur(1px);
//       opacity: 0.9;
//     }

//     10% {
//       font-size: 128px;
//       filter: blur(0);
//       opacity: 1;
//     }

//     20% {
//       font-size: 128px;
//       filter: blur(0);
//       opacity: 1;
//     }

//     25% {
//       font-size: 120px;
//       filter: blur(1px);
//       opacity: 0.9;
//     }

//     90% {
//       font-size: 128px;
//       filter: blur(0);
//       opacity: 1;
//     }

//     to {
//       font-size: 128px;
//       filter: blur(0);
//       opacity: 1;
//     }
//   }

//   // .slide__content-home
//   &__content-home {
//   }

//   // .slide__home
//   &__home {
//   }

//   // .slide__comment
//   &__comment {
//   }

//   // .slide__content-reviews
//   &__content-reviews {
//   }

//   // .slide__user
//   &__user {
//   }

//   // .slide__reviews
//   &__reviews {
//   }
// }

// .slide-stock--900 {
//   width: 100%;
//   height: 162px;
// //   height: 204px;
// }

.content--900 {
  // .content__inner
  &__inner {
    width: 100%;
    height: 100%;
    // height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  // .content__p
  &__p {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #3d0751;
    white-space: nowrap;
  }

  // .content__phone
  &__phone {
  }

  // .content__number
  &__number {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: right;
    color: #3d0751;
    white-space: nowrap;
  }

  // .content__stock
  &__stock {
  }

  // .content__wranning-stock
  &__wranning-stock {
    width: 100%;
    height: 18px;
    margin-top: 43px;
  }

  // .content__inner-stock
  &__inner-stock {
    width: 100%;
    height: 18px;
    // height: 18px;
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  // .content__p-stock
  &__p-stock {
  }

  // .content__phone-stock
  &__phone-stock {
  }
}

.stock--900 {
  // .stock__title
  &__title {
    font-family: $ff-Roboto;
    font-size: 29px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #3d0751;
    margin-bottom: 43px;
  }

  // .stock__slider
  &__slider {
    width: 100%;
    // max-height: calc(100vh - 310px);
    // width: 100%;
    // max-height: calc(100vh - 280px);
    overflow-y: hidden;
    overflow-x: hidden;
    // scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
    // scrollbar-width: thin;
  }
}

.slider--900 {
  // .slider__slide
  &__slide {
  }

  // .slider__slide-stock
  &__slide-stock {
    display: block;
    opacity: 1;
    width: 100%;
    height: 162px;
    margin-bottom: 30px;
  }

  &__slide-stock:last-child {
    margin-bottom: 0;
  }

  // .slider__items
  &__items {
    width: 100%;
    // max-height: calc(100vh - 310px);
    // max-height: calc(100vh - 280px);
  }

  // .slider__items-stock
  &__items-stock {
  }

  // .slider__item
  &__item {
  }

  // .slider__item-stock
  &__item-stock {
    width: 100%;
    // height: 204px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    // max-height: calc(100vh - 310px);
    // max-height: calc(100vh - 280px);
    // overflow-y: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
    scrollbar-width: thin;
  }

  // .slider__slide-stock-active
  &__slide-stock-active {
    // display: block;
    // opacity: 0;
    // animation-name: slideActiveStock;
    // animation-duration: 6s;
    // animation-iteration-count: 1;
    // animation-delay: -250ms;
    // animation-direction: alternate;
    // transition: all 2s ease-in;
  }

  @keyframes slideActiveStock {
    from {
      opacity: 0;
      filter: blur(2px);
      transform: scale(0);
    }

    20% {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }

    60% {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }

    to {
      opacity: 0;
      filter: blur(2px);
      transform: scale(1.2);
    }
  }

  // .slider__slide-home
  &__slide-home {
  }

  // .slider__slide-reviews
  &__slide-reviews {
  }
}

.slider-stock--900 {

}

.slide--900 {
  // .slide__content
  &__content {
  }

  // .slide__content-stock
  &__content-stock {
  }

  // .slide__stock
  &__stock {
    font-family: $ff-Roboto;
    font-size: 17px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #3d0751;
    //   margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
  }

  // .slide__value
  &__value {
    font-family: $ff-Roboto;
    font-size: 128px;
    line-height: 150px;
    text-align: center;
    color: #3d0751;
    white-space: nowrap;
    overflow: hidden;

    // animation-name: stockValueOutIn;
    // animation-duration: 5s;
    // animation-iteration-count: 1;
    // animation-delay: 0.8s;
    // transition: font-size 0.5s ease-in-out;
  }

  // .slide__span
  &__span {
    display: inline-block;
    font-family: $ff-Roboto;
    font-size: 128px;
    line-height: 150px;
    text-align: center;
    color: #3d0751;
    // color: #74e600;

    // animation-name: stockValueOutIn;
    // animation-duration: 5s;
    // animation-iteration-count: 1;
    // animation-delay: 0.8s;
    // transition: font-size 0.5s ease-in-out;
  }

  &__span-num {
    font-weight: 400;
  }

  &__span-symbol {
    font-weight: 300;
    margin-left: -3px;
  }

  @keyframes stockValueOutIn {
    from {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    5% {
      font-size: 135px;
      filter: blur(1px);
      opacity: 0.9;
    }

    10% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    20% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    25% {
      font-size: 120px;
      filter: blur(1px);
      opacity: 0.9;
    }

    90% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    to {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }
  }

  // .slide__content-home
  &__content-home {
  }

  // .slide__home
  &__home {
  }

  // .slide__comment
  &__comment {
  }

  // .slide__content-reviews
  &__content-reviews {
  }

  // .slide__user
  &__user {
  }

  // .slide__reviews
  &__reviews {
  }
}

.slide-stock--900 {
  width: 100%;
  height: 162px;
}


// _media-744.scss

.content--744 {
  // .content__inner
  &__inner {
    width: 100%;
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .content__p
  &__p {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #3d0751;
    white-space: nowrap;
  }

  // .content__phone
  &__phone {
  }

  // .content__number
  &__number {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: right;
    color: #3d0751;
    white-space: nowrap;
  }

  // .content__stock
  &__stock {
  }

  // .content__wranning-stock
  &__wranning-stock {
  }

  // .content__inner-stock
  &__inner-stock {
  }

  // .content__p-stock
  &__p-stock {
  }

  // .content__phone-stock
  &__phone-stock {
  }
}

.stock--744 {
  // .stock__title
  &__title {
    font-family: $ff-Roboto;
    font-size: 29px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #3d0751;
    margin-bottom: 43px;
  }

  // .stock__slider
  &__slider {
  }
}

.slider--744 {
  // .slider__slide
  &__slide {
  }

  // .slider__slide-stock
  &__slide-stock {
    display: none;
    width: 100%;
    height: 162px;
    // height: 204px;
  }

  // .slider__items
  &__items {
  }

  // .slider__items-stock
  &__items-stock {
  }

  // .slider__item
  &__item {
  }

  // .slider__item-stock
  &__item-stock {
    width: 100%;
    height: 182px;
    // height: 204px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .slider__slide-stock-active
  &__slide-stock-active {
    display: block;
    opacity: 0;
    animation-name: slideActiveStock;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-delay: -250ms;
    animation-direction: alternate;
    transition: all 2s ease-in;
  }

  @keyframes slideActiveStock {
    from {
      opacity: 0;
      filter: blur(2px);
      transform: scale(0);
    }

    20% {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }

    60% {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }

    to {
      opacity: 0;
      filter: blur(2px);
      transform: scale(1.2);
    }
  }

  // .slider__slide-home
  &__slide-home {
  }

  // .slider__slide-reviews
  &__slide-reviews {
  }
}

.slider-stock--744 {
  width: 100%;
  height: 182px;
//   height: 204px;
  margin-bottom: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide--744 {
  // .slide__content
  &__content {
  }

  // .slide__content-stock
  &__content-stock {
  }

  // .slide__stock
  &__stock {
    font-family: $ff-Roboto;
    font-size: 17px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #3d0751;
    //   margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
  }

  // .slide__value
  &__value {
    font-family: $ff-Roboto;
    font-size: 128px;
    line-height: 150px;
    text-align: center;
    color: #3d0751;
    white-space: nowrap;
    overflow: hidden;

    animation-name: stockValueOutIn;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 0.8s;
    transition: font-size 0.5s ease-in-out;
  }

  // .slide__span
  &__span {
    display: inline-block;
    font-family: $ff-Roboto;
    font-size: 128px;
    line-height: 150px;
    text-align: center;
    color: #3d0751;
    // color: #74e600;

    animation-name: stockValueOutIn;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 0.8s;
    transition: font-size 0.5s ease-in-out;
  }

  &__span-num {
    font-weight: 400;
  }

  &__span-symbol {
    font-weight: 300;
    margin-left: -3px;
  }

  @keyframes stockValueOutIn {
    from {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    5% {
      font-size: 135px;
      filter: blur(1px);
      opacity: 0.9;
    }

    10% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    20% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    25% {
      font-size: 120px;
      filter: blur(1px);
      opacity: 0.9;
    }

    90% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    to {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }
  }

  // .slide__content-home
  &__content-home {
  }

  // .slide__home
  &__home {
  }

  // .slide__comment
  &__comment {
  }

  // .slide__content-reviews
  &__content-reviews {
  }

  // .slide__user
  &__user {
  }

  // .slide__reviews
  &__reviews {
  }
}

.slide-stock--744 {
  width: 100%;
  height: 162px;
//   height: 204px;
}


// _media-744l.scss

.content--744l {
  // .content__inner
  &__inner {
    width: 100%;
    height: 100%;
    // height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  // .content__p
  &__p {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #3d0751;
    white-space: nowrap;
  }

  // .content__phone
  &__phone {
  }

  // .content__number
  &__number {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: right;
    color: #3d0751;
    white-space: nowrap;
  }

  // .content__stock
  &__stock {
  }

  // .content__wranning-stock
  &__wranning-stock {
    width: 100%;
    height: 18px;
    margin-top: 43px;
  }

  // .content__inner-stock
  &__inner-stock {
    width: 100%;
    height: 18px;
    // height: 18px;
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  // .content__p-stock
  &__p-stock {
  }

  // .content__phone-stock
  &__phone-stock {
  }
}

.stock--744l {
  // .stock__title
  &__title {
    font-family: $ff-Roboto;
    font-size: 29px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #3d0751;
    margin-bottom: 43px;
  }

  // .stock__slider
  &__slider {
    width: 100%;
    // max-height: calc(100vh - 310px);
    // width: 100%;
    // max-height: calc(100vh - 280px);
    overflow-y: hidden;
    overflow-x: hidden;
    // scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
    // scrollbar-width: thin;
  }
}

.slider--744l {
  // .slider__slide
  &__slide {
  }

  // .slider__slide-stock
  &__slide-stock {
    display: block;
    opacity: 1;
    width: 100%;
    height: 162px;
    margin-bottom: 30px;
  }

  &__slide-stock:last-child {
    margin-bottom: 0;
  }

  // .slider__items
  &__items {
    width: 100%;
    // max-height: calc(100vh - 310px);
    // max-height: calc(100vh - 280px);
  }

  // .slider__items-stock
  &__items-stock {
  }

  // .slider__item
  &__item {
  }

  // .slider__item-stock
  &__item-stock {
    width: 100%;
    // height: 204px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    // max-height: calc(100vh - 310px);
    // max-height: calc(100vh - 280px);
    // overflow-y: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
    scrollbar-width: thin;
  }

  // .slider__slide-stock-active
  &__slide-stock-active {
    // display: block;
    // opacity: 0;
    // animation-name: slideActiveStock;
    // animation-duration: 6s;
    // animation-iteration-count: 1;
    // animation-delay: -250ms;
    // animation-direction: alternate;
    // transition: all 2s ease-in;
  }

  @keyframes slideActiveStock {
    from {
      opacity: 0;
      filter: blur(2px);
      transform: scale(0);
    }

    20% {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }

    60% {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }

    to {
      opacity: 0;
      filter: blur(2px);
      transform: scale(1.2);
    }
  }

  // .slider__slide-home
  &__slide-home {
  }

  // .slider__slide-reviews
  &__slide-reviews {
  }
}

.slider-stock--744l {

}

.slide--744l {
  // .slide__content
  &__content {
  }

  // .slide__content-stock
  &__content-stock {
  }

  // .slide__stock
  &__stock {
    font-family: $ff-Roboto;
    font-size: 17px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #3d0751;
    //   margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
  }

  // .slide__value
  &__value {
    font-family: $ff-Roboto;
    font-size: 128px;
    line-height: 150px;
    text-align: center;
    color: #3d0751;
    white-space: nowrap;
    overflow: hidden;

    // animation-name: stockValueOutIn;
    // animation-duration: 5s;
    // animation-iteration-count: 1;
    // animation-delay: 0.8s;
    // transition: font-size 0.5s ease-in-out;
  }

  // .slide__span
  &__span {
    display: inline-block;
    font-family: $ff-Roboto;
    font-size: 128px;
    line-height: 150px;
    text-align: center;
    color: #3d0751;
    // color: #74e600;

    // animation-name: stockValueOutIn;
    // animation-duration: 5s;
    // animation-iteration-count: 1;
    // animation-delay: 0.8s;
    // transition: font-size 0.5s ease-in-out;
  }

  &__span-num {
    font-weight: 400;
  }

  &__span-symbol {
    font-weight: 300;
    margin-left: -3px;
  }

  @keyframes stockValueOutIn {
    from {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    5% {
      font-size: 135px;
      filter: blur(1px);
      opacity: 0.9;
    }

    10% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    20% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    25% {
      font-size: 120px;
      filter: blur(1px);
      opacity: 0.9;
    }

    90% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    to {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }
  }

  // .slide__content-home
  &__content-home {
  }

  // .slide__home
  &__home {
  }

  // .slide__comment
  &__comment {
  }

  // .slide__content-reviews
  &__content-reviews {
  }

  // .slide__user
  &__user {
  }

  // .slide__reviews
  &__reviews {
  }
}

.slide-stock--744l {
  width: 100%;
  height: 162px;
}


// media-600.scss

.content--600 {
  // .content__inner
  &__inner {
    width: 100%;
    height: 52px;
    // height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  // .content__p
  &__p {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #3d0751;
    white-space: nowrap;
  }

  // .content__phone
  &__phone {
  }

  // .content__number
  &__number {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: right;
    color: #3d0751;
    white-space: nowrap;
  }

  // .content__stock
  &__stock {
  }

  // .content__wranning-stock
  &__wranning-stock {
    width: 100%;
    height: 52px;
    margin-top: 30px;
  }

  // .content__inner-stock
  &__inner-stock {
    width: 100%;
    height: 52px;
    // height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  // .content__p-stock
  &__p-stock {
  }

  // .content__phone-stock
  &__phone-stock {
  }
}

.stock--600 {
  // .stock__title
  &__title {
    font-family: $ff-Roboto;
    font-size: 29px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #3d0751;
    margin-bottom: 43px;
  }

  // .stock__slider
  &__slider {
    width: 100%;
    max-height: calc(100vh - 240px);
    // width: 100%;
    // max-height: calc(100vh - 280px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
    scrollbar-width: thin;
  }
}

.slider--600 {
  // .slider__slide
  &__slide {
  }

  // .slider__slide-stock
  &__slide-stock {
    display: block;
    opacity: 1;
    width: 100%;
    height: 168px;
    margin-bottom: 20px;
  }

  &__slide-stock:last-child {
    margin-bottom: 0;
  }

  // .slider__items
  &__items {
    width: 100%;
    height: auto;
    overflow: hidden;
    // max-height: calc(100vh - 280px);
  }

  // .slider__items-stock
  &__items-stock {
    overflow: hidden;
  }

  // .slider__item
  &__item {
    overflow: hidden;
  }

  // .slider__item-stock
  &__item-stock {
    width: 100%;
    // height: 204px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    height: auto;
    // max-height: calc(100vh - 280px);
    overflow: hidden;
    // scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
    // scrollbar-width: thin;
  }

  // .slider__slide-stock-active
  &__slide-stock-active {
    // display: block;
    // opacity: 0;
    // animation-name: slideActiveStock;
    // animation-duration: 6s;
    // animation-iteration-count: 1;
    // animation-delay: -250ms;
    // animation-direction: alternate;
    // transition: all 2s ease-in;
  }

  @keyframes slideActiveStock {
    from {
      opacity: 0;
      filter: blur(2px);
      transform: scale(0);
    }

    20% {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }

    60% {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }

    to {
      opacity: 0;
      filter: blur(2px);
      transform: scale(1.2);
    }
  }

  // .slider__slide-home
  &__slide-home {
  }

  // .slider__slide-reviews
  &__slide-reviews {
  }
}

.slider-stock--600 {

}

.slide--600 {
  // .slide__content
  &__content {
  }

  // .slide__content-stock
  &__content-stock {
  }

  // .slide__stock
  &__stock {
    font-family: $ff-Roboto;
    font-size: 17px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #3d0751;
    //   margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
  }

  // .slide__value
  &__value {
    font-family: $ff-Roboto;
    font-size: 128px;
    line-height: 150px;
    text-align: center;
    color: #3d0751;
    white-space: nowrap;
    overflow: hidden;

    // animation-name: stockValueOutIn;
    // animation-duration: 5s;
    // animation-iteration-count: 1;
    // animation-delay: 0.8s;
    // transition: font-size 0.5s ease-in-out;
  }

  // .slide__span
  &__span {
    display: inline-block;
    font-family: $ff-Roboto;
    font-size: 128px;
    line-height: 150px;
    text-align: center;
    color: #3d0751;
    // color: #74e600;

    // animation-name: stockValueOutIn;
    // animation-duration: 5s;
    // animation-iteration-count: 1;
    // animation-delay: 0.8s;
    // transition: font-size 0.5s ease-in-out;
  }

  &__span-num {
    font-weight: 400;
  }

  &__span-symbol {
    font-weight: 300;
    margin-left: -3px;
  }

  @keyframes stockValueOutIn {
    from {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    5% {
      font-size: 135px;
      filter: blur(1px);
      opacity: 0.9;
    }

    10% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    20% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    25% {
      font-size: 120px;
      filter: blur(1px);
      opacity: 0.9;
    }

    90% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    to {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }
  }

  // .slide__content-home
  &__content-home {
  }

  // .slide__home
  &__home {
  }

  // .slide__comment
  &__comment {
  }

  // .slide__content-reviews
  &__content-reviews {
  }

  // .slide__user
  &__user {
  }

  // .slide__reviews
  &__reviews {
  }
}

.slide-stock--600 {
  width: 100%;
  height: 168px;
}

// media-600l.scss

.content--600l {
  // .content__inner
  &__inner {
    width: 100%;
    height: 100%;
    // height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  // .content__p
  &__p {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #3d0751;
    white-space: nowrap;
  }

  // .content__phone
  &__phone {
  }

  // .content__number
  &__number {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: right;
    color: #3d0751;
    white-space: nowrap;
  }

  // .content__stock
  &__stock {
  }

  // .content__wranning-stock
  &__wranning-stock {
    width: 100%;
    height: 18px;
    margin-top: 43px;
  }

  // .content__inner-stock
  &__inner-stock {
    width: 100%;
    height: 18px;
    // height: 18px;
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  // .content__p-stock
  &__p-stock {
  }

  // .content__phone-stock
  &__phone-stock {
  }
}

.stock--600l {
  // .stock__title
  &__title {
    font-family: $ff-Roboto;
    font-size: 29px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #3d0751;
    margin-bottom: 43px;
  }

  // .stock__slider
  &__slider {
    width: 100%;
    // max-height: calc(100vh - 310px);
    // width: 100%;
    // max-height: calc(100vh - 280px);
    overflow-y: hidden;
    overflow-x: hidden;
    // scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
    // scrollbar-width: thin;
  }
}

.slider--600l {
  // .slider__slide
  &__slide {
  }

  // .slider__slide-stock
  &__slide-stock {
    display: block;
    opacity: 1;
    width: 100%;
    height: 162px;
    margin-bottom: 30px;
  }

  &__slide-stock:last-child {
    margin-bottom: 0;
  }

  // .slider__items
  &__items {
    width: 100%;
    // max-height: calc(100vh - 310px);
    // max-height: calc(100vh - 280px);
  }

  // .slider__items-stock
  &__items-stock {
  }

  // .slider__item
  &__item {
  }

  // .slider__item-stock
  &__item-stock {
    width: 100%;
    // height: 204px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    // max-height: calc(100vh - 310px);
    // max-height: calc(100vh - 280px);
    // overflow-y: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
    scrollbar-width: thin;
  }

  // .slider__slide-stock-active
  &__slide-stock-active {
    // display: block;
    // opacity: 0;
    // animation-name: slideActiveStock;
    // animation-duration: 6s;
    // animation-iteration-count: 1;
    // animation-delay: -250ms;
    // animation-direction: alternate;
    // transition: all 2s ease-in;
  }

  @keyframes slideActiveStock {
    from {
      opacity: 0;
      filter: blur(2px);
      transform: scale(0);
    }

    20% {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }

    60% {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }

    to {
      opacity: 0;
      filter: blur(2px);
      transform: scale(1.2);
    }
  }

  // .slider__slide-home
  &__slide-home {
  }

  // .slider__slide-reviews
  &__slide-reviews {
  }
}

.slider-stock--600l {

}

.slide--600l {
  // .slide__content
  &__content {
  }

  // .slide__content-stock
  &__content-stock {
  }

  // .slide__stock
  &__stock {
    font-family: $ff-Roboto;
    font-size: 17px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #3d0751;
    //   margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
  }

  // .slide__value
  &__value {
    font-family: $ff-Roboto;
    font-size: 128px;
    line-height: 150px;
    text-align: center;
    color: #3d0751;
    white-space: nowrap;
    overflow: hidden;

    // animation-name: stockValueOutIn;
    // animation-duration: 5s;
    // animation-iteration-count: 1;
    // animation-delay: 0.8s;
    // transition: font-size 0.5s ease-in-out;
  }

  // .slide__span
  &__span {
    display: inline-block;
    font-family: $ff-Roboto;
    font-size: 128px;
    line-height: 150px;
    text-align: center;
    color: #3d0751;
    // color: #74e600;

    // animation-name: stockValueOutIn;
    // animation-duration: 5s;
    // animation-iteration-count: 1;
    // animation-delay: 0.8s;
    // transition: font-size 0.5s ease-in-out;
  }

  &__span-num {
    font-weight: 400;
  }

  &__span-symbol {
    font-weight: 300;
    margin-left: -3px;
  }

  @keyframes stockValueOutIn {
    from {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    5% {
      font-size: 135px;
      filter: blur(1px);
      opacity: 0.9;
    }

    10% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    20% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    25% {
      font-size: 120px;
      filter: blur(1px);
      opacity: 0.9;
    }

    90% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    to {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }
  }

  // .slide__content-home
  &__content-home {
  }

  // .slide__home
  &__home {
  }

  // .slide__comment
  &__comment {
  }

  // .slide__content-reviews
  &__content-reviews {
  }

  // .slide__user
  &__user {
  }

  // .slide__reviews
  &__reviews {
  }
}

.slide-stock--600l {
  width: 100%;
  height: 162px;
}


// _media-375.scss

.content--375 {
  // .content__inner
  &__inner {
    width: 100%;
    height: 52px;
    // height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  // .content__p
  &__p {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #3d0751;
    white-space: nowrap;
  }

  // .content__phone
  &__phone {
  }

  // .content__number
  &__number {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: right;
    color: #3d0751;
    white-space: nowrap;
  }

  // .content__stock
  &__stock {
  }

  // .content__wranning-stock
  &__wranning-stock {
    width: 100%;
    height: 52px;
    margin-top: 30px;
  }

  // .content__inner-stock
  &__inner-stock {
    width: 100%;
    height: 52px;
    // height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  // .content__p-stock
  &__p-stock {
  }

  // .content__phone-stock
  &__phone-stock {
  }
}

.stock--375 {
  // .stock__title
  &__title {
    font-family: $ff-Roboto;
    font-size: 29px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #3d0751;
    margin-bottom: 43px;
  }

  // .stock__slider
  &__slider {
    width: 100%;
    max-height: calc(100vh - 240px);
    // width: 100%;
    // max-height: calc(100vh - 280px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
    scrollbar-width: thin;
  }
}

.slider--375 {
  // .slider__slide
  &__slide {
  }

  // .slider__slide-stock
  &__slide-stock {
    display: block;
    opacity: 1;
    width: 100%;
    height: 168px;
    margin-bottom: 20px;
  }

  &__slide-stock:last-child {
    margin-bottom: 0;
  }

  // .slider__items
  &__items {
    width: 100%;
    height: auto;
    overflow: hidden;
    // max-height: calc(100vh - 280px);
  }

  // .slider__items-stock
  &__items-stock {
    overflow: hidden;
  }

  // .slider__item
  &__item {
    overflow: hidden;
  }

  // .slider__item-stock
  &__item-stock {
    width: 100%;
    // height: 204px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    height: auto;
    // max-height: calc(100vh - 280px);
    overflow: hidden;
    // scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
    // scrollbar-width: thin;
  }

  // .slider__slide-stock-active
  &__slide-stock-active {
    // display: block;
    // opacity: 0;
    // animation-name: slideActiveStock;
    // animation-duration: 6s;
    // animation-iteration-count: 1;
    // animation-delay: -250ms;
    // animation-direction: alternate;
    // transition: all 2s ease-in;
  }

  @keyframes slideActiveStock {
    from {
      opacity: 0;
      filter: blur(2px);
      transform: scale(0);
    }

    20% {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }

    60% {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }

    to {
      opacity: 0;
      filter: blur(2px);
      transform: scale(1.2);
    }
  }

  // .slider__slide-home
  &__slide-home {
  }

  // .slider__slide-reviews
  &__slide-reviews {
  }
}

.slider-stock--375 {

}

.slide--375 {
  // .slide__content
  &__content {
  }

  // .slide__content-stock
  &__content-stock {
  }

  // .slide__stock
  &__stock {
    font-family: $ff-Roboto;
    font-size: 17px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #3d0751;
    //   margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
  }

  // .slide__value
  &__value {
    font-family: $ff-Roboto;
    font-size: 128px;
    line-height: 150px;
    text-align: center;
    color: #3d0751;
    white-space: nowrap;
    overflow: hidden;

    // animation-name: stockValueOutIn;
    // animation-duration: 5s;
    // animation-iteration-count: 1;
    // animation-delay: 0.8s;
    // transition: font-size 0.5s ease-in-out;
  }

  // .slide__span
  &__span {
    display: inline-block;
    font-family: $ff-Roboto;
    font-size: 128px;
    line-height: 150px;
    text-align: center;
    color: #3d0751;
    // color: #74e600;

    // animation-name: stockValueOutIn;
    // animation-duration: 5s;
    // animation-iteration-count: 1;
    // animation-delay: 0.8s;
    // transition: font-size 0.5s ease-in-out;
  }

  &__span-num {
    font-weight: 400;
  }

  &__span-symbol {
    font-weight: 300;
    margin-left: -3px;
  }

  @keyframes stockValueOutIn {
    from {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    5% {
      font-size: 135px;
      filter: blur(1px);
      opacity: 0.9;
    }

    10% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    20% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    25% {
      font-size: 120px;
      filter: blur(1px);
      opacity: 0.9;
    }

    90% {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }

    to {
      font-size: 128px;
      filter: blur(0);
      opacity: 1;
    }
  }

  // .slide__content-home
  &__content-home {
  }

  // .slide__home
  &__home {
  }

  // .slide__comment
  &__comment {
  }

  // .slide__content-reviews
  &__content-reviews {
  }

  // .slide__user
  &__user {
  }

  // .slide__reviews
  &__reviews {
  }
}

.slide-stock--375 {
  width: 100%;
  height: 168px;
}

// _media-275.scss

.content--275 {
  // .content__inner
  &__inner {
    width: 100%;
    height: 20px;
    // height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  // .content__p
  &__p {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #3d0751;
    white-space: nowrap;
  }

  // .content__phone
  &__phone {
  }

  // .content__number
  &__number {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: right;
    color: #3d0751;
    white-space: nowrap;
  }

  // .content__stock
  &__stock {
  }

  // .content__wranning-stock
  &__wranning-stock {
    width: 100%;
    height: 20px;
    margin-top: 30px;
  }

  // .content__inner-stock
  &__inner-stock {
    width: 100%;
    height: 20px;
    // height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  // .content__p-stock
  &__p-stock {
  }

  // .content__phone-stock
  &__phone-stock {
  }
}

.stock--275 {
  // .stock__title
  &__title {
    font-family: $ff-Roboto;
    font-size: 29px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #3d0751;
    margin-bottom: 43px;
  }

  // .stock__slider
  &__slider {
    width: 100%;
    max-height: calc(100vh - 210px);
    // width: 100%;
    // max-height: calc(100vh - 280px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
    scrollbar-width: thin;
  }
}

.slider--275 {
  // .slider__slide
  &__slide {
  }

  // .slider__slide-stock
  &__slide-stock {
    display: block;
    opacity: 1;
    width: 100%;
    height: 168px;
    margin-bottom: 20px;
  }

  &__slide-stock:last-child {
    margin-bottom: 0;
  }

  // .slider__items
  &__items {
    width: 100%;
    height: auto;
    // max-height: calc(100vh - 310px);
    // max-height: calc(100vh - 280px);
  }

  // .slider__items-stock
  &__items-stock {
  }

  // .slider__item
  &__item {
  }

  // .slider__item-stock
  &__item-stock {
    width: 100%;
    // height: 204px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    height: auto;
    // max-height: calc(100vh - 310px);
    // max-height: calc(100vh - 280px);
    overflow-y: hidden;
    // overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
    scrollbar-width: thin;
  }

  // .slider__slide-stock-active
  &__slide-stock-active {
    // display: block;
    // opacity: 0;
    // animation-name: slideActiveStock;
    // animation-duration: 6s;
    // animation-iteration-count: 1;
    // animation-delay: -250ms;
    // animation-direction: alternate;
    // transition: all 2s ease-in;
  }

//   @keyframes slideActiveStock {
//     from {
//       opacity: 0;
//       filter: blur(2px);
//       transform: scale(0);
//     }

//     20% {
//       opacity: 1;
//       filter: blur(0);
//       transform: scale(1);
//     }

//     60% {
//       opacity: 1;
//       filter: blur(0);
//       transform: scale(1);
//     }

//     to {
//       opacity: 0;
//       filter: blur(2px);
//       transform: scale(1.2);
//     }
//   }

  // .slider__slide-home
  &__slide-home {
  }

  // .slider__slide-reviews
  &__slide-reviews {
  }
}

.slider-stock--275 {

}

.slide--275 {
  // .slide__content
  &__content {
  }

  // .slide__content-stock
  &__content-stock {
  }

  // .slide__stock
  &__stock {
    font-family: $ff-Roboto;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #3d0751;
    //   margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
  }

  // .slide__value
  &__value {
    font-family: $ff-Roboto;
    font-size: 128px;
    line-height: 150px;
    text-align: center;
    color: #3d0751;
    white-space: nowrap;
    overflow: hidden;

    // animation-name: stockValueOutIn;
    // animation-duration: 5s;
    // animation-iteration-count: 1;
    // animation-delay: 0.8s;
    // transition: font-size 0.5s ease-in-out;
  }

  // .slide__span
  &__span {
    display: inline-block;
    font-family: $ff-Roboto;
    font-size: 128px;
    line-height: 150px;
    text-align: center;
    color: #3d0751;
    // color: #74e600;

    // animation-name: stockValueOutIn;
    // animation-duration: 5s;
    // animation-iteration-count: 1;
    // animation-delay: 0.8s;
    // transition: font-size 0.5s ease-in-out;
  }

  &__span-num {
    font-weight: 400;
  }

  &__span-symbol {
    font-weight: 300;
    margin-left: -3px;
  }

//   @keyframes stockValueOutIn {
//     from {
//       font-size: 128px;
//       filter: blur(0);
//       opacity: 1;
//     }

//     5% {
//       font-size: 135px;
//       filter: blur(1px);
//       opacity: 0.9;
//     }

//     10% {
//       font-size: 128px;
//       filter: blur(0);
//       opacity: 1;
//     }

//     20% {
//       font-size: 128px;
//       filter: blur(0);
//       opacity: 1;
//     }

//     25% {
//       font-size: 120px;
//       filter: blur(1px);
//       opacity: 0.9;
//     }

//     90% {
//       font-size: 128px;
//       filter: blur(0);
//       opacity: 1;
//     }

//     to {
//       font-size: 128px;
//       filter: blur(0);
//       opacity: 1;
//     }
//   }

  // .slide__content-home
  &__content-home {
  }

  // .slide__home
  &__home {
  }

  // .slide__comment
  &__comment {
  }

  // .slide__content-reviews
  &__content-reviews {
  }

  // .slide__user
  &__user {
  }

  // .slide__reviews
  &__reviews {
  }
}

.slide-stock--275 {
  width: 100%;
  height: 168px;
}






