.content--1728__inner {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content--1728__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--1728__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.stock--1728__title {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
  margin-bottom: 43px;
}
.slider--1728__slide-stock {
  display: none;
  width: 100%;
  height: 162px;
}
.slider--1728__item-stock {
  width: 100%;
  height: 182px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider--1728__slide-stock-active {
  display: block;
  opacity: 0;
  animation-name: slideActiveStock;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-delay: -250ms;
  animation-direction: alternate;
  transition: all 2s ease-in;
}
@keyframes slideActiveStock {
  from {
    opacity: 0;
    filter: blur(2px);
    transform: scale(0);
  }
  20% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  to {
    opacity: 0;
    filter: blur(2px);
    transform: scale(1.2);
  }
}
.slider-stock--1728 {
  width: 100%;
  height: 182px;
  margin-bottom: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide--1728__stock {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
  white-space: nowrap;
  overflow: hidden;
}
.slide--1728__value {
  font-family: "Roboto", sans-serif;
  font-size: 128px;
  line-height: 150px;
  text-align: center;
  color: #3d0751;
  white-space: nowrap;
  overflow: hidden;
  animation-name: stockValueOutIn;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-delay: 0.8s;
  transition: font-size 0.5s ease-in-out;
}
.slide--1728__span {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 128px;
  line-height: 150px;
  text-align: center;
  color: #3d0751;
  animation-name: stockValueOutIn;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-delay: 0.8s;
  transition: font-size 0.5s ease-in-out;
}
.slide--1728__span-num {
  font-weight: 400;
}
.slide--1728__span-symbol {
  font-weight: 300;
  margin-left: -3px;
}
@keyframes stockValueOutIn {
  from {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  5% {
    font-size: 135px;
    filter: blur(1px);
    opacity: 0.9;
  }
  10% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  20% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  25% {
    font-size: 120px;
    filter: blur(1px);
    opacity: 0.9;
  }
  90% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  to {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
}
.slide-stock--1728 {
  width: 100%;
  height: 162px;
}

.content--1300__inner {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content--1300__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--1300__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.stock--1300__title {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
  margin-bottom: 43px;
}
.slider--1300__slide-stock {
  display: none;
  width: 100%;
  height: 162px;
}
.slider--1300__item-stock {
  width: 100%;
  height: 182px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider--1300__slide-stock-active {
  display: block;
  opacity: 0;
  animation-name: slideActiveStock;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-delay: -250ms;
  animation-direction: alternate;
  transition: all 2s ease-in;
}
@keyframes slideActiveStock {
  from {
    opacity: 0;
    filter: blur(2px);
    transform: scale(0);
  }
  20% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  to {
    opacity: 0;
    filter: blur(2px);
    transform: scale(1.2);
  }
}
.slider-stock--1300 {
  width: 100%;
  height: 182px;
  margin-bottom: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide--1300__stock {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
  white-space: nowrap;
  overflow: hidden;
}
.slide--1300__value {
  font-family: "Roboto", sans-serif;
  font-size: 128px;
  line-height: 150px;
  text-align: center;
  color: #3d0751;
  white-space: nowrap;
  overflow: hidden;
  animation-name: stockValueOutIn;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-delay: 0.8s;
  transition: font-size 0.5s ease-in-out;
}
.slide--1300__span {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 128px;
  line-height: 150px;
  text-align: center;
  color: #3d0751;
  animation-name: stockValueOutIn;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-delay: 0.8s;
  transition: font-size 0.5s ease-in-out;
}
.slide--1300__span-num {
  font-weight: 400;
}
.slide--1300__span-symbol {
  font-weight: 300;
  margin-left: -3px;
}
@keyframes stockValueOutIn {
  from {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  5% {
    font-size: 135px;
    filter: blur(1px);
    opacity: 0.9;
  }
  10% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  20% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  25% {
    font-size: 120px;
    filter: blur(1px);
    opacity: 0.9;
  }
  90% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  to {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
}
.slide-stock--1300 {
  width: 100%;
  height: 162px;
}

.content--1133__inner {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content--1133__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--1133__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.stock--1133__title {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
  margin-bottom: 43px;
}
.slider--1133__slide-stock {
  display: none;
  width: 100%;
  height: 162px;
}
.slider--1133__item-stock {
  width: 100%;
  height: 182px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider--1133__slide-stock-active {
  display: block;
  opacity: 0;
  animation-name: slideActiveStock;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-delay: -250ms;
  animation-direction: alternate;
  transition: all 2s ease-in;
}
@keyframes slideActiveStock {
  from {
    opacity: 0;
    filter: blur(2px);
    transform: scale(0);
  }
  20% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  to {
    opacity: 0;
    filter: blur(2px);
    transform: scale(1.2);
  }
}
.slider-stock--1133 {
  width: 100%;
  height: 182px;
  margin-bottom: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide--1133__stock {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
  white-space: nowrap;
  overflow: hidden;
}
.slide--1133__value {
  font-family: "Roboto", sans-serif;
  font-size: 128px;
  line-height: 150px;
  text-align: center;
  color: #3d0751;
  white-space: nowrap;
  overflow: hidden;
  animation-name: stockValueOutIn;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-delay: 0.8s;
  transition: font-size 0.5s ease-in-out;
}
.slide--1133__span {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 128px;
  line-height: 150px;
  text-align: center;
  color: #3d0751;
  animation-name: stockValueOutIn;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-delay: 0.8s;
  transition: font-size 0.5s ease-in-out;
}
.slide--1133__span-num {
  font-weight: 400;
}
.slide--1133__span-symbol {
  font-weight: 300;
  margin-left: -3px;
}
@keyframes stockValueOutIn {
  from {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  5% {
    font-size: 135px;
    filter: blur(1px);
    opacity: 0.9;
  }
  10% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  20% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  25% {
    font-size: 120px;
    filter: blur(1px);
    opacity: 0.9;
  }
  90% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  to {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
}
.slide-stock--1133 {
  width: 100%;
  height: 162px;
}

.content--900__inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.content--900__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--900__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.content--900__wranning-stock {
  width: 100%;
  height: 18px;
  margin-top: 43px;
}
.content--900__inner-stock {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.stock--900__title {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
  margin-bottom: 43px;
}
.stock--900__slider {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.slider--900__slide-stock {
  display: block;
  opacity: 1;
  width: 100%;
  height: 162px;
  margin-bottom: 30px;
}
.slider--900__slide-stock:last-child {
  margin-bottom: 0;
}
.slider--900__items {
  width: 100%;
}
.slider--900__item-stock {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
  scrollbar-width: thin;
}
@keyframes slideActiveStock {
  from {
    opacity: 0;
    filter: blur(2px);
    transform: scale(0);
  }
  20% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  to {
    opacity: 0;
    filter: blur(2px);
    transform: scale(1.2);
  }
}
.slide--900__stock {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
  white-space: nowrap;
  overflow: hidden;
}
.slide--900__value {
  font-family: "Roboto", sans-serif;
  font-size: 128px;
  line-height: 150px;
  text-align: center;
  color: #3d0751;
  white-space: nowrap;
  overflow: hidden;
}
.slide--900__span {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 128px;
  line-height: 150px;
  text-align: center;
  color: #3d0751;
}
.slide--900__span-num {
  font-weight: 400;
}
.slide--900__span-symbol {
  font-weight: 300;
  margin-left: -3px;
}
@keyframes stockValueOutIn {
  from {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  5% {
    font-size: 135px;
    filter: blur(1px);
    opacity: 0.9;
  }
  10% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  20% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  25% {
    font-size: 120px;
    filter: blur(1px);
    opacity: 0.9;
  }
  90% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  to {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
}
.slide-stock--900 {
  width: 100%;
  height: 162px;
}

.content--744__inner {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content--744__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--744__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.stock--744__title {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
  margin-bottom: 43px;
}
.slider--744__slide-stock {
  display: none;
  width: 100%;
  height: 162px;
}
.slider--744__item-stock {
  width: 100%;
  height: 182px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider--744__slide-stock-active {
  display: block;
  opacity: 0;
  animation-name: slideActiveStock;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-delay: -250ms;
  animation-direction: alternate;
  transition: all 2s ease-in;
}
@keyframes slideActiveStock {
  from {
    opacity: 0;
    filter: blur(2px);
    transform: scale(0);
  }
  20% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  to {
    opacity: 0;
    filter: blur(2px);
    transform: scale(1.2);
  }
}
.slider-stock--744 {
  width: 100%;
  height: 182px;
  margin-bottom: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide--744__stock {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
  white-space: nowrap;
  overflow: hidden;
}
.slide--744__value {
  font-family: "Roboto", sans-serif;
  font-size: 128px;
  line-height: 150px;
  text-align: center;
  color: #3d0751;
  white-space: nowrap;
  overflow: hidden;
  animation-name: stockValueOutIn;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-delay: 0.8s;
  transition: font-size 0.5s ease-in-out;
}
.slide--744__span {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 128px;
  line-height: 150px;
  text-align: center;
  color: #3d0751;
  animation-name: stockValueOutIn;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-delay: 0.8s;
  transition: font-size 0.5s ease-in-out;
}
.slide--744__span-num {
  font-weight: 400;
}
.slide--744__span-symbol {
  font-weight: 300;
  margin-left: -3px;
}
@keyframes stockValueOutIn {
  from {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  5% {
    font-size: 135px;
    filter: blur(1px);
    opacity: 0.9;
  }
  10% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  20% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  25% {
    font-size: 120px;
    filter: blur(1px);
    opacity: 0.9;
  }
  90% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  to {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
}
.slide-stock--744 {
  width: 100%;
  height: 162px;
}

.content--744l__inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.content--744l__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--744l__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.content--744l__wranning-stock {
  width: 100%;
  height: 18px;
  margin-top: 43px;
}
.content--744l__inner-stock {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.stock--744l__title {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
  margin-bottom: 43px;
}
.stock--744l__slider {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.slider--744l__slide-stock {
  display: block;
  opacity: 1;
  width: 100%;
  height: 162px;
  margin-bottom: 30px;
}
.slider--744l__slide-stock:last-child {
  margin-bottom: 0;
}
.slider--744l__items {
  width: 100%;
}
.slider--744l__item-stock {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
  scrollbar-width: thin;
}
@keyframes slideActiveStock {
  from {
    opacity: 0;
    filter: blur(2px);
    transform: scale(0);
  }
  20% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  to {
    opacity: 0;
    filter: blur(2px);
    transform: scale(1.2);
  }
}
.slide--744l__stock {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
  white-space: nowrap;
  overflow: hidden;
}
.slide--744l__value {
  font-family: "Roboto", sans-serif;
  font-size: 128px;
  line-height: 150px;
  text-align: center;
  color: #3d0751;
  white-space: nowrap;
  overflow: hidden;
}
.slide--744l__span {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 128px;
  line-height: 150px;
  text-align: center;
  color: #3d0751;
}
.slide--744l__span-num {
  font-weight: 400;
}
.slide--744l__span-symbol {
  font-weight: 300;
  margin-left: -3px;
}
@keyframes stockValueOutIn {
  from {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  5% {
    font-size: 135px;
    filter: blur(1px);
    opacity: 0.9;
  }
  10% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  20% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  25% {
    font-size: 120px;
    filter: blur(1px);
    opacity: 0.9;
  }
  90% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  to {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
}
.slide-stock--744l {
  width: 100%;
  height: 162px;
}

.content--600__inner {
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.content--600__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--600__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.content--600__wranning-stock {
  width: 100%;
  height: 52px;
  margin-top: 30px;
}
.content--600__inner-stock {
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.stock--600__title {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
  margin-bottom: 43px;
}
.stock--600__slider {
  width: 100%;
  max-height: calc(100vh - 240px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
  scrollbar-width: thin;
}

.slider--600__slide-stock {
  display: block;
  opacity: 1;
  width: 100%;
  height: 168px;
  margin-bottom: 20px;
}
.slider--600__slide-stock:last-child {
  margin-bottom: 0;
}
.slider--600__items {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.slider--600__items-stock {
  overflow: hidden;
}
.slider--600__item {
  overflow: hidden;
}
.slider--600__item-stock {
  width: 100%;
  height: auto;
  overflow: hidden;
}
@keyframes slideActiveStock {
  from {
    opacity: 0;
    filter: blur(2px);
    transform: scale(0);
  }
  20% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  to {
    opacity: 0;
    filter: blur(2px);
    transform: scale(1.2);
  }
}
.slide--600__stock {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
  white-space: nowrap;
  overflow: hidden;
}
.slide--600__value {
  font-family: "Roboto", sans-serif;
  font-size: 128px;
  line-height: 150px;
  text-align: center;
  color: #3d0751;
  white-space: nowrap;
  overflow: hidden;
}
.slide--600__span {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 128px;
  line-height: 150px;
  text-align: center;
  color: #3d0751;
}
.slide--600__span-num {
  font-weight: 400;
}
.slide--600__span-symbol {
  font-weight: 300;
  margin-left: -3px;
}
@keyframes stockValueOutIn {
  from {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  5% {
    font-size: 135px;
    filter: blur(1px);
    opacity: 0.9;
  }
  10% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  20% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  25% {
    font-size: 120px;
    filter: blur(1px);
    opacity: 0.9;
  }
  90% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  to {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
}
.slide-stock--600 {
  width: 100%;
  height: 168px;
}

.content--600l__inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.content--600l__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--600l__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.content--600l__wranning-stock {
  width: 100%;
  height: 18px;
  margin-top: 43px;
}
.content--600l__inner-stock {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.stock--600l__title {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
  margin-bottom: 43px;
}
.stock--600l__slider {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.slider--600l__slide-stock {
  display: block;
  opacity: 1;
  width: 100%;
  height: 162px;
  margin-bottom: 30px;
}
.slider--600l__slide-stock:last-child {
  margin-bottom: 0;
}
.slider--600l__items {
  width: 100%;
}
.slider--600l__item-stock {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
  scrollbar-width: thin;
}
@keyframes slideActiveStock {
  from {
    opacity: 0;
    filter: blur(2px);
    transform: scale(0);
  }
  20% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  to {
    opacity: 0;
    filter: blur(2px);
    transform: scale(1.2);
  }
}
.slide--600l__stock {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
  white-space: nowrap;
  overflow: hidden;
}
.slide--600l__value {
  font-family: "Roboto", sans-serif;
  font-size: 128px;
  line-height: 150px;
  text-align: center;
  color: #3d0751;
  white-space: nowrap;
  overflow: hidden;
}
.slide--600l__span {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 128px;
  line-height: 150px;
  text-align: center;
  color: #3d0751;
}
.slide--600l__span-num {
  font-weight: 400;
}
.slide--600l__span-symbol {
  font-weight: 300;
  margin-left: -3px;
}
@keyframes stockValueOutIn {
  from {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  5% {
    font-size: 135px;
    filter: blur(1px);
    opacity: 0.9;
  }
  10% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  20% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  25% {
    font-size: 120px;
    filter: blur(1px);
    opacity: 0.9;
  }
  90% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  to {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
}
.slide-stock--600l {
  width: 100%;
  height: 162px;
}

.content--375__inner {
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.content--375__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--375__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.content--375__wranning-stock {
  width: 100%;
  height: 52px;
  margin-top: 30px;
}
.content--375__inner-stock {
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.stock--375__title {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
  margin-bottom: 43px;
}
.stock--375__slider {
  width: 100%;
  max-height: calc(100vh - 240px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
  scrollbar-width: thin;
}

.slider--375__slide-stock {
  display: block;
  opacity: 1;
  width: 100%;
  height: 168px;
  margin-bottom: 20px;
}
.slider--375__slide-stock:last-child {
  margin-bottom: 0;
}
.slider--375__items {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.slider--375__items-stock {
  overflow: hidden;
}
.slider--375__item {
  overflow: hidden;
}
.slider--375__item-stock {
  width: 100%;
  height: auto;
  overflow: hidden;
}
@keyframes slideActiveStock {
  from {
    opacity: 0;
    filter: blur(2px);
    transform: scale(0);
  }
  20% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  to {
    opacity: 0;
    filter: blur(2px);
    transform: scale(1.2);
  }
}
.slide--375__stock {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
  white-space: nowrap;
  overflow: hidden;
}
.slide--375__value {
  font-family: "Roboto", sans-serif;
  font-size: 128px;
  line-height: 150px;
  text-align: center;
  color: #3d0751;
  white-space: nowrap;
  overflow: hidden;
}
.slide--375__span {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 128px;
  line-height: 150px;
  text-align: center;
  color: #3d0751;
}
.slide--375__span-num {
  font-weight: 400;
}
.slide--375__span-symbol {
  font-weight: 300;
  margin-left: -3px;
}
@keyframes stockValueOutIn {
  from {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  5% {
    font-size: 135px;
    filter: blur(1px);
    opacity: 0.9;
  }
  10% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  20% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  25% {
    font-size: 120px;
    filter: blur(1px);
    opacity: 0.9;
  }
  90% {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
  to {
    font-size: 128px;
    filter: blur(0);
    opacity: 1;
  }
}
.slide-stock--375 {
  width: 100%;
  height: 168px;
}

.content--275__inner {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.content--275__p {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #3d0751;
  white-space: nowrap;
}
.content--275__number {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: right;
  color: #3d0751;
  white-space: nowrap;
}
.content--275__wranning-stock {
  width: 100%;
  height: 20px;
  margin-top: 30px;
}
.content--275__inner-stock {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.stock--275__title {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
  margin-bottom: 43px;
}
.stock--275__slider {
  width: 100%;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
  scrollbar-width: thin;
}

.slider--275__slide-stock {
  display: block;
  opacity: 1;
  width: 100%;
  height: 168px;
  margin-bottom: 20px;
}
.slider--275__slide-stock:last-child {
  margin-bottom: 0;
}
.slider--275__items {
  width: 100%;
  height: auto;
}
.slider--275__item-stock {
  width: 100%;
  height: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-color: rgba(201, 117, 216, 0.3) rgba(236, 209, 242, 0.3);
  scrollbar-width: thin;
}
.slide--275__stock {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3d0751;
  white-space: nowrap;
  overflow: hidden;
}
.slide--275__value {
  font-family: "Roboto", sans-serif;
  font-size: 128px;
  line-height: 150px;
  text-align: center;
  color: #3d0751;
  white-space: nowrap;
  overflow: hidden;
}
.slide--275__span {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 128px;
  line-height: 150px;
  text-align: center;
  color: #3d0751;
}
.slide--275__span-num {
  font-weight: 400;
}
.slide--275__span-symbol {
  font-weight: 300;
  margin-left: -3px;
}
.slide-stock--275 {
  width: 100%;
  height: 168px;
}/*# sourceMappingURL=ModalContentF.css.map */