@use '../../../scss/config/_variables.scss' as *;
@use '../../../scss/config/_mixins.scss' as *;
@use '../../../scss/config/_patterns.scss' as *;

// _desktop.scss

.info {
  width: 100%;
  //   height: 380px;
  height: 290px;
  margin-bottom: 150px;
  overflow: hidden;
}

.slider-info {
  width: 100%;
  height: 290px;
  overflow: hidden;
}

.slider {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;


  // slider__items
  &__items {
  }

  // slider__items-info
  &__items-info {
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 1434px;
    height: 290px;
  }

  // slider__item
  &__item {
  }

  // slider__item-info
  &__item-info {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 1434px;
    height: 290px;
    // z-index: 10;
  }

  // slider__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 60px;
  }

  // slider__inner-info
  &__inner-info {
  }

  // .slider__slide
  &__slide {
    display: block;
    // display: none;
  }

  // .slider__slide-info
  &__slide-info {
    display: block;
    width: 440px;
    height: 290px;
    margin-right: 57px;
    // z-index: 10;
  }

  &__slide-info:last-child {
    margin-right: 0;
  }

  // .slider__link
  &__link {
  }

  // .slider__link-info
  &__link-info {
    display: block;
    width: 440px;
    height: 290px;
    position: relative;
  }

  // .slider__object
  &__object {
  }

  // .slider__object-info
  &__object-info {
    width: 440px;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
  }

  // .slider__svg
  &__svg {
  }

  // .slider__svg-info
  &__svg-info {
    width: 440px;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
  }

//   // .slider__svg-title
//   &__svg-title {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 600;
//     font-size: 17px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }

//   // .slider__svg-text
//   &__svg-text {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 500;
//     font-size: 15px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }

  @keyframes scaleText {
    from {
      transform: scale(1, 1);
    }

    to {
      transform: scale(1.1, 1.1);
    }
  }

  // .slider__card-info
  &__card-info {
    width: 440px;
    height: 290px;
  }

  // .slider__border
  &__border {
    display: block;
    width: 424px;
    height: 276px;
    position: absolute;
  }

  // .slider__border-first
  &__border-first,
  &__border-first1 {
    top: 0px;
    left: 0px;
    background-image: url(../../../images/R102.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 0 top 0;
    z-index: 4;
  }

  // .slider__border-last
  &__border-last,
  &__border-last1 {
    bottom: 0;
    right: 0;
    background-image: url(../../../images/R100.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  // .slider__border-info
  &__border-info {
  }

  // .slider__content-info
  &__content-info,
  &__content-info1 {
    display: block;
    width: 373px;
    height: 232px;
    // border: 1px solid #3d0751;
    border-top-left-radius: 22px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 6px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 0, 1) 0%,
      rgba(233, 204, 241, 1) 0%,
      rgba(241, 228, 245, 1) 50%,
      rgba(233, 204, 234, 1) 100%
    );
    padding: 30px 50px;
    position: relative;
    top: 29px;
    left: 33px;
    transition: all 0.2s ease;
  }

  &__content-info::before {
    content: '';
    position: absolute;
    top: -1.5px;
    left: -1.3px;
    bottom: -1.5px;
    right: -1.5px;
    background: linear-gradient(
      132deg,
      rgba(61, 7, 81, 0.8) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    border-top-left-radius: 22px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 6px;
    z-index: -1;
  }

  &__content-info::after {
    content: '';
    position: absolute;
    width: 188px;
    height: 142px;
    border-bottom: 2px solid rgba(61, 7, 81, 0.6);
    border-right: 2px solid rgba(61, 7, 81, 0.6);
    border-bottom-right-radius: 22px;
    bottom: -1px;
    right: -1px;
  }

  // for animate info
  &__content-info1 {
    transition: all 0.6s ease;
  }

  &__content-info1::after {
    content: '';
    position: absolute;
    width: 208px;
    height: 122px;
    border-bottom: 2px solid rgba(61, 7, 81, 0.6);
    border-right: 2px solid rgba(61, 7, 81, 0.6);
    border-bottom-right-radius: 22px;
    bottom: -1px;
    right: -1px;
  }

  // .slider__content
  &__content {
  }

  // .slider__inner-info
  &__inner-info {
    display: flex;
    width: 275px;
    height: 174px;
    justify-content: center;
    align-items: center;
  }

  // .slider__wrapper
  &__wrapper {
  }

  // .slider__wrapper-info
  &__wrapper-info {
  }

  // .slider__block
  &__block {
  }

  // .slider__block-info
  &__block-info {
    display: block;
    margin-bottom: 20px;
  }

  &__block-info:last-child {
    margin-bottom: 0;
  }

  // .slider__medium
  &__medium {
  }

  // .slider__medium-info
  &__medium-info {
    display: block;
    color: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 3px;
  }

  // .slider__regular
  &__regular {
  }

  // .slider__regular-info
  &__regular-info {
    display: block;
    color: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
  }
}

// media-1300.scss

.info--1300 {
  width: 100%;
  height: 220px;
  margin-bottom: 150px;
  overflow: hidden;
}

.slider-info--1300 {
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.slider--1300 {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin-bottom: 60px;

  // slider__items
  &__items {
  }

  // slider__items-info
  &__items-info {
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 1068px;
    height: 220px;
  }

  // slider__item
  &__item {
  }

  // slider__item-info
  &__item-info {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 1068px;
    height: 220px;
  }

  // slider__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // slider__inner-info
  &__inner-info {
  }

  // .slider__slide
  &__slide {
    display: block;
  }

  // .slider__slide-info
  &__slide-info {
    display: block;
    width: 330px;
    height: 220px;
    margin-right: 39px;
  }

  &__slide-info:last-child {
    margin-right: 0;
  }

  // .slider__link
  &__link {
  }

  // .slider__link-info
  &__link-info {
    display: block;
    width: 330px;
    height: 220px;
    position: relative;
  }

  // .slider__object
  &__object {
  }

  // .slider__object-info
  &__object-info {
    width: 330px;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
  }

  // .slider__svg
  &__svg {
  }

  // .slider__svg-info
  &__svg-info {
    width: 330px;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
  }

//   // .slider__svg-title
//   &__svg-title {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 600;
//     font-size: 17px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }

//   // .slider__svg-text
//   &__svg-text {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 500;
//     font-size: 15px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }

  @keyframes scaleText {
    from {
      transform: scale(1, 1);
    }

    to {
      transform: scale(1.1, 1.1);
    }
  }

  // .slider__card-info
  &__card-info {
    width: 330px;
    height: 220px;
  }

  // .slider__border
  &__border {
    display: block;
    width: 424px;
    height: 276px;
    position: absolute;
  }

  // .slider__border-first
  &__border-first,
  &__border-first1 {
    top: 0px;
    left: 0px;
    background-image: url(../../../images/R102.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 0 top 0;
    z-index: 4;
  }

  // .slider__border-last
  &__border-last,
  &__border-last1 {
    bottom: 0;
    right: 0;
    background-image: url(../../../images/R100.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  // .slider__border-info
  &__border-info {
  }

  // .slider__content-info
  &__content-info,
  &__content-info1 {
    display: block;
    width: 373px;
    height: 232px;
    // border: 1px solid #3d0751;
    border-top-left-radius: 22px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 6px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 0, 1) 0%,
      rgba(233, 204, 241, 1) 0%,
      rgba(241, 228, 245, 1) 50%,
      rgba(233, 204, 234, 1) 100%
    );
    padding: 30px 50px;
    position: relative;
    top: 29px;
    left: 33px;
    transition: all 0.2s ease;
  }

  &__content-info::before {
    content: '';
    position: absolute;
    top: -1.5px;
    left: -1.3px;
    bottom: -1.5px;
    right: -1.5px;
    background: linear-gradient(
      132deg,
      rgba(61, 7, 81, 0.8) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    border-top-left-radius: 22px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 6px;
    z-index: -1;
  }

  &__content-info::after {
    content: '';
    position: absolute;
    width: 188px;
    height: 142px;
    border-bottom: 2px solid rgba(61, 7, 81, 0.6);
    border-right: 2px solid rgba(61, 7, 81, 0.6);
    border-bottom-right-radius: 22px;
    bottom: -1px;
    right: -1px;
  }

  // for animate info
  &__content-info1 {
    transition: all 0.6s ease;
  }

  &__content-info1::after {
    content: '';
    position: absolute;
    width: 208px;
    height: 122px;
    border-bottom: 2px solid rgba(61, 7, 81, 0.6);
    border-right: 2px solid rgba(61, 7, 81, 0.6);
    border-bottom-right-radius: 22px;
    bottom: -1px;
    right: -1px;
  }

  // .slider__content
  &__content {
  }

  // .slider__inner-info
//   &__inner-info {
//     display: flex;
//     width: 275px;
//     height: 174px;
//     justify-content: center;
//     align-items: center;
//   }

  // .slider__wrapper
  &__wrapper {
  }

  // .slider__wrapper-info
  &__wrapper-info {
  }

  // .slider__block
  &__block {
  }

  // .slider__block-info
  &__block-info {
    display: block;
    margin-bottom: 20px;
  }

  &__block-info:last-child {
    margin-bottom: 0;
  }

  // .slider__medium
  &__medium {
  }

  // .slider__medium-info
  &__medium-info {
    display: block;
    color: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 3px;
  }

  // .slider__regular
  &__regular {
  }

  // .slider__regular-info
  &__regular-info {
    display: block;
    color: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
  }
}

// _media-1133.scss

.info--1133 {
  width: 100%;
  height: 220px;
  margin-bottom: 150px;
  overflow: hidden;
}

.slider-info--1133 {
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.slider--1133 {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin-bottom: 60px;

  // slider__items
  &__items {
  }

  // slider__items-info
  &__items-info {
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 1068px;
    height: 220px;
  }

  // slider__item
  &__item {
  }

  // slider__item-info
  &__item-info {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 1068px;
    height: 220px;
  }

  // slider__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // slider__inner-info
  &__inner-info {
  }

  // .slider__slide
  &__slide {
    display: block;
  }

  // .slider__slide-info
  &__slide-info {
    display: block;
    width: 330px;
    height: 220px;
    margin-right: 39px;
  }

  &__slide-info:last-child {
    margin-right: 0;
  }

  // .slider__link
  &__link {
  }

  // .slider__link-info
  &__link-info {
    display: block;
    width: 330px;
    height: 220px;
    position: relative;
  }

  // .slider__object
  &__object {
  }

  // .slider__object-info
  &__object-info {
    width: 330px;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
  }

  // .slider__svg
  &__svg {
  }

  // .slider__svg-info
  &__svg-info {
    width: 330px;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
  }

//   // .slider__svg-title
//   &__svg-title {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 600;
//     font-size: 17px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }

//   // .slider__svg-text
//   &__svg-text {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 500;
//     font-size: 15px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }

  @keyframes scaleText {
    from {
      transform: scale(1, 1);
    }

    to {
      transform: scale(1.1, 1.1);
    }
  }

  // .slider__card-info
  &__card-info {
    width: 330px;
    height: 220px;
  }

  // .slider__border
  &__border {
    display: block;
    width: 424px;
    height: 276px;
    position: absolute;
  }

  // .slider__border-first
  &__border-first,
  &__border-first1 {
    top: 0px;
    left: 0px;
    background-image: url(../../../images/R102.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 0 top 0;
    z-index: 4;
  }

  // .slider__border-last
  &__border-last,
  &__border-last1 {
    bottom: 0;
    right: 0;
    background-image: url(../../../images/R100.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  // .slider__border-info
  &__border-info {
  }

  // .slider__content-info
  &__content-info,
  &__content-info1 {
    display: block;
    width: 373px;
    height: 232px;
    // border: 1px solid #3d0751;
    border-top-left-radius: 22px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 6px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 0, 1) 0%,
      rgba(233, 204, 241, 1) 0%,
      rgba(241, 228, 245, 1) 50%,
      rgba(233, 204, 234, 1) 100%
    );
    padding: 30px 50px;
    position: relative;
    top: 29px;
    left: 33px;
    transition: all 0.2s ease;
  }

  &__content-info::before {
    content: '';
    position: absolute;
    top: -1.5px;
    left: -1.3px;
    bottom: -1.5px;
    right: -1.5px;
    background: linear-gradient(
      132deg,
      rgba(61, 7, 81, 0.8) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    border-top-left-radius: 22px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 6px;
    z-index: -1;
  }

  &__content-info::after {
    content: '';
    position: absolute;
    width: 188px;
    height: 142px;
    border-bottom: 2px solid rgba(61, 7, 81, 0.6);
    border-right: 2px solid rgba(61, 7, 81, 0.6);
    border-bottom-right-radius: 22px;
    bottom: -1px;
    right: -1px;
  }

  // for animate info
  &__content-info1 {
    transition: all 0.6s ease;
  }

  &__content-info1::after {
    content: '';
    position: absolute;
    width: 208px;
    height: 122px;
    border-bottom: 2px solid rgba(61, 7, 81, 0.6);
    border-right: 2px solid rgba(61, 7, 81, 0.6);
    border-bottom-right-radius: 22px;
    bottom: -1px;
    right: -1px;
  }

  // .slider__content
  &__content {
  }

  // .slider__inner-info
//   &__inner-info {
//     display: flex;
//     width: 275px;
//     height: 174px;
//     justify-content: center;
//     align-items: center;
//   }

  // .slider__wrapper
  &__wrapper {
  }

  // .slider__wrapper-info
  &__wrapper-info {
  }

  // .slider__block
  &__block {
  }

  // .slider__block-info
  &__block-info {
    display: block;
    margin-bottom: 20px;
  }

  &__block-info:last-child {
    margin-bottom: 0;
  }

  // .slider__medium
  &__medium {
  }

  // .slider__medium-info
  &__medium-info {
    display: block;
    color: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 3px;
  }

  // .slider__regular
  &__regular {
  }

  // .slider__regular-info
  &__regular-info {
    display: block;
    color: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
  }
}

// media-900.scss

.info--900 {
  width: 702px;
  //   height: 380px;
  height: 950px;
  margin: 0 auto;
  margin-bottom: 150px;
  overflow: hidden;
}

.slider-info--900 {
  width: 702px;
  height: 950px;
  overflow: hidden;
}

.slider--900 {
    width: 702px;
  height: 950px;
  overflow: hidden;


  // slider__items
  &__items {
  }

  // slider__items-info
  &__items-info {
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 702px;
  height: 950px;
  }

  // slider__item
  &__item {
  }

  // slider__item-info
  &__item-info {
    overflow: hidden;
    position: absolute;
    left: 131px;
    top: 0;
    width: 440px;
  height: 950px;
  overflow: hidden;
    // z-index: 10;
  }

  // slider__inner
  &__inner {
  }

  // slider__inner-info
  &__inner-info {
    width: 440px;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  // .slider__slide
  &__slide {
    display: block;
    // display: none;
  }

  // .slider__slide-info
  &__slide-info {
    display: block;
    width: 440px;
    height: 290px;
    margin-bottom: 40px;
    // z-index: 10;
  }

  &__slide-info:last-child {
    margin-bottom: 0;
  }

  // .slider__link
  &__link {
  }

  // .slider__link-info
  &__link-info {
    display: block;
    width: 440px;
    height: 290px;
    position: relative;
  }

  // .slider__object
  &__object {
  }

  // .slider__object-info
  &__object-info {
    width: 440px;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
  }

  // .slider__svg
  &__svg {
  }

//   // .slider__svg-info
//   &__svg-info {
//     width: 440px;
//     height: 290px;
//     position: absolute;
//     top: 0;
//     left: 0;
//   }

//   // .slider__svg-title
//   &__svg-title {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 600;
//     font-size: 17px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }

//   // .slider__svg-text
//   &__svg-text {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 500;
//     font-size: 15px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }

  @keyframes scaleText {
    from {
      transform: scale(1, 1);
    }

    to {
      transform: scale(1.1, 1.1);
    }
  }

  // .slider__card-info
  &__card-info {
    width: 440px;
    height: 290px;
  }

  // .slider__border
  &__border {
    display: block;
    width: 424px;
    height: 276px;
    position: absolute;
  }

  // .slider__border-first
  &__border-first,
  &__border-first1 {
    top: 0px;
    left: 0px;
    background-image: url(../../../images/R102.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 0 top 0;
    z-index: 4;
  }

  // .slider__border-last
  &__border-last,
  &__border-last1 {
    bottom: 0;
    right: 0;
    background-image: url(../../../images/R100.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  // .slider__border-info
  &__border-info {
  }

  // .slider__content-info
  &__content-info,
  &__content-info1 {
    display: block;
    width: 373px;
    height: 232px;
    // border: 1px solid #3d0751;
    border-top-left-radius: 22px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 6px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 0, 1) 0%,
      rgba(233, 204, 241, 1) 0%,
      rgba(241, 228, 245, 1) 50%,
      rgba(233, 204, 234, 1) 100%
    );
    padding: 30px 50px;
    position: relative;
    top: 29px;
    left: 33px;
    transition: all 0.2s ease;
  }

  &__content-info::before {
    content: '';
    position: absolute;
    top: -1.5px;
    left: -1.3px;
    bottom: -1.5px;
    right: -1.5px;
    background: linear-gradient(
      132deg,
      rgba(61, 7, 81, 0.8) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    border-top-left-radius: 22px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 6px;
    z-index: -1;
  }

  &__content-info::after {
    content: '';
    position: absolute;
    width: 188px;
    height: 142px;
    border-bottom: 2px solid rgba(61, 7, 81, 0.6);
    border-right: 2px solid rgba(61, 7, 81, 0.6);
    border-bottom-right-radius: 22px;
    bottom: -1px;
    right: -1px;
  }

  // for animate info
  &__content-info1 {
    transition: all 0.6s ease;
  }

  &__content-info1::after {
    content: '';
    position: absolute;
    width: 208px;
    height: 122px;
    border-bottom: 2px solid rgba(61, 7, 81, 0.6);
    border-right: 2px solid rgba(61, 7, 81, 0.6);
    border-bottom-right-radius: 22px;
    bottom: -1px;
    right: -1px;
  }

  // .slider__content
  &__content {
  }

  // .slider__inner-info
  &__inner-info {

  }

  // .slider__wrapper
  &__wrapper {
  }

  // .slider__wrapper-info
  &__wrapper-info {
  }

  // .slider__block
  &__block {
  }

  // .slider__block-info
  &__block-info {
    display: block;
    margin-bottom: 20px;
  }

  &__block-info:last-child {
    margin-bottom: 0;
  }

  // .slider__medium
  &__medium {
  }

  // .slider__medium-info
  &__medium-info {
    display: block;
    color: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 3px;
  }

  // .slider__regular
  &__regular {
  }

  // .slider__regular-info
  &__regular-info {
    display: block;
    color: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
  }
}

// _media-744.scss

.info--744 {
  width: 702px;
  //   height: 380px;
  height: 950px;
  margin-bottom: 150px;
  overflow: hidden;
}

.slider-info--744 {
  width: 702px;
  height: 950px;
  overflow: hidden;
}

.slider--744 {
    width: 702px;
  height: 950px;
  overflow: hidden;


  // slider__items
  &__items {
  }

  // slider__items-info
  &__items-info {
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 702px;
  height: 950px;
  }

  // slider__item
  &__item {
  }

  // slider__item-info
  &__item-info {
    overflow: hidden;
    position: absolute;
    left: 131px;
    top: 0;
    width: 440px;
  height: 950px;
  overflow: hidden;
    // z-index: 10;
  }

  // slider__inner
  &__inner {
  }

  // slider__inner-info
  &__inner-info {
    width: 440px;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  // .slider__slide
  &__slide {
    display: block;
    // display: none;
  }

  // .slider__slide-info
  &__slide-info {
    display: block;
    width: 440px;
    height: 290px;
    margin-bottom: 40px;
    // z-index: 10;
  }

  &__slide-info:last-child {
    margin-bottom: 0;
  }

  // .slider__link
  &__link {
  }

  // .slider__link-info
  &__link-info {
    display: block;
    width: 440px;
    height: 290px;
    position: relative;
  }

  // .slider__object
  &__object {
  }

  // .slider__object-info
  &__object-info {
    width: 440px;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
  }

  // .slider__svg
  &__svg {
  }

//   // .slider__svg-info
//   &__svg-info {
//     width: 440px;
//     height: 290px;
//     position: absolute;
//     top: 0;
//     left: 0;
//   }

//   // .slider__svg-title
//   &__svg-title {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 600;
//     font-size: 17px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }

//   // .slider__svg-text
//   &__svg-text {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 500;
//     font-size: 15px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }

  @keyframes scaleText {
    from {
      transform: scale(1, 1);
    }

    to {
      transform: scale(1.1, 1.1);
    }
  }

  // .slider__card-info
  &__card-info {
    width: 440px;
    height: 290px;
  }

  // .slider__border
  &__border {
    display: block;
    width: 424px;
    height: 276px;
    position: absolute;
  }

  // .slider__border-first
  &__border-first,
  &__border-first1 {
    top: 0px;
    left: 0px;
    background-image: url(../../../images/R102.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 0 top 0;
    z-index: 4;
  }

  // .slider__border-last
  &__border-last,
  &__border-last1 {
    bottom: 0;
    right: 0;
    background-image: url(../../../images/R100.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  // .slider__border-info
  &__border-info {
  }

  // .slider__content-info
  &__content-info,
  &__content-info1 {
    display: block;
    width: 373px;
    height: 232px;
    // border: 1px solid #3d0751;
    border-top-left-radius: 22px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 6px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 0, 1) 0%,
      rgba(233, 204, 241, 1) 0%,
      rgba(241, 228, 245, 1) 50%,
      rgba(233, 204, 234, 1) 100%
    );
    padding: 30px 50px;
    position: relative;
    top: 29px;
    left: 33px;
    transition: all 0.2s ease;
  }

  &__content-info::before {
    content: '';
    position: absolute;
    top: -1.5px;
    left: -1.3px;
    bottom: -1.5px;
    right: -1.5px;
    background: linear-gradient(
      132deg,
      rgba(61, 7, 81, 0.8) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    border-top-left-radius: 22px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 6px;
    z-index: -1;
  }

  &__content-info::after {
    content: '';
    position: absolute;
    width: 188px;
    height: 142px;
    border-bottom: 2px solid rgba(61, 7, 81, 0.6);
    border-right: 2px solid rgba(61, 7, 81, 0.6);
    border-bottom-right-radius: 22px;
    bottom: -1px;
    right: -1px;
  }

  // for animate info
  &__content-info1 {
    transition: all 0.6s ease;
  }

  &__content-info1::after {
    content: '';
    position: absolute;
    width: 208px;
    height: 122px;
    border-bottom: 2px solid rgba(61, 7, 81, 0.6);
    border-right: 2px solid rgba(61, 7, 81, 0.6);
    border-bottom-right-radius: 22px;
    bottom: -1px;
    right: -1px;
  }

  // .slider__content
  &__content {
  }

  // .slider__inner-info
  &__inner-info {

  }

  // .slider__wrapper
  &__wrapper {
  }

  // .slider__wrapper-info
  &__wrapper-info {
  }

  // .slider__block
  &__block {
  }

  // .slider__block-info
  &__block-info {
    display: block;
    margin-bottom: 20px;
  }

  &__block-info:last-child {
    margin-bottom: 0;
  }

  // .slider__medium
  &__medium {
  }

  // .slider__medium-info
  &__medium-info {
    display: block;
    color: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 3px;
  }

  // .slider__regular
  &__regular {
  }

  // .slider__regular-info
  &__regular-info {
    display: block;
    color: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
  }
}

// _media-744l.scss

.info--744l {
    width: 702px;
    //   height: 380px;
    height: 950px;
    margin-bottom: 80px;
    overflow: hidden;
  }
  
  .slider-info--744l {
    width: 702px;
    height: 950px;
    overflow: hidden;
  }
  
  .slider--744l {
      width: 702px;
    height: 950px;
    overflow: hidden;
  
  
    // slider__items
    &__items {
    }
  
    // slider__items-info
    &__items-info {
      position: relative;
      left: 0;
      top: 0;
      overflow: hidden;
      width: 702px;
    height: 950px;
    }
  
    // slider__item
    &__item {
    }
  
    // slider__item-info
    &__item-info {
      overflow: hidden;
      position: absolute;
      left: 131px;
      top: 0;
      width: 440px;
    height: 950px;
    overflow: hidden;
      // z-index: 10;
    }
  
    // slider__inner
    &__inner {
    }
  
    // slider__inner-info
    &__inner-info {
      width: 440px;
      height: 950px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  
    // .slider__slide
    &__slide {
      display: block;
      // display: none;
    }
  
    // .slider__slide-info
    &__slide-info {
      display: block;
      width: 440px;
      height: 290px;
      margin-bottom: 40px;
      // z-index: 10;
    }
  
    &__slide-info:last-child {
      margin-bottom: 0;
    }
  
    // .slider__link
    &__link {
    }
  
    // .slider__link-info
    &__link-info {
      display: block;
      width: 440px;
      height: 290px;
      position: relative;
    }
  
    // .slider__object
    &__object {
    }
  
    // .slider__object-info
    &__object-info {
      width: 440px;
      height: 290px;
      position: absolute;
      top: 0;
      left: 0;
    }
  
    // .slider__svg
    &__svg {
    }
  
  //   // .slider__svg-info
  //   &__svg-info {
  //     width: 440px;
  //     height: 290px;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //   }
  
  //   // .slider__svg-title
  //   &__svg-title {
  //     fill: #3d0751;
  //     font-family: $ff-Roboto;
  //     font-weight: 600;
  //     font-size: 17px;
  //     line-height: 23px;
  //     transition: all 0.8s ease;
  //   }
  
  //   // .slider__svg-text
  //   &__svg-text {
  //     fill: #3d0751;
  //     font-family: $ff-Roboto;
  //     font-weight: 500;
  //     font-size: 15px;
  //     line-height: 23px;
  //     transition: all 0.8s ease;
  //   }
  
    @keyframes scaleText {
      from {
        transform: scale(1, 1);
      }
  
      to {
        transform: scale(1.1, 1.1);
      }
    }
  
    // .slider__card-info
    &__card-info {
      width: 440px;
      height: 290px;
    }
  
    // .slider__border
    &__border {
      display: block;
      width: 424px;
      height: 276px;
      position: absolute;
    }
  
    // .slider__border-first
    &__border-first,
    &__border-first1 {
      top: 0px;
      left: 0px;
      background-image: url(../../../images/R102.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left 0 top 0;
      z-index: 4;
    }
  
    // .slider__border-last
    &__border-last,
    &__border-last1 {
      bottom: 0;
      right: 0;
      background-image: url(../../../images/R100.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    // .slider__border-info
    &__border-info {
    }
  
    // .slider__content-info
    &__content-info,
    &__content-info1 {
      display: block;
      width: 373px;
      height: 232px;
      // border: 1px solid #3d0751;
      border-top-left-radius: 22px;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 22px;
      border-bottom-left-radius: 6px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 0, 1) 0%,
        rgba(233, 204, 241, 1) 0%,
        rgba(241, 228, 245, 1) 50%,
        rgba(233, 204, 234, 1) 100%
      );
      padding: 30px 50px;
      position: relative;
      top: 29px;
      left: 33px;
      transition: all 0.2s ease;
    }
  
    &__content-info::before {
      content: '';
      position: absolute;
      top: -1.5px;
      left: -1.3px;
      bottom: -1.5px;
      right: -1.5px;
      background: linear-gradient(
        132deg,
        rgba(61, 7, 81, 0.8) 0%,
        rgba(255, 255, 255, 1) 100%
      );
      border-top-left-radius: 22px;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 22px;
      border-bottom-left-radius: 6px;
      z-index: -1;
    }
  
    &__content-info::after {
      content: '';
      position: absolute;
      width: 188px;
      height: 142px;
      border-bottom: 2px solid rgba(61, 7, 81, 0.6);
      border-right: 2px solid rgba(61, 7, 81, 0.6);
      border-bottom-right-radius: 22px;
      bottom: -1px;
      right: -1px;
    }
  
    // for animate info
    &__content-info1 {
      transition: all 0.6s ease;
    }
  
    &__content-info1::after {
      content: '';
      position: absolute;
      width: 208px;
      height: 122px;
      border-bottom: 2px solid rgba(61, 7, 81, 0.6);
      border-right: 2px solid rgba(61, 7, 81, 0.6);
      border-bottom-right-radius: 22px;
      bottom: -1px;
      right: -1px;
    }
  
    // .slider__content
    &__content {
    }
  
    // .slider__inner-info
    &__inner-info {
  
    }
  
    // .slider__wrapper
    &__wrapper {
    }
  
    // .slider__wrapper-info
    &__wrapper-info {
    }
  
    // .slider__block
    &__block {
    }
  
    // .slider__block-info
    &__block-info {
      display: block;
      margin-bottom: 20px;
    }
  
    &__block-info:last-child {
      margin-bottom: 0;
    }
  
    // .slider__medium
    &__medium {
    }
  
    // .slider__medium-info
    &__medium-info {
      display: block;
      color: #3d0751;
      font-family: $ff-Roboto;
      font-weight: 600;
      font-size: 17px;
      line-height: 23px;
      margin-bottom: 3px;
    }
  
    // .slider__regular
    &__regular {
    }
  
    // .slider__regular-info
    &__regular-info {
      display: block;
      color: #3d0751;
      font-family: $ff-Roboto;
      font-weight: 500;
      font-size: 15px;
      line-height: 23px;
    }
  }

// media-600.scss

.info--600 {
  width: 100%;
  //   height: 380px;
  height: 720px;
  overflow: hidden;
  margin-bottom: 80px;
}

.slider-info--600 {
  width: 100%;
  height: 720px;
  overflow: hidden;
}

.slider--600 {
    width: 100%;
  height: 720px;

  // slider__items
  &__items {
    // position: relative;
    // left: 0;
    // top: 0;
    // overflow: hidden;
    // width: 346px;
    // max-height: 720px;
  }

  // slider__items-info
  &__items-info {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    width: 346px;
    height: 720px;
  }

  // slider__item
  &__item {
  }

  // slider__item-info
  &__item-info {
    overflow: hidden;
    position: absolute;
    left: 8px;
    top: 0;
    width: 330px;
    height: 720px;
    // z-index: 10;
  }

  // slider__inner
  &__inner {
    width: 330px;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  // slider__inner-info
  &__inner-info {
    width: 330px;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  // .slider__slide
  &__slide {
    display: block;
    // display: none;
  }

  // .slider__slide-info
  &__slide-info {
    display: block;
    width: 330px;
    height: 220px;
    margin-bottom: 30px;
    // z-index: 10;
  }

  &__slide-info:last-child {
    margin-bottom: 0;
  }

  // .slider__link
  &__link {
  }

  // .slider__link-info
  &__link-info {
    display: block;
    width: 330px;
    height: 220px;
    position: relative;
  }

  // .slider__object
  &__object {
  }

  // .slider__object-info
  &__object-info {
    width: 330px;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
  }

  // .slider__svg
  &__svg {
  }

  // .slider__svg-info
  &__svg-info {
    width: 330px;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
  }

//   // .slider__svg-title
//   &__svg-title {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 600;
//     font-size: 17px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }

//   // .slider__svg-text
//   &__svg-text {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 500;
//     font-size: 15px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }

  @keyframes scaleText {
    from {
      transform: scale(1, 1);
    }

    to {
      transform: scale(1.1, 1.1);
    }
  }

  // .slider__card-info
  &__card-info {
    width: 330px;
    height: 220px;
  }

  // .slider__border
  &__border {
    display: block;
    width: 424px;
    height: 276px;
    position: absolute;
  }

  // .slider__border-first
  &__border-first,
  &__border-first1 {
    top: 0px;
    left: 0px;
    background-image: url(../../../images/R102.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 0 top 0;
    z-index: 4;
  }

  // .slider__border-last
  &__border-last,
  &__border-last1 {
    bottom: 0;
    right: 0;
    background-image: url(../../../images/R100.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  // .slider__border-info
  &__border-info {
  }

  // .slider__content-info
  &__content-info,
  &__content-info1 {
    display: block;
    width: 373px;
    height: 232px;
    // border: 1px solid #3d0751;
    border-top-left-radius: 22px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 6px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 0, 1) 0%,
      rgba(233, 204, 241, 1) 0%,
      rgba(241, 228, 245, 1) 50%,
      rgba(233, 204, 234, 1) 100%
    );
    padding: 30px 50px;
    position: relative;
    top: 29px;
    left: 33px;
    transition: all 0.2s ease;
  }

  &__content-info::before {
    content: '';
    position: absolute;
    top: -1.5px;
    left: -1.3px;
    bottom: -1.5px;
    right: -1.5px;
    background: linear-gradient(
      132deg,
      rgba(61, 7, 81, 0.8) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    border-top-left-radius: 22px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 6px;
    z-index: -1;
  }

  &__content-info::after {
    content: '';
    position: absolute;
    width: 188px;
    height: 142px;
    border-bottom: 2px solid rgba(61, 7, 81, 0.6);
    border-right: 2px solid rgba(61, 7, 81, 0.6);
    border-bottom-right-radius: 22px;
    bottom: -1px;
    right: -1px;
  }

  // for animate info
  &__content-info1 {
    transition: all 0.6s ease;
  }

  &__content-info1::after {
    content: '';
    position: absolute;
    width: 208px;
    height: 122px;
    border-bottom: 2px solid rgba(61, 7, 81, 0.6);
    border-right: 2px solid rgba(61, 7, 81, 0.6);
    border-bottom-right-radius: 22px;
    bottom: -1px;
    right: -1px;
  }

  // .slider__content
  &__content {
  }

//   // .slider__inner-info
//   &__inner-info {
//     display: flex;
//     width: 275px;
//     height: 174px;
//     justify-content: center;
//     align-items: center;
//   }

  // .slider__wrapper
  &__wrapper {
  }

  // .slider__wrapper-info
  &__wrapper-info {
  }

  // .slider__block
  &__block {
  }

  // .slider__block-info
  &__block-info {
    display: block;
    margin-bottom: 20px;
  }

  &__block-info:last-child {
    margin-bottom: 0;
  }

  // .slider__medium
  &__medium {
  }

  // .slider__medium-info
  &__medium-info {
    display: block;
    color: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 3px;
  }

  // .slider__regular
  &__regular {
  }

  // .slider__regular-info
  &__regular-info {
    display: block;
    color: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
  }
}

// media-600l.scss

.info--600l {
  width: 100%;
  //   height: 380px;
  height: 720px;
  overflow: hidden;
  margin-bottom: 80px;
}

.slider-info--600l {
  width: 100%;
  height: 720px;
  overflow: hidden;
}

.slider--600l {
    width: 100%;
  height: 720px;

  // slider__items
  &__items {
    // position: relative;
    // left: 0;
    // top: 0;
    // overflow: hidden;
    // width: 346px;
    // max-height: 720px;
  }

  // slider__items-info
  &__items-info {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    width: 346px;
    height: 720px;
  }

  // slider__item
  &__item {
  }

  // slider__item-info
  &__item-info {
    overflow: hidden;
    position: absolute;
    left: 8px;
    top: 0;
    width: 330px;
    height: 720px;
    // z-index: 10;
  }

  // slider__inner
  &__inner {
    width: 330px;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  // slider__inner-info
  &__inner-info {
    width: 330px;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  // .slider__slide
  &__slide {
    display: block;
    // display: none;
  }

  // .slider__slide-info
  &__slide-info {
    display: block;
    width: 330px;
    height: 220px;
    margin-bottom: 30px;
    // z-index: 10;
  }

  &__slide-info:last-child {
    margin-bottom: 0;
  }

  // .slider__link
  &__link {
  }

  // .slider__link-info
  &__link-info {
    display: block;
    width: 330px;
    height: 220px;
    position: relative;
  }

  // .slider__object
  &__object {
  }

  // .slider__object-info
  &__object-info {
    width: 330px;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
  }

  // .slider__svg
  &__svg {
  }

  // .slider__svg-info
  &__svg-info {
    width: 330px;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
  }

//   // .slider__svg-title
//   &__svg-title {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 600;
//     font-size: 17px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }

//   // .slider__svg-text
//   &__svg-text {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 500;
//     font-size: 15px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }

  @keyframes scaleText {
    from {
      transform: scale(1, 1);
    }

    to {
      transform: scale(1.1, 1.1);
    }
  }

  // .slider__card-info
  &__card-info {
    width: 330px;
    height: 220px;
  }

  // .slider__border
  &__border {
    display: block;
    width: 424px;
    height: 276px;
    position: absolute;
  }

  // .slider__border-first
  &__border-first,
  &__border-first1 {
    top: 0px;
    left: 0px;
    background-image: url(../../../images/R102.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 0 top 0;
    z-index: 4;
  }

  // .slider__border-last
  &__border-last,
  &__border-last1 {
    bottom: 0;
    right: 0;
    background-image: url(../../../images/R100.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  // .slider__border-info
  &__border-info {
  }

  // .slider__content-info
  &__content-info,
  &__content-info1 {
    display: block;
    width: 373px;
    height: 232px;
    // border: 1px solid #3d0751;
    border-top-left-radius: 22px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 6px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 0, 1) 0%,
      rgba(233, 204, 241, 1) 0%,
      rgba(241, 228, 245, 1) 50%,
      rgba(233, 204, 234, 1) 100%
    );
    padding: 30px 50px;
    position: relative;
    top: 29px;
    left: 33px;
    transition: all 0.2s ease;
  }

  &__content-info::before {
    content: '';
    position: absolute;
    top: -1.5px;
    left: -1.3px;
    bottom: -1.5px;
    right: -1.5px;
    background: linear-gradient(
      132deg,
      rgba(61, 7, 81, 0.8) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    border-top-left-radius: 22px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 6px;
    z-index: -1;
  }

  &__content-info::after {
    content: '';
    position: absolute;
    width: 188px;
    height: 142px;
    border-bottom: 2px solid rgba(61, 7, 81, 0.6);
    border-right: 2px solid rgba(61, 7, 81, 0.6);
    border-bottom-right-radius: 22px;
    bottom: -1px;
    right: -1px;
  }

  // for animate info
  &__content-info1 {
    transition: all 0.6s ease;
  }

  &__content-info1::after {
    content: '';
    position: absolute;
    width: 208px;
    height: 122px;
    border-bottom: 2px solid rgba(61, 7, 81, 0.6);
    border-right: 2px solid rgba(61, 7, 81, 0.6);
    border-bottom-right-radius: 22px;
    bottom: -1px;
    right: -1px;
  }

  // .slider__content
  &__content {
  }

//   // .slider__inner-info
//   &__inner-info {
//     display: flex;
//     width: 275px;
//     height: 174px;
//     justify-content: center;
//     align-items: center;
//   }

  // .slider__wrapper
  &__wrapper {
  }

  // .slider__wrapper-info
  &__wrapper-info {
  }

  // .slider__block
  &__block {
  }

  // .slider__block-info
  &__block-info {
    display: block;
    margin-bottom: 20px;
  }

  &__block-info:last-child {
    margin-bottom: 0;
  }

  // .slider__medium
  &__medium {
  }

  // .slider__medium-info
  &__medium-info {
    display: block;
    color: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 3px;
  }

  // .slider__regular
  &__regular {
  }

  // .slider__regular-info
  &__regular-info {
    display: block;
    color: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
  }
}

// _media-375.scss

.info--375 {
  width: 100%;
  //   height: 380px;
  height: 720px;
  overflow: hidden;
  margin-bottom: 80px;
}

.slider-info--375 {
  width: 100%;
  height: 720px;
  overflow: hidden;
}

.slider--375 {
    width: 100%;
  height: 720px;

  // slider__items
  &__items {
    // position: relative;
    // left: 0;
    // top: 0;
    // overflow: hidden;
    // width: 346px;
    // max-height: 720px;
  }

  // slider__items-info
  &__items-info {
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 346px;
    height: 720px;
  }

  // slider__item
  &__item {
  }

  // slider__item-info
  &__item-info {
    overflow: hidden;
    position: absolute;
    left: 8px;
    top: 0;
    width: 330px;
    height: 720px;
    // z-index: 10;
  }

  // slider__inner
  &__inner {
    width: 330px;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  // slider__inner-info
  &__inner-info {
    width: 330px;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  // .slider__slide
  &__slide {
    display: block;
    // display: none;
  }

  // .slider__slide-info
  &__slide-info {
    display: block;
    width: 330px;
    height: 220px;
    margin-bottom: 30px;
    // z-index: 10;
  }

  &__slide-info:last-child {
    margin-bottom: 0;
  }

  // .slider__link
  &__link {
  }

  // .slider__link-info
  &__link-info {
    display: block;
    width: 330px;
    height: 220px;
    position: relative;
  }

  // .slider__object
  &__object {
  }

  // .slider__object-info
  &__object-info {
    width: 330px;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
  }

  // .slider__svg
  &__svg {
  }

  // .slider__svg-info
  &__svg-info {
    width: 330px;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
  }

//   // .slider__svg-title
//   &__svg-title {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 600;
//     font-size: 17px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }

//   // .slider__svg-text
//   &__svg-text {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 500;
//     font-size: 15px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }

  @keyframes scaleText {
    from {
      transform: scale(1, 1);
    }

    to {
      transform: scale(1.1, 1.1);
    }
  }

  // .slider__card-info
  &__card-info {
    width: 330px;
    height: 220px;
  }

  // .slider__border
  &__border {
    display: block;
    width: 424px;
    height: 276px;
    position: absolute;
  }

  // .slider__border-first
  &__border-first,
  &__border-first1 {
    top: 0px;
    left: 0px;
    background-image: url(../../../images/R102.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 0 top 0;
    z-index: 4;
  }

  // .slider__border-last
  &__border-last,
  &__border-last1 {
    bottom: 0;
    right: 0;
    background-image: url(../../../images/R100.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  // .slider__border-info
  &__border-info {
  }

  // .slider__content-info
  &__content-info,
  &__content-info1 {
    display: block;
    width: 373px;
    height: 232px;
    // border: 1px solid #3d0751;
    border-top-left-radius: 22px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 6px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 0, 1) 0%,
      rgba(233, 204, 241, 1) 0%,
      rgba(241, 228, 245, 1) 50%,
      rgba(233, 204, 234, 1) 100%
    );
    padding: 30px 50px;
    position: relative;
    top: 29px;
    left: 33px;
    transition: all 0.2s ease;
  }

  &__content-info::before {
    content: '';
    position: absolute;
    top: -1.5px;
    left: -1.3px;
    bottom: -1.5px;
    right: -1.5px;
    background: linear-gradient(
      132deg,
      rgba(61, 7, 81, 0.8) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    border-top-left-radius: 22px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 6px;
    z-index: -1;
  }

  &__content-info::after {
    content: '';
    position: absolute;
    width: 188px;
    height: 142px;
    border-bottom: 2px solid rgba(61, 7, 81, 0.6);
    border-right: 2px solid rgba(61, 7, 81, 0.6);
    border-bottom-right-radius: 22px;
    bottom: -1px;
    right: -1px;
  }

  // for animate info
  &__content-info1 {
    transition: all 0.6s ease;
  }

  &__content-info1::after {
    content: '';
    position: absolute;
    width: 208px;
    height: 122px;
    border-bottom: 2px solid rgba(61, 7, 81, 0.6);
    border-right: 2px solid rgba(61, 7, 81, 0.6);
    border-bottom-right-radius: 22px;
    bottom: -1px;
    right: -1px;
  }

  // .slider__content
  &__content {
  }

//   // .slider__inner-info
//   &__inner-info {
//     display: flex;
//     width: 275px;
//     height: 174px;
//     justify-content: center;
//     align-items: center;
//   }

  // .slider__wrapper
  &__wrapper {
  }

  // .slider__wrapper-info
  &__wrapper-info {
  }

  // .slider__block
  &__block {
  }

  // .slider__block-info
  &__block-info {
    display: block;
    margin-bottom: 20px;
  }

  &__block-info:last-child {
    margin-bottom: 0;
  }

  // .slider__medium
  &__medium {
  }

  // .slider__medium-info
  &__medium-info {
    display: block;
    color: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 3px;
  }

  // .slider__regular
  &__regular {
  }

  // .slider__regular-info
  &__regular-info {
    display: block;
    color: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
  }
}

// _media-275.scss

.info--275 {
  width: 100%;
  //   height: 380px;
  height: 591px;
  overflow: hidden;
  margin-bottom: 80px;
}

.slider-info--275 {
  width: 100%;
  height: 591px;
  overflow: hidden;
}

.slider--275 {
    width: 100%;
  height: 591px;

  // slider__items
  &__items {
    // position: relative;
    // left: 0;
    // top: 0;
    // overflow: hidden;
    // width: 346px;
    // max-height: 720px;
  }

  // slider__items-info
  &__items-info {
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 265px;
    height: 591px;
  }

  // slider__item
  &__item {
  }

  // slider__item-info
  &__item-info {
    overflow: hidden;
    position: absolute;
    left: 0px;
    // left: 8px;
    top: 0;
    width: 265px;
    // width: 230px;
    height: 591px;
    // z-index: 10;
  }

  // slider__inner
  &__inner {
    width: 265px;
    // width: 230px;
    height: 591px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  // slider__inner-info
  &__inner-info {
    width: 265px;
    // width: 230px;
    height: 591px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  // .slider__slide
  &__slide {
    display: block;
    // display: none;
  }

  // .slider__slide-info
  &__slide-info {
    display: block;
    width: 265px;
    height: 177px;
    margin-bottom: 30px;
    // z-index: 10;
  }

  &__slide-info:last-child {
    margin-bottom: 0;
  }

  // .slider__link
  &__link {
  }

  // .slider__link-info
  &__link-info {
    display: block;
    width: 265px;
    height: 177px;
    position: relative;
  }

  // .slider__object
  &__object {
  }

  // .slider__object-info
  &__object-info {
    width: 265px;
    height: 177px;
    position: absolute;
    top: 0;
    left: 0;
  }

  // .slider__svg
  &__svg {
  }

  // .slider__svg-info
  &__svg-info {
    width: 265px;
    height: 177px;
    position: absolute;
    top: 0;
    left: 0;
  }

//   // .slider__svg-title
//   &__svg-title {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 600;
//     font-size: 17px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }

//   // .slider__svg-text
//   &__svg-text {
//     fill: #3d0751;
//     font-family: $ff-Roboto;
//     font-weight: 500;
//     font-size: 15px;
//     line-height: 23px;
//     transition: all 0.8s ease;
//   }

  @keyframes scaleText {
    from {
      transform: scale(1, 1);
    }

    to {
      transform: scale(1.1, 1.1);
    }
  }

  // .slider__card-info
  &__card-info {
    width: 265px;
    height: 177px;
  }

  // .slider__border
  &__border {
    display: block;
    width: 424px;
    height: 276px;
    position: absolute;
  }

  // .slider__border-first
  &__border-first,
  &__border-first1 {
    top: 0px;
    left: 0px;
    background-image: url(../../../images/R102.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 0 top 0;
    z-index: 4;
  }

  // .slider__border-last
  &__border-last,
  &__border-last1 {
    bottom: 0;
    right: 0;
    background-image: url(../../../images/R100.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  // .slider__border-info
  &__border-info {
  }

  // .slider__content-info
  &__content-info,
  &__content-info1 {
    display: block;
    width: 373px;
    height: 232px;
    // border: 1px solid #3d0751;
    border-top-left-radius: 22px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 6px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 0, 1) 0%,
      rgba(233, 204, 241, 1) 0%,
      rgba(241, 228, 245, 1) 50%,
      rgba(233, 204, 234, 1) 100%
    );
    padding: 30px 50px;
    position: relative;
    top: 29px;
    left: 33px;
    transition: all 0.2s ease;
  }

  &__content-info::before {
    content: '';
    position: absolute;
    top: -1.5px;
    left: -1.3px;
    bottom: -1.5px;
    right: -1.5px;
    background: linear-gradient(
      132deg,
      rgba(61, 7, 81, 0.8) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    border-top-left-radius: 22px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 6px;
    z-index: -1;
  }

  &__content-info::after {
    content: '';
    position: absolute;
    width: 188px;
    height: 142px;
    border-bottom: 2px solid rgba(61, 7, 81, 0.6);
    border-right: 2px solid rgba(61, 7, 81, 0.6);
    border-bottom-right-radius: 22px;
    bottom: -1px;
    right: -1px;
  }

  // for animate info
  &__content-info1 {
    transition: all 0.6s ease;
  }

  &__content-info1::after {
    content: '';
    position: absolute;
    width: 208px;
    height: 122px;
    border-bottom: 2px solid rgba(61, 7, 81, 0.6);
    border-right: 2px solid rgba(61, 7, 81, 0.6);
    border-bottom-right-radius: 22px;
    bottom: -1px;
    right: -1px;
  }

  // .slider__content
  &__content {
  }

//   // .slider__inner-info
//   &__inner-info {
//     display: flex;
//     width: 275px;
//     height: 174px;
//     justify-content: center;
//     align-items: center;
//   }

  // .slider__wrapper
  &__wrapper {
  }

  // .slider__wrapper-info
  &__wrapper-info {
  }

  // .slider__block
  &__block {
  }

  // .slider__block-info
  &__block-info {
    display: block;
    margin-bottom: 20px;
  }

  &__block-info:last-child {
    margin-bottom: 0;
  }

  // .slider__medium
  &__medium {
  }

  // .slider__medium-info
  &__medium-info {
    display: block;
    color: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 3px;
  }

  // .slider__regular
  &__regular {
  }

  // .slider__regular-info
  &__regular-info {
    display: block;
    color: #3d0751;
    font-family: $ff-Roboto;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
  }
}





// media-600l.scss
