.info--1728 {
  width: 100%;
  height: 290px;
  margin-bottom: 150px;
  overflow: hidden;
}

.slider-info--1728 {
  width: 100%;
  height: 290px;
  overflow: hidden;
}

.slider--1728__items-info {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 1434px;
  height: 290px;
}
.slider--1728__item-info {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 1434px;
  height: 290px;
}
.slider--1728__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider--1728__slide {
  display: block;
}
.slider--1728__slide-info {
  display: block;
  width: 440px;
  height: 290px;
  margin-right: 57px;
}
.slider--1728__slide-info:last-child {
  margin-right: 0;
}
.slider--1728__link-info {
  display: block;
  width: 440px;
  height: 290px;
  position: relative;
}
.slider--1728__object-info {
  width: 440px;
  height: 290px;
  position: absolute;
  top: 0;
  left: 0;
}
.slider--1728__svg-info {
  width: 440px;
  height: 290px;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes scaleText {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
.slider--1728__card-info {
  width: 440px;
  height: 290px;
}
.slider--1728__border {
  display: block;
  width: 424px;
  height: 276px;
  position: absolute;
}
.slider--1728__border-first, .slider--1728__border-first1 {
  top: 0px;
  left: 0px;
  background-image: url(../../../images/R102.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 top 0;
  z-index: 4;
}
.slider--1728__border-last, .slider--1728__border-last1 {
  bottom: 0;
  right: 0;
  background-image: url(../../../images/R100.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider--1728__content-info, .slider--1728__content-info1 {
  display: block;
  width: 373px;
  height: 232px;
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  background: linear-gradient(180deg, rgb(255, 255, 0) 0%, rgb(233, 204, 241) 0%, rgb(241, 228, 245) 50%, rgb(233, 204, 234) 100%);
  padding: 30px 50px;
  position: relative;
  top: 29px;
  left: 33px;
  transition: all 0.2s ease;
}
.slider--1728__content-info::before {
  content: "";
  position: absolute;
  top: -1.5px;
  left: -1.3px;
  bottom: -1.5px;
  right: -1.5px;
  background: linear-gradient(132deg, rgba(61, 7, 81, 0.8) 0%, rgb(255, 255, 255) 100%);
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  z-index: -1;
}
.slider--1728__content-info::after {
  content: "";
  position: absolute;
  width: 188px;
  height: 142px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--1728__content-info1 {
  transition: all 0.6s ease;
}
.slider--1728__content-info1::after {
  content: "";
  position: absolute;
  width: 208px;
  height: 122px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--1728__inner-info {
  display: flex;
  width: 275px;
  height: 174px;
  justify-content: center;
  align-items: center;
}
.slider--1728__block-info {
  display: block;
  margin-bottom: 20px;
}
.slider--1728__block-info:last-child {
  margin-bottom: 0;
}
.slider--1728__medium-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 3px;
}
.slider--1728__regular-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
}

.info--1300 {
  width: 100%;
  height: 220px;
  margin-bottom: 150px;
  overflow: hidden;
}

.slider-info--1300 {
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.slider--1300__items-info {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 1068px;
  height: 220px;
}
.slider--1300__item-info {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 1068px;
  height: 220px;
}
.slider--1300__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider--1300__slide {
  display: block;
}
.slider--1300__slide-info {
  display: block;
  width: 330px;
  height: 220px;
  margin-right: 39px;
}
.slider--1300__slide-info:last-child {
  margin-right: 0;
}
.slider--1300__link-info {
  display: block;
  width: 330px;
  height: 220px;
  position: relative;
}
.slider--1300__object-info {
  width: 330px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
}
.slider--1300__svg-info {
  width: 330px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes scaleText {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
.slider--1300__card-info {
  width: 330px;
  height: 220px;
}
.slider--1300__border {
  display: block;
  width: 424px;
  height: 276px;
  position: absolute;
}
.slider--1300__border-first, .slider--1300__border-first1 {
  top: 0px;
  left: 0px;
  background-image: url(../../../images/R102.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 top 0;
  z-index: 4;
}
.slider--1300__border-last, .slider--1300__border-last1 {
  bottom: 0;
  right: 0;
  background-image: url(../../../images/R100.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider--1300__content-info, .slider--1300__content-info1 {
  display: block;
  width: 373px;
  height: 232px;
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  background: linear-gradient(180deg, rgb(255, 255, 0) 0%, rgb(233, 204, 241) 0%, rgb(241, 228, 245) 50%, rgb(233, 204, 234) 100%);
  padding: 30px 50px;
  position: relative;
  top: 29px;
  left: 33px;
  transition: all 0.2s ease;
}
.slider--1300__content-info::before {
  content: "";
  position: absolute;
  top: -1.5px;
  left: -1.3px;
  bottom: -1.5px;
  right: -1.5px;
  background: linear-gradient(132deg, rgba(61, 7, 81, 0.8) 0%, rgb(255, 255, 255) 100%);
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  z-index: -1;
}
.slider--1300__content-info::after {
  content: "";
  position: absolute;
  width: 188px;
  height: 142px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--1300__content-info1 {
  transition: all 0.6s ease;
}
.slider--1300__content-info1::after {
  content: "";
  position: absolute;
  width: 208px;
  height: 122px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--1300__block-info {
  display: block;
  margin-bottom: 20px;
}
.slider--1300__block-info:last-child {
  margin-bottom: 0;
}
.slider--1300__medium-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 3px;
}
.slider--1300__regular-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
}

.info--1133 {
  width: 100%;
  height: 220px;
  margin-bottom: 150px;
  overflow: hidden;
}

.slider-info--1133 {
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.slider--1133__items-info {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 1068px;
  height: 220px;
}
.slider--1133__item-info {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 1068px;
  height: 220px;
}
.slider--1133__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider--1133__slide {
  display: block;
}
.slider--1133__slide-info {
  display: block;
  width: 330px;
  height: 220px;
  margin-right: 39px;
}
.slider--1133__slide-info:last-child {
  margin-right: 0;
}
.slider--1133__link-info {
  display: block;
  width: 330px;
  height: 220px;
  position: relative;
}
.slider--1133__object-info {
  width: 330px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
}
.slider--1133__svg-info {
  width: 330px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes scaleText {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
.slider--1133__card-info {
  width: 330px;
  height: 220px;
}
.slider--1133__border {
  display: block;
  width: 424px;
  height: 276px;
  position: absolute;
}
.slider--1133__border-first, .slider--1133__border-first1 {
  top: 0px;
  left: 0px;
  background-image: url(../../../images/R102.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 top 0;
  z-index: 4;
}
.slider--1133__border-last, .slider--1133__border-last1 {
  bottom: 0;
  right: 0;
  background-image: url(../../../images/R100.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider--1133__content-info, .slider--1133__content-info1 {
  display: block;
  width: 373px;
  height: 232px;
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  background: linear-gradient(180deg, rgb(255, 255, 0) 0%, rgb(233, 204, 241) 0%, rgb(241, 228, 245) 50%, rgb(233, 204, 234) 100%);
  padding: 30px 50px;
  position: relative;
  top: 29px;
  left: 33px;
  transition: all 0.2s ease;
}
.slider--1133__content-info::before {
  content: "";
  position: absolute;
  top: -1.5px;
  left: -1.3px;
  bottom: -1.5px;
  right: -1.5px;
  background: linear-gradient(132deg, rgba(61, 7, 81, 0.8) 0%, rgb(255, 255, 255) 100%);
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  z-index: -1;
}
.slider--1133__content-info::after {
  content: "";
  position: absolute;
  width: 188px;
  height: 142px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--1133__content-info1 {
  transition: all 0.6s ease;
}
.slider--1133__content-info1::after {
  content: "";
  position: absolute;
  width: 208px;
  height: 122px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--1133__block-info {
  display: block;
  margin-bottom: 20px;
}
.slider--1133__block-info:last-child {
  margin-bottom: 0;
}
.slider--1133__medium-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 3px;
}
.slider--1133__regular-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
}

.info--900 {
  width: 702px;
  height: 950px;
  margin: 0 auto;
  margin-bottom: 150px;
  overflow: hidden;
}

.slider-info--900 {
  width: 702px;
  height: 950px;
  overflow: hidden;
}

.slider--900 {
  width: 702px;
  height: 950px;
  overflow: hidden;
}
.slider--900__items-info {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 702px;
  height: 950px;
}
.slider--900__item-info {
  overflow: hidden;
  position: absolute;
  left: 131px;
  top: 0;
  width: 440px;
  height: 950px;
  overflow: hidden;
}
.slider--900__inner-info {
  width: 440px;
  height: 950px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.slider--900__slide {
  display: block;
}
.slider--900__slide-info {
  display: block;
  width: 440px;
  height: 290px;
  margin-bottom: 40px;
}
.slider--900__slide-info:last-child {
  margin-bottom: 0;
}
.slider--900__link-info {
  display: block;
  width: 440px;
  height: 290px;
  position: relative;
}
.slider--900__object-info {
  width: 440px;
  height: 290px;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes scaleText {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
.slider--900__card-info {
  width: 440px;
  height: 290px;
}
.slider--900__border {
  display: block;
  width: 424px;
  height: 276px;
  position: absolute;
}
.slider--900__border-first, .slider--900__border-first1 {
  top: 0px;
  left: 0px;
  background-image: url(../../../images/R102.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 top 0;
  z-index: 4;
}
.slider--900__border-last, .slider--900__border-last1 {
  bottom: 0;
  right: 0;
  background-image: url(../../../images/R100.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider--900__content-info, .slider--900__content-info1 {
  display: block;
  width: 373px;
  height: 232px;
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  background: linear-gradient(180deg, rgb(255, 255, 0) 0%, rgb(233, 204, 241) 0%, rgb(241, 228, 245) 50%, rgb(233, 204, 234) 100%);
  padding: 30px 50px;
  position: relative;
  top: 29px;
  left: 33px;
  transition: all 0.2s ease;
}
.slider--900__content-info::before {
  content: "";
  position: absolute;
  top: -1.5px;
  left: -1.3px;
  bottom: -1.5px;
  right: -1.5px;
  background: linear-gradient(132deg, rgba(61, 7, 81, 0.8) 0%, rgb(255, 255, 255) 100%);
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  z-index: -1;
}
.slider--900__content-info::after {
  content: "";
  position: absolute;
  width: 188px;
  height: 142px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--900__content-info1 {
  transition: all 0.6s ease;
}
.slider--900__content-info1::after {
  content: "";
  position: absolute;
  width: 208px;
  height: 122px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--900__block-info {
  display: block;
  margin-bottom: 20px;
}
.slider--900__block-info:last-child {
  margin-bottom: 0;
}
.slider--900__medium-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 3px;
}
.slider--900__regular-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
}

.info--744 {
  width: 702px;
  height: 950px;
  margin-bottom: 150px;
  overflow: hidden;
}

.slider-info--744 {
  width: 702px;
  height: 950px;
  overflow: hidden;
}

.slider--744 {
  width: 702px;
  height: 950px;
  overflow: hidden;
}
.slider--744__items-info {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 702px;
  height: 950px;
}
.slider--744__item-info {
  overflow: hidden;
  position: absolute;
  left: 131px;
  top: 0;
  width: 440px;
  height: 950px;
  overflow: hidden;
}
.slider--744__inner-info {
  width: 440px;
  height: 950px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.slider--744__slide {
  display: block;
}
.slider--744__slide-info {
  display: block;
  width: 440px;
  height: 290px;
  margin-bottom: 40px;
}
.slider--744__slide-info:last-child {
  margin-bottom: 0;
}
.slider--744__link-info {
  display: block;
  width: 440px;
  height: 290px;
  position: relative;
}
.slider--744__object-info {
  width: 440px;
  height: 290px;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes scaleText {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
.slider--744__card-info {
  width: 440px;
  height: 290px;
}
.slider--744__border {
  display: block;
  width: 424px;
  height: 276px;
  position: absolute;
}
.slider--744__border-first, .slider--744__border-first1 {
  top: 0px;
  left: 0px;
  background-image: url(../../../images/R102.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 top 0;
  z-index: 4;
}
.slider--744__border-last, .slider--744__border-last1 {
  bottom: 0;
  right: 0;
  background-image: url(../../../images/R100.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider--744__content-info, .slider--744__content-info1 {
  display: block;
  width: 373px;
  height: 232px;
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  background: linear-gradient(180deg, rgb(255, 255, 0) 0%, rgb(233, 204, 241) 0%, rgb(241, 228, 245) 50%, rgb(233, 204, 234) 100%);
  padding: 30px 50px;
  position: relative;
  top: 29px;
  left: 33px;
  transition: all 0.2s ease;
}
.slider--744__content-info::before {
  content: "";
  position: absolute;
  top: -1.5px;
  left: -1.3px;
  bottom: -1.5px;
  right: -1.5px;
  background: linear-gradient(132deg, rgba(61, 7, 81, 0.8) 0%, rgb(255, 255, 255) 100%);
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  z-index: -1;
}
.slider--744__content-info::after {
  content: "";
  position: absolute;
  width: 188px;
  height: 142px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--744__content-info1 {
  transition: all 0.6s ease;
}
.slider--744__content-info1::after {
  content: "";
  position: absolute;
  width: 208px;
  height: 122px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--744__block-info {
  display: block;
  margin-bottom: 20px;
}
.slider--744__block-info:last-child {
  margin-bottom: 0;
}
.slider--744__medium-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 3px;
}
.slider--744__regular-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
}

.info--744l {
  width: 702px;
  height: 950px;
  margin-bottom: 80px;
  overflow: hidden;
}

.slider-info--744l {
  width: 702px;
  height: 950px;
  overflow: hidden;
}

.slider--744l {
  width: 702px;
  height: 950px;
  overflow: hidden;
}
.slider--744l__items-info {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 702px;
  height: 950px;
}
.slider--744l__item-info {
  overflow: hidden;
  position: absolute;
  left: 131px;
  top: 0;
  width: 440px;
  height: 950px;
  overflow: hidden;
}
.slider--744l__inner-info {
  width: 440px;
  height: 950px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.slider--744l__slide {
  display: block;
}
.slider--744l__slide-info {
  display: block;
  width: 440px;
  height: 290px;
  margin-bottom: 40px;
}
.slider--744l__slide-info:last-child {
  margin-bottom: 0;
}
.slider--744l__link-info {
  display: block;
  width: 440px;
  height: 290px;
  position: relative;
}
.slider--744l__object-info {
  width: 440px;
  height: 290px;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes scaleText {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
.slider--744l__card-info {
  width: 440px;
  height: 290px;
}
.slider--744l__border {
  display: block;
  width: 424px;
  height: 276px;
  position: absolute;
}
.slider--744l__border-first, .slider--744l__border-first1 {
  top: 0px;
  left: 0px;
  background-image: url(../../../images/R102.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 top 0;
  z-index: 4;
}
.slider--744l__border-last, .slider--744l__border-last1 {
  bottom: 0;
  right: 0;
  background-image: url(../../../images/R100.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider--744l__content-info, .slider--744l__content-info1 {
  display: block;
  width: 373px;
  height: 232px;
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  background: linear-gradient(180deg, rgb(255, 255, 0) 0%, rgb(233, 204, 241) 0%, rgb(241, 228, 245) 50%, rgb(233, 204, 234) 100%);
  padding: 30px 50px;
  position: relative;
  top: 29px;
  left: 33px;
  transition: all 0.2s ease;
}
.slider--744l__content-info::before {
  content: "";
  position: absolute;
  top: -1.5px;
  left: -1.3px;
  bottom: -1.5px;
  right: -1.5px;
  background: linear-gradient(132deg, rgba(61, 7, 81, 0.8) 0%, rgb(255, 255, 255) 100%);
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  z-index: -1;
}
.slider--744l__content-info::after {
  content: "";
  position: absolute;
  width: 188px;
  height: 142px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--744l__content-info1 {
  transition: all 0.6s ease;
}
.slider--744l__content-info1::after {
  content: "";
  position: absolute;
  width: 208px;
  height: 122px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--744l__block-info {
  display: block;
  margin-bottom: 20px;
}
.slider--744l__block-info:last-child {
  margin-bottom: 0;
}
.slider--744l__medium-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 3px;
}
.slider--744l__regular-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
}

.info--600 {
  width: 100%;
  height: 720px;
  overflow: hidden;
  margin-bottom: 80px;
}

.slider-info--600 {
  width: 100%;
  height: 720px;
  overflow: hidden;
}

.slider--600 {
  width: 100%;
  height: 720px;
}
.slider--600__items-info {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
  width: 346px;
  height: 720px;
}
.slider--600__item-info {
  overflow: hidden;
  position: absolute;
  left: 8px;
  top: 0;
  width: 330px;
  height: 720px;
}
.slider--600__inner {
  width: 330px;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.slider--600__inner-info {
  width: 330px;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.slider--600__slide {
  display: block;
}
.slider--600__slide-info {
  display: block;
  width: 330px;
  height: 220px;
  margin-bottom: 30px;
}
.slider--600__slide-info:last-child {
  margin-bottom: 0;
}
.slider--600__link-info {
  display: block;
  width: 330px;
  height: 220px;
  position: relative;
}
.slider--600__object-info {
  width: 330px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
}
.slider--600__svg-info {
  width: 330px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes scaleText {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
.slider--600__card-info {
  width: 330px;
  height: 220px;
}
.slider--600__border {
  display: block;
  width: 424px;
  height: 276px;
  position: absolute;
}
.slider--600__border-first, .slider--600__border-first1 {
  top: 0px;
  left: 0px;
  background-image: url(../../../images/R102.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 top 0;
  z-index: 4;
}
.slider--600__border-last, .slider--600__border-last1 {
  bottom: 0;
  right: 0;
  background-image: url(../../../images/R100.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider--600__content-info, .slider--600__content-info1 {
  display: block;
  width: 373px;
  height: 232px;
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  background: linear-gradient(180deg, rgb(255, 255, 0) 0%, rgb(233, 204, 241) 0%, rgb(241, 228, 245) 50%, rgb(233, 204, 234) 100%);
  padding: 30px 50px;
  position: relative;
  top: 29px;
  left: 33px;
  transition: all 0.2s ease;
}
.slider--600__content-info::before {
  content: "";
  position: absolute;
  top: -1.5px;
  left: -1.3px;
  bottom: -1.5px;
  right: -1.5px;
  background: linear-gradient(132deg, rgba(61, 7, 81, 0.8) 0%, rgb(255, 255, 255) 100%);
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  z-index: -1;
}
.slider--600__content-info::after {
  content: "";
  position: absolute;
  width: 188px;
  height: 142px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--600__content-info1 {
  transition: all 0.6s ease;
}
.slider--600__content-info1::after {
  content: "";
  position: absolute;
  width: 208px;
  height: 122px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--600__block-info {
  display: block;
  margin-bottom: 20px;
}
.slider--600__block-info:last-child {
  margin-bottom: 0;
}
.slider--600__medium-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 3px;
}
.slider--600__regular-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
}

.info--600l {
  width: 100%;
  height: 720px;
  overflow: hidden;
  margin-bottom: 80px;
}

.slider-info--600l {
  width: 100%;
  height: 720px;
  overflow: hidden;
}

.slider--600l {
  width: 100%;
  height: 720px;
}
.slider--600l__items-info {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
  width: 346px;
  height: 720px;
}
.slider--600l__item-info {
  overflow: hidden;
  position: absolute;
  left: 8px;
  top: 0;
  width: 330px;
  height: 720px;
}
.slider--600l__inner {
  width: 330px;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.slider--600l__inner-info {
  width: 330px;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.slider--600l__slide {
  display: block;
}
.slider--600l__slide-info {
  display: block;
  width: 330px;
  height: 220px;
  margin-bottom: 30px;
}
.slider--600l__slide-info:last-child {
  margin-bottom: 0;
}
.slider--600l__link-info {
  display: block;
  width: 330px;
  height: 220px;
  position: relative;
}
.slider--600l__object-info {
  width: 330px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
}
.slider--600l__svg-info {
  width: 330px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes scaleText {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
.slider--600l__card-info {
  width: 330px;
  height: 220px;
}
.slider--600l__border {
  display: block;
  width: 424px;
  height: 276px;
  position: absolute;
}
.slider--600l__border-first, .slider--600l__border-first1 {
  top: 0px;
  left: 0px;
  background-image: url(../../../images/R102.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 top 0;
  z-index: 4;
}
.slider--600l__border-last, .slider--600l__border-last1 {
  bottom: 0;
  right: 0;
  background-image: url(../../../images/R100.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider--600l__content-info, .slider--600l__content-info1 {
  display: block;
  width: 373px;
  height: 232px;
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  background: linear-gradient(180deg, rgb(255, 255, 0) 0%, rgb(233, 204, 241) 0%, rgb(241, 228, 245) 50%, rgb(233, 204, 234) 100%);
  padding: 30px 50px;
  position: relative;
  top: 29px;
  left: 33px;
  transition: all 0.2s ease;
}
.slider--600l__content-info::before {
  content: "";
  position: absolute;
  top: -1.5px;
  left: -1.3px;
  bottom: -1.5px;
  right: -1.5px;
  background: linear-gradient(132deg, rgba(61, 7, 81, 0.8) 0%, rgb(255, 255, 255) 100%);
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  z-index: -1;
}
.slider--600l__content-info::after {
  content: "";
  position: absolute;
  width: 188px;
  height: 142px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--600l__content-info1 {
  transition: all 0.6s ease;
}
.slider--600l__content-info1::after {
  content: "";
  position: absolute;
  width: 208px;
  height: 122px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--600l__block-info {
  display: block;
  margin-bottom: 20px;
}
.slider--600l__block-info:last-child {
  margin-bottom: 0;
}
.slider--600l__medium-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 3px;
}
.slider--600l__regular-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
}

.info--375 {
  width: 100%;
  height: 720px;
  overflow: hidden;
  margin-bottom: 80px;
}

.slider-info--375 {
  width: 100%;
  height: 720px;
  overflow: hidden;
}

.slider--375 {
  width: 100%;
  height: 720px;
}
.slider--375__items-info {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 346px;
  height: 720px;
}
.slider--375__item-info {
  overflow: hidden;
  position: absolute;
  left: 8px;
  top: 0;
  width: 330px;
  height: 720px;
}
.slider--375__inner {
  width: 330px;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.slider--375__inner-info {
  width: 330px;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.slider--375__slide {
  display: block;
}
.slider--375__slide-info {
  display: block;
  width: 330px;
  height: 220px;
  margin-bottom: 30px;
}
.slider--375__slide-info:last-child {
  margin-bottom: 0;
}
.slider--375__link-info {
  display: block;
  width: 330px;
  height: 220px;
  position: relative;
}
.slider--375__object-info {
  width: 330px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
}
.slider--375__svg-info {
  width: 330px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes scaleText {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
.slider--375__card-info {
  width: 330px;
  height: 220px;
}
.slider--375__border {
  display: block;
  width: 424px;
  height: 276px;
  position: absolute;
}
.slider--375__border-first, .slider--375__border-first1 {
  top: 0px;
  left: 0px;
  background-image: url(../../../images/R102.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 top 0;
  z-index: 4;
}
.slider--375__border-last, .slider--375__border-last1 {
  bottom: 0;
  right: 0;
  background-image: url(../../../images/R100.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider--375__content-info, .slider--375__content-info1 {
  display: block;
  width: 373px;
  height: 232px;
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  background: linear-gradient(180deg, rgb(255, 255, 0) 0%, rgb(233, 204, 241) 0%, rgb(241, 228, 245) 50%, rgb(233, 204, 234) 100%);
  padding: 30px 50px;
  position: relative;
  top: 29px;
  left: 33px;
  transition: all 0.2s ease;
}
.slider--375__content-info::before {
  content: "";
  position: absolute;
  top: -1.5px;
  left: -1.3px;
  bottom: -1.5px;
  right: -1.5px;
  background: linear-gradient(132deg, rgba(61, 7, 81, 0.8) 0%, rgb(255, 255, 255) 100%);
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  z-index: -1;
}
.slider--375__content-info::after {
  content: "";
  position: absolute;
  width: 188px;
  height: 142px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--375__content-info1 {
  transition: all 0.6s ease;
}
.slider--375__content-info1::after {
  content: "";
  position: absolute;
  width: 208px;
  height: 122px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--375__block-info {
  display: block;
  margin-bottom: 20px;
}
.slider--375__block-info:last-child {
  margin-bottom: 0;
}
.slider--375__medium-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 3px;
}
.slider--375__regular-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
}

.info--275 {
  width: 100%;
  height: 591px;
  overflow: hidden;
  margin-bottom: 80px;
}

.slider-info--275 {
  width: 100%;
  height: 591px;
  overflow: hidden;
}

.slider--275 {
  width: 100%;
  height: 591px;
}
.slider--275__items-info {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 265px;
  height: 591px;
}
.slider--275__item-info {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0;
  width: 265px;
  height: 591px;
}
.slider--275__inner {
  width: 265px;
  height: 591px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.slider--275__inner-info {
  width: 265px;
  height: 591px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.slider--275__slide {
  display: block;
}
.slider--275__slide-info {
  display: block;
  width: 265px;
  height: 177px;
  margin-bottom: 30px;
}
.slider--275__slide-info:last-child {
  margin-bottom: 0;
}
.slider--275__link-info {
  display: block;
  width: 265px;
  height: 177px;
  position: relative;
}
.slider--275__object-info {
  width: 265px;
  height: 177px;
  position: absolute;
  top: 0;
  left: 0;
}
.slider--275__svg-info {
  width: 265px;
  height: 177px;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes scaleText {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
.slider--275__card-info {
  width: 265px;
  height: 177px;
}
.slider--275__border {
  display: block;
  width: 424px;
  height: 276px;
  position: absolute;
}
.slider--275__border-first, .slider--275__border-first1 {
  top: 0px;
  left: 0px;
  background-image: url(../../../images/R102.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 top 0;
  z-index: 4;
}
.slider--275__border-last, .slider--275__border-last1 {
  bottom: 0;
  right: 0;
  background-image: url(../../../images/R100.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider--275__content-info, .slider--275__content-info1 {
  display: block;
  width: 373px;
  height: 232px;
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  background: linear-gradient(180deg, rgb(255, 255, 0) 0%, rgb(233, 204, 241) 0%, rgb(241, 228, 245) 50%, rgb(233, 204, 234) 100%);
  padding: 30px 50px;
  position: relative;
  top: 29px;
  left: 33px;
  transition: all 0.2s ease;
}
.slider--275__content-info::before {
  content: "";
  position: absolute;
  top: -1.5px;
  left: -1.3px;
  bottom: -1.5px;
  right: -1.5px;
  background: linear-gradient(132deg, rgba(61, 7, 81, 0.8) 0%, rgb(255, 255, 255) 100%);
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  z-index: -1;
}
.slider--275__content-info::after {
  content: "";
  position: absolute;
  width: 188px;
  height: 142px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--275__content-info1 {
  transition: all 0.6s ease;
}
.slider--275__content-info1::after {
  content: "";
  position: absolute;
  width: 208px;
  height: 122px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--275__block-info {
  display: block;
  margin-bottom: 20px;
}
.slider--275__block-info:last-child {
  margin-bottom: 0;
}
.slider--275__medium-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 3px;
}
.slider--275__regular-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
}/*# sourceMappingURL=Info.css.map */