.info {
  width: 100%;
  height: 290px;
  margin-bottom: 150px;
  overflow: hidden;
}

.slider-info {
  width: 100%;
  height: 290px;
  overflow: hidden;
}

.slider__items-info {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 1434px;
  height: 290px;
}
.slider__item-info {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 1434px;
  height: 290px;
}
.slider__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider__slide {
  display: block;
}
.slider__slide-info {
  display: block;
  width: 440px;
  height: 290px;
  margin-right: 57px;
}
.slider__slide-info:last-child {
  margin-right: 0;
}
.slider__link-info {
  display: block;
  width: 440px;
  height: 290px;
  position: relative;
}
.slider__object-info {
  width: 440px;
  height: 290px;
  position: absolute;
  top: 0;
  left: 0;
}
.slider__svg-info {
  width: 440px;
  height: 290px;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes scaleText {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
.slider__card-info {
  width: 440px;
  height: 290px;
}
.slider__border {
  display: block;
  width: 424px;
  height: 276px;
  position: absolute;
}
.slider__border-first, .slider__border-first1 {
  top: 0px;
  left: 0px;
  background-image: url(../../../images/R102.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 top 0;
  z-index: 4;
}
.slider__border-last, .slider__border-last1 {
  bottom: 0;
  right: 0;
  background-image: url(../../../images/R100.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__content-info, .slider__content-info1 {
  display: block;
  width: 373px;
  height: 232px;
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  background: linear-gradient(180deg, rgb(255, 255, 0) 0%, rgb(233, 204, 241) 0%, rgb(241, 228, 245) 50%, rgb(233, 204, 234) 100%);
  padding: 30px 50px;
  position: relative;
  top: 29px;
  left: 33px;
  transition: all 0.2s ease;
}
.slider__content-info::before {
  content: "";
  position: absolute;
  top: -1.5px;
  left: -1.3px;
  bottom: -1.5px;
  right: -1.5px;
  background: linear-gradient(132deg, rgba(61, 7, 81, 0.8) 0%, rgb(255, 255, 255) 100%);
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  z-index: -1;
}
.slider__content-info::after {
  content: "";
  position: absolute;
  width: 188px;
  height: 142px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider__content-info1 {
  transition: all 0.6s ease;
}
.slider__content-info1::after {
  content: "";
  position: absolute;
  width: 208px;
  height: 122px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider__inner-info {
  display: flex;
  width: 275px;
  height: 174px;
  justify-content: center;
  align-items: center;
}
.slider__block-info {
  display: block;
  margin-bottom: 20px;
}
.slider__block-info:last-child {
  margin-bottom: 0;
}
.slider__medium-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 3px;
}
.slider__regular-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
}

.info--1133 {
  width: 100%;
  height: 220px;
  margin-bottom: 150px;
  overflow: hidden;
}

.slider-info--1133 {
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.slider--1133__items-info {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 1068px;
  height: 220px;
}
.slider--1133__item-info {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 1068px;
  height: 220px;
}
.slider--1133__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider--1133__slide {
  display: block;
}
.slider--1133__slide-info {
  display: block;
  width: 330px;
  height: 220px;
  margin-right: 39px;
}
.slider--1133__slide-info:last-child {
  margin-right: 0;
}
.slider--1133__link-info {
  display: block;
  width: 330px;
  height: 220px;
  position: relative;
}
.slider--1133__object-info {
  width: 330px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
}
.slider--1133__svg-info {
  width: 330px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes scaleText {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
.slider--1133__card-info {
  width: 330px;
  height: 220px;
}
.slider--1133__border {
  display: block;
  width: 424px;
  height: 276px;
  position: absolute;
}
.slider--1133__border-first, .slider--1133__border-first1 {
  top: 0px;
  left: 0px;
  background-image: url(../../../images/R102.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 top 0;
  z-index: 4;
}
.slider--1133__border-last, .slider--1133__border-last1 {
  bottom: 0;
  right: 0;
  background-image: url(../../../images/R100.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider--1133__content-info, .slider--1133__content-info1 {
  display: block;
  width: 373px;
  height: 232px;
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  background: linear-gradient(180deg, rgb(255, 255, 0) 0%, rgb(233, 204, 241) 0%, rgb(241, 228, 245) 50%, rgb(233, 204, 234) 100%);
  padding: 30px 50px;
  position: relative;
  top: 29px;
  left: 33px;
  transition: all 0.2s ease;
}
.slider--1133__content-info::before {
  content: "";
  position: absolute;
  top: -1.5px;
  left: -1.3px;
  bottom: -1.5px;
  right: -1.5px;
  background: linear-gradient(132deg, rgba(61, 7, 81, 0.8) 0%, rgb(255, 255, 255) 100%);
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  z-index: -1;
}
.slider--1133__content-info::after {
  content: "";
  position: absolute;
  width: 188px;
  height: 142px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--1133__content-info1 {
  transition: all 0.6s ease;
}
.slider--1133__content-info1::after {
  content: "";
  position: absolute;
  width: 208px;
  height: 122px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--1133__block-info {
  display: block;
  margin-bottom: 20px;
}
.slider--1133__block-info:last-child {
  margin-bottom: 0;
}
.slider--1133__medium-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 3px;
}
.slider--1133__regular-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
}

.info--744 {
  width: 702px;
  height: 950px;
  margin-bottom: 150px;
  overflow: hidden;
}

.slider-info--744 {
  width: 702px;
  height: 950px;
  overflow: hidden;
}

.slider--744 {
  width: 702px;
  height: 950px;
  overflow: hidden;
}
.slider--744__items-info {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 702px;
  height: 950px;
}
.slider--744__item-info {
  overflow: hidden;
  position: absolute;
  left: 131px;
  top: 0;
  width: 440px;
  height: 950px;
  overflow: hidden;
}
.slider--744__inner-info {
  width: 440px;
  height: 950px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.slider--744__slide {
  display: block;
}
.slider--744__slide-info {
  display: block;
  width: 440px;
  height: 290px;
  margin-bottom: 40px;
}
.slider--744__slide-info:last-child {
  margin-bottom: 0;
}
.slider--744__link-info {
  display: block;
  width: 440px;
  height: 290px;
  position: relative;
}
.slider--744__object-info {
  width: 440px;
  height: 290px;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes scaleText {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
.slider--744__card-info {
  width: 440px;
  height: 290px;
}
.slider--744__border {
  display: block;
  width: 424px;
  height: 276px;
  position: absolute;
}
.slider--744__border-first, .slider--744__border-first1 {
  top: 0px;
  left: 0px;
  background-image: url(../../../images/R102.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 top 0;
  z-index: 4;
}
.slider--744__border-last, .slider--744__border-last1 {
  bottom: 0;
  right: 0;
  background-image: url(../../../images/R100.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider--744__content-info, .slider--744__content-info1 {
  display: block;
  width: 373px;
  height: 232px;
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  background: linear-gradient(180deg, rgb(255, 255, 0) 0%, rgb(233, 204, 241) 0%, rgb(241, 228, 245) 50%, rgb(233, 204, 234) 100%);
  padding: 30px 50px;
  position: relative;
  top: 29px;
  left: 33px;
  transition: all 0.2s ease;
}
.slider--744__content-info::before {
  content: "";
  position: absolute;
  top: -1.5px;
  left: -1.3px;
  bottom: -1.5px;
  right: -1.5px;
  background: linear-gradient(132deg, rgba(61, 7, 81, 0.8) 0%, rgb(255, 255, 255) 100%);
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  z-index: -1;
}
.slider--744__content-info::after {
  content: "";
  position: absolute;
  width: 188px;
  height: 142px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--744__content-info1 {
  transition: all 0.6s ease;
}
.slider--744__content-info1::after {
  content: "";
  position: absolute;
  width: 208px;
  height: 122px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--744__block-info {
  display: block;
  margin-bottom: 20px;
}
.slider--744__block-info:last-child {
  margin-bottom: 0;
}
.slider--744__medium-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 3px;
}
.slider--744__regular-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
}

.info--744l {
  width: 702px;
  height: 950px;
  margin-bottom: 80px;
  overflow: hidden;
}

.slider-info--744l {
  width: 702px;
  height: 950px;
  overflow: hidden;
}

.slider--744l {
  width: 702px;
  height: 950px;
  overflow: hidden;
}
.slider--744l__items-info {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 702px;
  height: 950px;
}
.slider--744l__item-info {
  overflow: hidden;
  position: absolute;
  left: 131px;
  top: 0;
  width: 440px;
  height: 950px;
  overflow: hidden;
}
.slider--744l__inner-info {
  width: 440px;
  height: 950px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.slider--744l__slide {
  display: block;
}
.slider--744l__slide-info {
  display: block;
  width: 440px;
  height: 290px;
  margin-bottom: 40px;
}
.slider--744l__slide-info:last-child {
  margin-bottom: 0;
}
.slider--744l__link-info {
  display: block;
  width: 440px;
  height: 290px;
  position: relative;
}
.slider--744l__object-info {
  width: 440px;
  height: 290px;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes scaleText {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
.slider--744l__card-info {
  width: 440px;
  height: 290px;
}
.slider--744l__border {
  display: block;
  width: 424px;
  height: 276px;
  position: absolute;
}
.slider--744l__border-first, .slider--744l__border-first1 {
  top: 0px;
  left: 0px;
  background-image: url(../../../images/R102.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 top 0;
  z-index: 4;
}
.slider--744l__border-last, .slider--744l__border-last1 {
  bottom: 0;
  right: 0;
  background-image: url(../../../images/R100.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider--744l__content-info, .slider--744l__content-info1 {
  display: block;
  width: 373px;
  height: 232px;
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  background: linear-gradient(180deg, rgb(255, 255, 0) 0%, rgb(233, 204, 241) 0%, rgb(241, 228, 245) 50%, rgb(233, 204, 234) 100%);
  padding: 30px 50px;
  position: relative;
  top: 29px;
  left: 33px;
  transition: all 0.2s ease;
}
.slider--744l__content-info::before {
  content: "";
  position: absolute;
  top: -1.5px;
  left: -1.3px;
  bottom: -1.5px;
  right: -1.5px;
  background: linear-gradient(132deg, rgba(61, 7, 81, 0.8) 0%, rgb(255, 255, 255) 100%);
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  z-index: -1;
}
.slider--744l__content-info::after {
  content: "";
  position: absolute;
  width: 188px;
  height: 142px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--744l__content-info1 {
  transition: all 0.6s ease;
}
.slider--744l__content-info1::after {
  content: "";
  position: absolute;
  width: 208px;
  height: 122px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--744l__block-info {
  display: block;
  margin-bottom: 20px;
}
.slider--744l__block-info:last-child {
  margin-bottom: 0;
}
.slider--744l__medium-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 3px;
}
.slider--744l__regular-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
}

.info--375 {
  width: 100%;
  height: 720px;
  overflow: hidden;
  margin-bottom: 80px;
}

.slider-info--375 {
  width: 100%;
  height: 720px;
  overflow: hidden;
}

.slider--375 {
  width: 100%;
  height: 720px;
}
.slider--375__items-info {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 346px;
  height: 720px;
}
.slider--375__item-info {
  overflow: hidden;
  position: absolute;
  left: 8px;
  top: 0;
  width: 330px;
  height: 720px;
}
.slider--375__inner-info {
  width: 330px;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.slider--375__slide {
  display: block;
}
.slider--375__slide-info {
  display: block;
  width: 330px;
  height: 220px;
  margin-bottom: 30px;
}
.slider--375__slide-info:last-child {
  margin-bottom: 0;
}
.slider--375__link-info {
  display: block;
  width: 330px;
  height: 220px;
  position: relative;
}
.slider--375__object-info {
  width: 330px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
}
.slider--375__svg-info {
  width: 330px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes scaleText {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
.slider--375__card-info {
  width: 330px;
  height: 220px;
}
.slider--375__border {
  display: block;
  width: 424px;
  height: 276px;
  position: absolute;
}
.slider--375__border-first, .slider--375__border-first1 {
  top: 0px;
  left: 0px;
  background-image: url(../../../images/R102.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 top 0;
  z-index: 4;
}
.slider--375__border-last, .slider--375__border-last1 {
  bottom: 0;
  right: 0;
  background-image: url(../../../images/R100.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider--375__content-info, .slider--375__content-info1 {
  display: block;
  width: 373px;
  height: 232px;
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  background: linear-gradient(180deg, rgb(255, 255, 0) 0%, rgb(233, 204, 241) 0%, rgb(241, 228, 245) 50%, rgb(233, 204, 234) 100%);
  padding: 30px 50px;
  position: relative;
  top: 29px;
  left: 33px;
  transition: all 0.2s ease;
}
.slider--375__content-info::before {
  content: "";
  position: absolute;
  top: -1.5px;
  left: -1.3px;
  bottom: -1.5px;
  right: -1.5px;
  background: linear-gradient(132deg, rgba(61, 7, 81, 0.8) 0%, rgb(255, 255, 255) 100%);
  border-top-left-radius: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 6px;
  z-index: -1;
}
.slider--375__content-info::after {
  content: "";
  position: absolute;
  width: 188px;
  height: 142px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--375__content-info1 {
  transition: all 0.6s ease;
}
.slider--375__content-info1::after {
  content: "";
  position: absolute;
  width: 208px;
  height: 122px;
  border-bottom: 2px solid rgba(61, 7, 81, 0.6);
  border-right: 2px solid rgba(61, 7, 81, 0.6);
  border-bottom-right-radius: 22px;
  bottom: -1px;
  right: -1px;
}
.slider--375__block-info {
  display: block;
  margin-bottom: 20px;
}
.slider--375__block-info:last-child {
  margin-bottom: 0;
}
.slider--375__medium-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 3px;
}
.slider--375__regular-info {
  display: block;
  color: #3d0751;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
}/*# sourceMappingURL=Info.css.map */