@use '../../../scss/config/_variables.scss' as *;
@use '../../../scss/config/_mixins.scss' as *;
@use '../../../scss/config/_patterns.scss' as *;

// _desktop.scss

.container {
  width: 1434px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 1728px;
  height: 120px;
  margin: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  //   background-image: url(../images/bg-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99;

  // .header__inner
  &__inner {
    width: 100%;
    height: 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__left
  &__left {
    width: 536px;
    height: 66px;
    // height: 56px;
    align-self: flex-end;
  }

  // .header__line
  &__line {
    width: 582px;
    height: 2px;
    flex-shrink: 0;
    background-color: rgba(126, 11, 146, 0.6);
    box-shadow: 0px 2px 5px 0px rgba(126, 11, 146, 0.4);
  }

  // .header__inner-left
  &__inner-left {
    width: 480px;
    height: 66px;
    // height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__right
  &__right {
    min-width: 646px;
    height: 21px;
    flex-shrink: 0;
  }

  // .header__inner-right
  &__inner-right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.block {
  &__body {
  }
}

.block-lock {
}

// media-1300.scss

.container--1300 {
  width: 1068px;
  margin: 0 auto;
}

.header--1300 {
  position: fixed;
  width: 1300px;
  height: 120px;
  // background-image: url(../../images/bg-header1133.png);
  margin: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99;

  // .header__inner
  &__inner {
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__left
  &__left {
    width: 388px;
    height: 55px;
    // height: 71px;
    align-self: flex-end;
  }

  // .header__inner-left
  &__inner-left {
    width: 388px;
    height: 55px;
    // height: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__line
  &__line {
    width: 427px;
    height: 2px;
    flex-shrink: 0;
    background: rgba(126, 11, 146, 0.6);
    box-shadow: 0px 2px 5px 0px rgba(126, 11, 146, 0.4);
  }

  // .header__right
  &__right {
    width: 600px;
    // width: 621px;
    height: 21px;
    align-self: flex-start;
    margin-top: 37px;
  }

  // .header__inner-right
  &__inner-right {
    width: 600px;
    // width: 621px;
    height: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.block--1300 {
  &__body {
  }
}

.block-lock--1300 {
}

// media-1133.scss

.container--1133 {
  width: 1068px;
  margin: 0 auto;
}

.header--1133 {
  position: fixed;
  width: 1133px;
  height: 120px;
  // background-image: url(../../images/bg-header1133.png);
  margin: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99;

  // .header__inner
  &__inner {
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__left
  &__left {
    width: 388px;
    height: 55px;
    // height: 71px;
    align-self: flex-end;
  }

  // .header__inner-left
  &__inner-left {
    width: 388px;
    height: 55px;
    // height: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__line
  &__line {
    width: 427px;
    height: 2px;
    flex-shrink: 0;
    background: rgba(126, 11, 146, 0.6);
    box-shadow: 0px 2px 5px 0px rgba(126, 11, 146, 0.4);
  }

  // .header__right
  &__right {
    width: 600px;
    // width: 621px;
    height: 21px;
    align-self: flex-start;
    margin-top: 37px;
  }

  // .header__inner-right
  &__inner-right {
    width: 600px;
    // width: 621px;
    height: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.block--1133 {
  &__body {
  }
}

.block-lock--1133 {
}

// media-900.scss

.container--900 {
  width: 702px;
  margin: 0 auto;
}

.header--900 {
  position: fixed;
  width: 900px;
  height: 75px;
  margin: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  // background-image: url(../../images/bg-header744.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99;

  // .header__inner
  &__inner {
    width: 100%;
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .header__left
  &__left {
    width: 285px;
    height: 40px;
    // height: 44px;
    align-self: flex-end;
  }
  // .header__inner-left
  &__inner-left {
    width: 285px;
    height: 40px;
    // height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__line
  &__line {
    width: 322px;
    height: 2px;
    flex-shrink: 0;
    background: rgba(126, 11, 146, 0.6);
    box-shadow: 0px 2px 5px 0px rgba(126, 11, 146, 0.4);
  }

  // .header__right
  &__right {
    width: 303px;
    height: 25px;
    align-self: flex-start;
    margin-top: 13px;
  }
  // .header__inner-right
  &__inner-right {
    width: 303px;
    height: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  //   // .header__phone
  //   &__phone {
  //     width: 122px;
  //     height: 18px;
  //   }
}

.block--900 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: rgba(217, 217, 217, 0.2);
  backdrop-filter: blur(3px);
  opacity: 1;
  visibility: visible;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 150;
  &__body {
    position: relative;
    width: 70%;
    height: 100%;
    z-index: 28;
    background: linear-gradient(
      180deg,
      rgba(229, 189, 236, 0.5) 0%,
      rgba(241, 223, 245, 0.5) 51.35%,
      rgba(229, 189, 236, 0.5) 100%
    );
    box-shadow: 2px 2px 6px rgba(201, 117, 216, 0.6);
    border: 1px solid #f7e2ff;
    backdrop-filter: blur(3px);
    padding: 50px;
  }
}

.block-lock--900 {
  display: none;
}

// media-744.scss

.container--744 {
  width: 702px;
  margin: 0 auto;
}

.header--744 {
  position: fixed;
  width: 744px;
  height: 75px;
  margin: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  // background-image: url(../../images/bg-header744.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99;

  // .header__inner
  &__inner {
    width: 100%;
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .header__left
  &__left {
    width: 285px;
    height: 40px;
    // height: 44px;
    align-self: flex-end;
  }
  // .header__inner-left
  &__inner-left {
    width: 285px;
    height: 40px;
    // height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__line
  &__line {
    width: 322px;
    height: 2px;
    flex-shrink: 0;
    background: rgba(126, 11, 146, 0.6);
    box-shadow: 0px 2px 5px 0px rgba(126, 11, 146, 0.4);
  }

  // .header__right
  &__right {
    width: 303px;
    height: 25px;
    align-self: flex-start;
    margin-top: 13px;
  }
  // .header__inner-right
  &__inner-right {
    width: 303px;
    height: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  //   // .header__phone
  //   &__phone {
  //     width: 122px;
  //     height: 18px;
  //   }
}

.block--744 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: rgba(217, 217, 217, 0.2);
  backdrop-filter: blur(3px);
  opacity: 1;
  visibility: visible;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 150;
  &__body {
    position: relative;
    width: 70%;
    height: 100%;
    z-index: 28;
    background: linear-gradient(
      180deg,
      rgba(229, 189, 236, 0.5) 0%,
      rgba(241, 223, 245, 0.5) 51.35%,
      rgba(229, 189, 236, 0.5) 100%
    );
    box-shadow: 2px 2px 6px rgba(201, 117, 216, 0.6);
    border: 1px solid #f7e2ff;
    backdrop-filter: blur(3px);
    padding: 50px;
  }
}

.block-lock--744 {
  display: none;
}

// media-744l.scss

.container--744l {
  width: 702px;
  margin: 0 auto;
}

.header--744l {
  position: fixed;
  width: 744px;
  height: 75px;
  margin: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  // background-image: url(../../images/bg-header744.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99;

  // .header__inner
  &__inner {
    width: 100%;
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .header__left
  &__left {
    width: 285px;
    height: 40px;
    // height: 44px;
    align-self: flex-end;
  }
  // .header__inner-left
  &__inner-left {
    width: 285px;
    height: 40px;
    // height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__line
  &__line {
    width: 322px;
    height: 2px;
    flex-shrink: 0;
    background: rgba(126, 11, 146, 0.6);
    box-shadow: 0px 2px 5px 0px rgba(126, 11, 146, 0.4);
  }

  // .header__right
  &__right {
    width: 303px;
    height: 25px;
    align-self: flex-start;
    margin-top: 13px;
  }
  // .header__inner-right
  &__inner-right {
    width: 303px;
    height: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  //   // .header__phone
  //   &__phone {
  //     width: 122px;
  //     height: 18px;
  //   }
}

.block--744l {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: rgba(217, 217, 217, 0.2);
  backdrop-filter: blur(3px);
  opacity: 1;
  visibility: visible;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 150;
  &__body {
    // position: relative;
    width: 70%;
    height: 100%;
    z-index: 28;
    background: linear-gradient(
      180deg,
      rgba(229, 189, 236, 0.5) 0%,
      rgba(241, 223, 245, 0.5) 51.35%,
      rgba(229, 189, 236, 0.5) 100%
    );
    box-shadow: 2px 2px 6px rgba(201, 117, 216, 0.6);
    border: 1px solid #f7e2ff;
    backdrop-filter: blur(3px);
    padding: 15px 15px 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
  }
}

.block-lock--744l {
  display: none;
}

// media-600.scss

.container--600 {
  width: 512px;
  margin: 0 auto;
}

.header--600 {
  position: fixed;
  width: 600px;
  height: 57px;
  margin: auto;
  left: 0;
  right: 0;
  // background-image: url(../../images/bg-header375.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99;

  // .header__inner
  &__inner {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__left
  &__left {
    width: 161px;
    height: 28px;
    align-self: flex-end;
  }

  // .header__inner-left
  &__inner-left {
    width: 161px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // // .header__logo
  // &__logo {
  //   width: 25px;
  //   height: 25px;
  //   align-self: center;
  // }

  // // .header__link
  // &__link {
  //   width: 25px;
  //   height: 25px;
  //   align-self: center;
  // }

  // // .header__title
  // &__title {
  //   width: 129px;
  //   height: 28px;
  // }

  // .header__line
  &__line {
    width: 167px;
    height: 2px;
    margin-top: 6px;
    flex-shrink: 0;
    background: rgba(126, 11, 146, 0.6);
    box-shadow: 0px 2px 5px 0px rgba(126, 11, 146, 0.4);
  }

  // .header__right
  &__right {
    width: 140px;
    height: 20px;
    align-self: flex-start;
    margin-top: 14px;
  }

  // .header__inner-right
  &__inner-right {
    width: 140px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  // // .header__menu
  // &__menu {
  //   display: none;
  // }

  // // .header__phone
  // &__phone {
  //   width: 106px;
  //   height: 18px;
  // }
}

.block--600 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: rgba(217, 217, 217, 0.2);
  backdrop-filter: blur(3px);
  opacity: 1;
  visibility: visible;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 150;
  &__body {
    position: relative;
    width: 70%;
    height: 100%;
    z-index: 28;
    background: linear-gradient(
      180deg,
      rgba(229, 189, 236, 0.5) 0%,
      rgba(241, 223, 245, 0.5) 51.35%,
      rgba(229, 189, 236, 0.5) 100%
    );
    box-shadow: 2px 2px 6px rgba(201, 117, 216, 0.6);
    border: 1px solid #f7e2ff;
    backdrop-filter: blur(3px);
    padding: 15px 15px 30px 15px;
  }
}

.block-lock--600 {
  display: none;
}

// media-600l.scss

.container--600l {
  width: 512px;
  margin: 0 auto;
}

.header--600l {
  position: fixed;
  width: 600px;
  height: 57px;
  margin: auto;
  left: 0;
  right: 0;
  // background-image: url(../../images/bg-header375.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99;

  // .header__inner
  &__inner {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__left
  &__left {
    width: 161px;
    height: 28px;
    align-self: flex-end;
  }

  // .header__inner-left
  &__inner-left {
    width: 161px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // // .header__logo
  // &__logo {
  //   width: 25px;
  //   height: 25px;
  //   align-self: center;
  // }

  // // .header__link
  // &__link {
  //   width: 25px;
  //   height: 25px;
  //   align-self: center;
  // }

  // // .header__title
  // &__title {
  //   width: 129px;
  //   height: 28px;
  // }

  // .header__line
  &__line {
    width: 167px;
    height: 2px;
    margin-top: 6px;
    flex-shrink: 0;
    background: rgba(126, 11, 146, 0.6);
    box-shadow: 0px 2px 5px 0px rgba(126, 11, 146, 0.4);
  }

  // .header__right
  &__right {
    width: 140px;
    height: 20px;
    align-self: flex-start;
    margin-top: 14px;
  }

  // .header__inner-right
  &__inner-right {
    width: 140px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  // // .header__menu
  // &__menu {
  //   display: none;
  // }

  // // .header__phone
  // &__phone {
  //   width: 106px;
  //   height: 18px;
  // }
}

.block--600l {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: rgba(217, 217, 217, 0.2);
  backdrop-filter: blur(3px);
  opacity: 1;
  visibility: visible;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 150;
  &__body {
    position: relative;
    width: 70%;
    height: 100%;
    z-index: 28;
    background: linear-gradient(
      180deg,
      rgba(229, 189, 236, 0.5) 0%,
      rgba(241, 223, 245, 0.5) 51.35%,
      rgba(229, 189, 236, 0.5) 100%
    );
    box-shadow: 2px 2px 6px rgba(201, 117, 216, 0.6);
    border: 1px solid #f7e2ff;
    backdrop-filter: blur(3px);
    padding: 15px 15px 30px 15px;
  }
}

.block-lock--600l {
  display: none;
}

// media-375.scss

.container--375 {
  width: 346px;
  margin: 0 auto;
}

.header--375 {
  position: fixed;
  width: 375px;
  height: 57px;
  margin: auto;
  left: 0;
  right: 0;
  // background-image: url(../../images/bg-header375.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99;

  // .header__inner
  &__inner {
    width: 346px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__left
  &__left {
    width: 161px;
    height: 28px;
    align-self: flex-end;
  }

  // .header__inner-left
  &__inner-left {
    width: 161px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // // .header__logo
  // &__logo {
  //   width: 25px;
  //   height: 25px;
  //   align-self: center;
  // }

  // // .header__link
  // &__link {
  //   width: 25px;
  //   height: 25px;
  //   align-self: center;
  // }

  // // .header__title
  // &__title {
  //   width: 129px;
  //   height: 28px;
  // }

  // .header__line
  &__line {
    width: 167px;
    height: 2px;
    margin-top: 6px;
    flex-shrink: 0;
    background: rgba(126, 11, 146, 0.6);
    box-shadow: 0px 2px 5px 0px rgba(126, 11, 146, 0.4);
  }

  // .header__right
  &__right {
    width: 140px;
    height: 20px;
    align-self: flex-start;
    margin-top: 14px;
  }

  // .header__inner-right
  &__inner-right {
    width: 140px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  // // .header__menu
  // &__menu {
  //   display: none;
  // }

  // // .header__phone
  // &__phone {
  //   width: 106px;
  //   height: 18px;
  // }
}

.block--375 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: rgba(217, 217, 217, 0.2);
  backdrop-filter: blur(3px);
  opacity: 1;
  visibility: visible;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 150;
  &__body {
    position: relative;
    width: 70%;
    height: 100%;
    z-index: 28;
    background: linear-gradient(
      180deg,
      rgba(229, 189, 236, 0.5) 0%,
      rgba(241, 223, 245, 0.5) 51.35%,
      rgba(229, 189, 236, 0.5) 100%
    );
    box-shadow: 2px 2px 6px rgba(201, 117, 216, 0.6);
    border: 1px solid #f7e2ff;
    backdrop-filter: blur(3px);
    padding: 15px 15px 30px 15px;
  }
}

.block-lock--375 {
  display: none;
}

// media-275.scss

.container--275 {
  width: 265px;
  margin: 0 auto;
}

.header--275 {
  position: fixed;
  width: 275px;
  height: 57px;
  margin: auto;
  left: 0;
  right: 0;
  // background-image: url(../../images/bg-header375.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99;

  // .header__inner
  &__inner {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__left
  &__left {
    width: 161px;
    height: 28px;
    align-self: flex-end;
  }

  // .header__inner-left
  &__inner-left {
    width: 161px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__line
  &__line {
    width: 167px;
    height: 2px;
    margin-top: 6px;
    flex-shrink: 0;
    background: rgba(126, 11, 146, 0.6);
    box-shadow: 0px 2px 5px 0px rgba(126, 11, 146, 0.4);
  }

  // .header__right
  &__right {
    width: 73px;
    // width: 140px;
    height: 20px;
    align-self: flex-start;
    margin-top: 14px;
  }

  // .header__inner-right
  &__inner-right {
    width: 73px;
    // width: 140px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.block--275 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: rgba(217, 217, 217, 0.2);
  backdrop-filter: blur(3px);
  opacity: 1;
  visibility: visible;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 150;
  &__body {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 28;
    background: linear-gradient(
      180deg,
      rgba(229, 189, 236, 0.5) 0%,
      rgba(241, 223, 245, 0.5) 51.35%,
      rgba(229, 189, 236, 0.5) 100%
    );
    box-shadow: 2px 2px 6px rgba(201, 117, 216, 0.6);
    border: 1px solid #f7e2ff;
    backdrop-filter: blur(3px);
    padding: 15px;
  }
}

.block-lock--275 {
  display: none;
}






