.container {
  width: 1434px;
  margin: 0 auto;
}

.container-companies {
  width: 1728px;
  margin: 0 auto;
}

.companies {
  width: 100%;
  height: 262px;
  margin-bottom: 150px;
  z-index: 1;
}
.companies__list {
  width: 100%;
  height: 242px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 85px;
}
.companies__item {
  width: 286px;
  z-index: 1;
}
.companies__frame {
  display: flex;
  width: 335.004px;
  height: 151.002px;
  transform: rotate(-48deg);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.companies__frame-mychway {
  padding: 31.055px 30.221px 30.889px 30.783px;
  z-index: 1;
}
.companies__group-mychway {
  width: 274px;
  height: 89.058px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}
.companies__blur {
  display: block;
  color: rgba(126, 11, 146, 0.2);
  text-align: center;
  font-family: Roboto;
  font-size: 65px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  filter: blur(7px);
  position: absolute;
  cursor: default;
}
.companies__blur-mychway {
  left: 0;
  top: 20px;
}
.companies__name {
  color: #7e0b92;
  text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: default;
}
.companies__frame-auro {
  padding: 28.851px 81.639px 28.918px 82.365px;
  z-index: 1;
}
.companies__group-auro {
  width: 171px;
  height: 93.233px;
  flex-shrink: 0;
  z-index: 1;
}
.companies__blur-auro {
  left: 80px;
  top: 50px;
  z-index: 1;
}
.companies__frame-salonart {
  padding: 30.04px 41.141px 30.405px 39.863px;
  z-index: 1;
}
.companies__group-salonart {
  width: 254px;
  height: 90.557px;
  flex-shrink: 0;
  z-index: 1;
}
.companies__blur-salonart {
  left: 45px;
  top: 48px;
  z-index: 1;
}
.companies__frame-vibro {
  display: inline-flex;
  transform: rotate(-48deg);
  padding: 42.159px 86.627px 20.958px 106.975px;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}
.companies__group-vibro {
  width: 141.403px;
  height: 87.884px;
  z-index: 1;
}
.companies__blur-vibro {
  left: 100px;
  top: 60px;
  z-index: 1;
}
.companies__frame-drceuracle {
  padding: 30.107px 0px 29.003px 0px;
  z-index: 1;
}
.companies__group-drceuracle {
  width: 335px;
  height: 91.891px;
  flex-shrink: 0;
  z-index: 1;
}
.companies__blur-drceuracle {
  left: 0;
  top: 50px;
  z-index: 1;
}

.container--1133 {
  width: 1133px;
  margin: 0 auto;
}

.container-companies--1133 {
  width: 1133px;
  height: 242px;
  position: absolute;
  top: 0;
  left: -7px;
}

.companies--1133 {
  position: relative;
  width: 1133px;
  height: 242px;
  top: 0;
  left: 0;
  margin-bottom: 150px;
}
.companies--1133__list {
  width: 1133px;
  height: 242px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;
}
.companies--1133__item {
  width: 213px;
}
.companies--1133__item-mychway {
  margin-left: -50px;
}
.companies--1133__frame {
  display: flex;
  width: 335.004px;
  height: 151.002px;
  transform: rotate(-48deg);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.companies--1133__frame-mychway {
  padding: 31.055px 30.221px 30.889px 30.783px;
  z-index: 1;
}
.companies--1133__group-mychway {
  width: 274px;
  height: 89.058px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}
.companies--1133__blur {
  display: block;
  color: rgba(126, 11, 146, 0.2);
  text-align: center;
  font-family: Roboto;
  font-size: 65px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  filter: blur(7px);
  position: absolute;
  cursor: default;
}
.companies--1133__blur-mychway {
  left: 0;
  top: 20px;
}
.companies--1133__name {
  color: #7e0b92;
  text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: default;
}
.companies--1133__frame-auro {
  padding: 28.851px 81.639px 28.918px 82.365px;
}
.companies--1133__group-auro {
  width: 171px;
  height: 93.233px;
  flex-shrink: 0;
  z-index: 1;
}
.companies--1133__blur-auro {
  left: 80px;
  top: 50px;
  z-index: 1;
}
.companies--1133__frame-salonart {
  padding: 30.04px 41.141px 30.405px 39.863px;
  z-index: 1;
}
.companies--1133__group-salonart {
  width: 254px;
  height: 90.557px;
  flex-shrink: 0;
  z-index: 1;
}
.companies--1133__blur-salonart {
  left: 45px;
  top: 48px;
  z-index: 1;
}
.companies--1133__item-vibro {
  margin-right: 20px;
}
.companies--1133__frame-vibro {
  display: inline-flex;
  transform: rotate(-48deg);
  padding: 42.159px 86.627px 20.958px 106.975px;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}
.companies--1133__group-vibro {
  width: 141.403px;
  height: 87.884px;
  z-index: 1;
}
.companies--1133__blur-vibro {
  left: 100px;
  top: 60px;
  z-index: 1;
}
.companies--1133__item-drceuracle {
  margin-right: 70px;
}
.companies--1133__frame-drceuracle {
  padding: 30.107px 0px 29.003px 0px;
  z-index: 1;
}
.companies--1133__group-drceuracle {
  width: 335px;
  height: 91.891px;
  flex-shrink: 0;
  z-index: 1;
}
.companies--1133__blur-drceuracle {
  left: 0;
  top: 50px;
  z-index: 1;
}

.container--744 {
  width: 702px;
  margin: 0 auto;
}

.container-companies--744 {
  width: 744px;
  height: 242px;
  position: absolute;
  top: 0;
  left: 20px;
}

.companies--744 {
  position: relative;
  width: 744px;
  height: 262px;
  top: 0;
  left: 0;
  margin-bottom: 150px;
}
.companies--744__list {
  width: 744px;
  height: 242px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.companies--744__item {
  width: 148px;
  margin-right: 0;
  transform: scale(0.62);
}
.companies--744__item-mychway {
  margin-left: -76px;
}
.companies--744__frame {
  display: flex;
  width: 335.004px;
  height: 151.002px;
  transform: rotate(-48deg);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.companies--744__frame-mychway {
  padding: 31.055px 30.221px 30.889px 30.783px;
}
.companies--744__group-mychway {
  width: 274px;
  height: 89.058px;
  flex-shrink: 0;
  position: relative;
}
.companies--744__blur {
  display: block;
  color: rgba(126, 11, 146, 0.2);
  text-align: center;
  font-family: Roboto;
  font-size: 65px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  filter: blur(7px);
  position: absolute;
  cursor: default;
}
.companies--744__blur-mychway {
  left: 0;
  top: 20px;
}
.companies--744__name {
  color: #7e0b92;
  text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: default;
}
.companies--744__item-auro {
  margin-left: 0;
}
.companies--744__frame-auro {
  padding: 28.851px 81.639px 28.918px 82.365px;
}
.companies--744__group-auro {
  width: 171px;
  height: 93.233px;
  flex-shrink: 0;
}
.companies--744__blur-auro {
  left: 80px;
  top: 50px;
}
.companies--744__item-salonart {
  margin-left: -20px;
}
.companies--744__frame-salonart {
  padding: 30.04px 41.141px 30.405px 39.863px;
}
.companies--744__group-salonart {
  width: 254px;
  height: 90.557px;
  flex-shrink: 0;
}
.companies--744__blur-salonart {
  left: 45px;
  top: 48px;
}
.companies--744__item-vibro {
  margin-right: 0;
  margin-left: -20px;
}
.companies--744__frame-vibro {
  display: inline-flex;
  transform: rotate(-48deg);
  padding: 42.159px 86.627px 20.958px 106.975px;
  justify-content: flex-end;
  align-items: center;
}
.companies--744__group-vibro {
  width: 141.403px;
  height: 87.884px;
}
.companies--744__blur-vibro {
  left: 100px;
  top: 60px;
}
.companies--744__item-drceuracle {
  margin-left: 0;
  margin-right: 105px;
}
.companies--744__frame-drceuracle {
  padding: 30.107px 0px 29.003px 0px;
}
.companies--744__group-drceuracle {
  width: 335px;
  height: 91.891px;
  flex-shrink: 0;
}
.companies--744__blur-drceuracle {
  left: 0;
  top: 50px;
}

.container--744l {
  width: 702px;
  margin: 0 auto;
}

.container-companies--744l {
  width: 744px;
  height: 242px;
  position: absolute;
  top: 0;
  left: 20px;
}

.companies--744l {
  position: relative;
  width: 744px;
  height: 262px;
  top: 0;
  left: 0;
  margin-bottom: 80px;
}
.companies--744l__list {
  width: 744px;
  height: 242px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.companies--744l__item {
  width: 148px;
  margin-right: 0;
  transform: scale(0.62);
}
.companies--744l__item-mychway {
  margin-left: -76px;
}
.companies--744l__frame {
  display: flex;
  width: 335.004px;
  height: 151.002px;
  transform: rotate(-48deg);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.companies--744l__frame-mychway {
  padding: 31.055px 30.221px 30.889px 30.783px;
}
.companies--744l__group-mychway {
  width: 274px;
  height: 89.058px;
  flex-shrink: 0;
  position: relative;
}
.companies--744l__blur {
  display: block;
  color: rgba(126, 11, 146, 0.2);
  text-align: center;
  font-family: Roboto;
  font-size: 65px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  filter: blur(7px);
  position: absolute;
  cursor: default;
}
.companies--744l__blur-mychway {
  left: 0;
  top: 20px;
}
.companies--744l__name {
  color: #7e0b92;
  text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: default;
}
.companies--744l__item-auro {
  margin-left: 0;
}
.companies--744l__frame-auro {
  padding: 28.851px 81.639px 28.918px 82.365px;
}
.companies--744l__group-auro {
  width: 171px;
  height: 93.233px;
  flex-shrink: 0;
}
.companies--744l__blur-auro {
  left: 80px;
  top: 50px;
}
.companies--744l__item-salonart {
  margin-left: -20px;
}
.companies--744l__frame-salonart {
  padding: 30.04px 41.141px 30.405px 39.863px;
}
.companies--744l__group-salonart {
  width: 254px;
  height: 90.557px;
  flex-shrink: 0;
}
.companies--744l__blur-salonart {
  left: 45px;
  top: 48px;
}
.companies--744l__item-vibro {
  margin-right: 0;
  margin-left: -20px;
}
.companies--744l__frame-vibro {
  display: inline-flex;
  transform: rotate(-48deg);
  padding: 42.159px 86.627px 20.958px 106.975px;
  justify-content: flex-end;
  align-items: center;
}
.companies--744l__group-vibro {
  width: 141.403px;
  height: 87.884px;
}
.companies--744l__blur-vibro {
  left: 100px;
  top: 60px;
}
.companies--744l__item-drceuracle {
  margin-left: 0;
  margin-right: 105px;
}
.companies--744l__frame-drceuracle {
  padding: 30.107px 0px 29.003px 0px;
}
.companies--744l__group-drceuracle {
  width: 335px;
  height: 91.891px;
  flex-shrink: 0;
}
.companies--744l__blur-drceuracle {
  left: 0;
  top: 50px;
}

.container--375 {
  width: 346px;
  margin: 0 auto;
}

.container-companies--375 {
  width: 346px;
  margin: 0 auto;
}

.companies--375 {
  width: 375px;
  height: 154px;
  margin-bottom: 80px;
}
.companies--375__list {
  width: 346px;
  height: 154px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.companies--375__item {
  position: relative;
  width: 75px;
  height: 154px;
  margin-right: 0;
  margin-left: 0;
  top: 0;
  bottom: 0;
  transform: scale(0.8);
}
.companies--375__item-mychway {
  margin-left: -53px;
  margin-top: 50px;
}
.companies--375__frame {
  display: flex;
  width: 335.004px;
  height: 151.002px;
  transform: rotate(-48deg);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.companies--375__frame-mychway {
  display: flex;
  width: 218px;
  height: 70px;
  transform: rotate(-47.999deg);
  padding: 6.25px 25.237px 5.859px 23.763px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.companies--375__group-mychway {
  position: relative;
  width: 169px;
  height: 57.891px;
  flex-shrink: 0;
}
.companies--375__blur {
  color: rgba(126, 11, 146, 0.5);
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  filter: blur(7px);
  cursor: default;
}
.companies--375__blur-mychway {
  left: 0;
  top: 15px;
}
.companies--375__name {
  color: #7e0b92;
  text-align: center;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: default;
}
.companies--375__item-auro {
  margin-left: -20px;
}
.companies--375__frame-auro {
  display: flex;
  width: 218px;
  transform: rotate(-47.999deg);
  padding: 7.463px 23.732px 4.064px 23.268px;
  justify-content: center;
  align-items: center;
}
.companies--375__group-auro {
  width: 171px;
  height: 58.473px;
  flex-shrink: 0;
}
.companies--375__blur-auro {
  left: 50px;
  top: 60px;
}
.companies--375__item-salonart {
  margin-left: -5px;
}
.companies--375__frame-salonart {
  display: flex;
  width: 218px;
  transform: rotate(-47.999deg);
  padding: 3.727px 30.734px 11.363px 31.266px;
  justify-content: center;
  align-items: center;
}
.companies--375__group-salonart {
  width: 156px;
  height: 54.91px;
  flex-shrink: 0;
}
.companies--375__blur-salonart {
  left: 30px;
  top: 55px;
}
.companies--375__item-vibro {
  margin-right: 0;
  margin-left: -35px;
}
.companies--375__frame-vibro {
  display: inline-flex;
  height: 70px;
  transform: rotate(-47.999deg);
  padding: 8.686px 29.693px 7.221px 47.307px;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
}
.companies--375__group-vibro {
  width: 141px;
  height: 54.093px;
}
.companies--375__blur-vibro {
  left: 68px;
  top: 18px;
}
.companies--375__item-drceuracle {
  margin-left: -68px;
  margin-right: 205px;
  margin-top: 76px;
}
.companies--375__frame-drceuracle {
  display: inline-flex;
  transform: rotate(-47.999deg);
  padding: 3.288px 0px 8.956px 9.179px;
  justify-content: flex-end;
  align-items: center;
}
.companies--375__group-drceuracle {
  width: 212.75px;
  height: 57.756px;
}
.companies--375__blur-drceuracle {
  left: 125px;
  top: 50px;
}/*# sourceMappingURL=Companies.css.map */