@use '../../../../scss/config/_variables.scss' as *;
@use '../../../../scss/config/_mixins.scss' as *;
@use '../../../../scss/config/_patterns.scss' as *;

// _desktop.scss

.footer {
  // .footer__phone
  &__phone {
    width: 168px;
    height: 42px;
    // background-image: url(../images/bg-call.png);
    background-repeat: no-repeat;
    background-position-y: 8px;
    padding-top: 7px;
  }

  // .footer__link-phone
  &__link-phone {
    display: block;
    width: 168px;
    height: 20px;
    flex-shrink: 0;
    color: #f5f0f7;
    font-size: 17px;
    font-style: normal;
    font-weight: $fw-500;
    line-height: normal;
    word-spacing: 1.5px;
    text-align: right;
    white-space: nowrap;
  }

  &__link-phone:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: all 0.2s ease;
  }
}

// media-1300.scss

.footer--1300 {
  // .footer__phone
  &__phone {
    width: 138px;
    height: 42px;
    // background-image: url(../images/bg-call113.png);
    background-repeat: no-repeat;
    background-position-y: 8px;
    padding-top: 7px;
  }

  // .footer__link-phone
  &__link-phone {
    display: block;
    width: 138px;
    height: 20px;
    flex-shrink: 0;
    color: #f5f0f7;
    font-size: 15px;
    font-style: normal;
    font-weight: $fw-500;
    line-height: normal;
    word-spacing: 1.5px;
    text-align: right;
    white-space: nowrap;
  }

  &__link-phone:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: all 0.2s ease;
  }
}

// _media-1133.scss

.footer--1133 {
  // .footer__phone
  &__phone {
    width: 138px;
    height: 42px;
    // background-image: url(../images/bg-call113.png);
    background-repeat: no-repeat;
    background-position-y: 8px;
    padding-top: 7px;
  }

  // .footer__link-phone
  &__link-phone {
    display: block;
    width: 138px;
    height: 20px;
    flex-shrink: 0;
    color: #f5f0f7;
    font-size: 15px;
    font-style: normal;
    font-weight: $fw-500;
    line-height: normal;
    word-spacing: 1.5px;
    text-align: right;
    white-space: nowrap;
  }

  &__link-phone:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: all 0.2s ease;
  }
}

// media-900.scss

.footer--900 {
  // .footer__phone
  &__phone {
    width: 138px;
    // width: 168px;
    height: 42px;
    // background-image: url(../images/bg-call1133.png);
    background-repeat: no-repeat;
    background-position-y: 8px;
    padding-top: 7px;
  }

  // .footer__link-phone
  &__link-phone {
    display: block;
    width: 138px;
    // width: 168px;
    height: 20px;
    flex-shrink: 0;
    color: #f5f0f7;
    font-size: 14px;
    font-style: normal;
    font-weight: $fw-500;
    line-height: normal;
    word-spacing: 1.5px;
    text-align: right;
    white-space: nowrap;
  }

  &__link-phone:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: all 0.2s ease;
  }
}

// _media-744.scss

.footer--744 {
  // .footer__phone
  &__phone {
    width: 138px;
    // width: 168px;
    height: 42px;
    // background-image: url(../images/bg-call1133.png);
    background-repeat: no-repeat;
    background-position-y: 8px;
    padding-top: 7px;
  }

  // .footer__link-phone
  &__link-phone {
    display: block;
    width: 138px;
    // width: 168px;
    height: 20px;
    flex-shrink: 0;
    color: #f5f0f7;
    font-size: 14px;
    font-style: normal;
    font-weight: $fw-500;
    line-height: normal;
    word-spacing: 1.5px;
    text-align: right;
    white-space: nowrap;
  }

  &__link-phone:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: all 0.2s ease;
  }
}


// _media-744l.scss

.footer--744l {
    // .footer__phone
    &__phone {
      width: 138px;
      // width: 168px;
      height: 42px;
      // background-image: url(../images/bg-call1133.png);
      background-repeat: no-repeat;
      background-position-y: 8px;
      padding-top: 7px;
    }
  
    // .footer__link-phone
    &__link-phone {
      display: block;
      width: 138px;
      // width: 168px;
      height: 20px;
      flex-shrink: 0;
      color: #f5f0f7;
      font-size: 14px;
      font-style: normal;
      font-weight: $fw-500;
      line-height: normal;
      word-spacing: 1.5px;
      text-align: right;
      white-space: nowrap;
    }
  
    // &__link-phone:hover {
    //   opacity: 1;
    //   transform: scale(1.05);
    //   transition: all 0.2s ease;
    // }
  }

// media-600.scss

.footer--600 {
  // .footer__phone
  &__phone {
    width: 94px;
      height: 29px;
    // background-image: url(../images/bg-call375.png);
    background-repeat: no-repeat;
    background-position-y: 9px;
    padding-top: 4px;
  }

  // .footer__link-phone
  &__link-phone {
    display: block;
    width: 94px;
    height: 20px;
    flex-shrink: 0;
    color: #f5f0f7;
    font-size: 10px;
    font-style: normal;
    font-weight: $fw-500;
    line-height: normal;
    word-spacing: 1.5px;
    text-align: right;
    white-space: nowrap;
  }

//   &__link-phone:hover {
//     opacity: 1;
//     transform: scale(1.05);
//     transition: all 0.2s ease;
//   }
}

// media-600l.scss

.footer--600l {
  // .footer__phone
  &__phone {
    width: 94px;
      height: 29px;
    // background-image: url(../images/bg-call375.png);
    background-repeat: no-repeat;
    background-position-y: 9px;
    padding-top: 4px;
  }

  // .footer__link-phone
  &__link-phone {
    display: block;
    width: 94px;
    height: 20px;
    flex-shrink: 0;
    color: #f5f0f7;
    font-size: 10px;
    font-style: normal;
    font-weight: $fw-500;
    line-height: normal;
    word-spacing: 1.5px;
    text-align: right;
    white-space: nowrap;
  }

//   &__link-phone:hover {
//     opacity: 1;
//     transform: scale(1.05);
//     transition: all 0.2s ease;
//   }
}

// _media-375.scss

.footer--375 {
  // .footer__phone
  &__phone {
    width: 94px;
      height: 29px;
    // background-image: url(../images/bg-call375.png);
    background-repeat: no-repeat;
    background-position-y: 9px;
    padding-top: 4px;
  }

  // .footer__link-phone
  &__link-phone {
    display: block;
    width: 94px;
    height: 20px;
    flex-shrink: 0;
    color: #f5f0f7;
    font-size: 10px;
    font-style: normal;
    font-weight: $fw-500;
    line-height: normal;
    word-spacing: 1.5px;
    text-align: right;
    white-space: nowrap;
  }

//   &__link-phone:hover {
//     opacity: 1;
//     transform: scale(1.05);
//     transition: all 0.2s ease;
//   }
}

// _media-275.scss

.footer--275 {
  // .footer__phone
  &__phone {
    width: 94px;
      height: 29px;
    // background-image: url(../images/bg-call375.png);
    background-repeat: no-repeat;
    background-position-y: 9px;
    padding-top: 4px;
  }

  // .footer__link-phone
  &__link-phone {
    display: block;
    width: 94px;
    height: 20px;
    flex-shrink: 0;
    color: #f5f0f7;
    font-size: 9px;
    // font-size: 10px;
    font-style: normal;
    font-weight: $fw-500;
    line-height: normal;
    word-spacing: 1.5px;
    text-align: right;
    white-space: nowrap;
  }
}





// media-600l.scss