@use '../../../../scss/config/_variables.scss' as *;
@use '../../../../scss/config/_mixins.scss' as *;
@use '../../../../scss/config/_patterns.scss' as *;

// _desktop.scss

.main {
  // .main__sidebar
  &__sidebar {
    margin-bottom: 104px;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  // .sidebar__item
  &__item {
    list-style-type: none;
  }

  // .sidebar__item-main
  &__item-main {
  }

  // .sidebar__item-sub
  &__item-sub {
  }

  // .sidebar__link
  &__link {
    display: block;
    width: 294px;
    height: 40px;
    flex-shrink: 0;
    color: #3d0751;
    text-align: right;
    font-style: normal;
    font-size: 17px;
    font-weight: $fw-500;
    line-height: normal;
    letter-spacing: 1.7px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 38px;

    transition: all 0.8s ease-in-out;
  }

  &__link:hover {
    animation-name: sidebarButton;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    transition: all 0.8s ease-in-out;
  }

  @keyframes sidebarButton {
    from {
      padding-right: 38px;
    }

    50% {
      padding-right: 68px;
    }

    75% {
      padding-right: 48px;
    }

    to {
      padding-right: 38px;
    }
  }

  // .sidebar__link-sub
  &__link-sub {
    border-radius: 0px 0px 10px 0px;
    border: 1px solid #c975d8;
    background: linear-gradient(
      180deg,
      rgba(229, 189, 236, 0.5) 0%,
      rgba(241, 223, 245, 0.5) 51.35%,
      rgba(229, 189, 236, 0.5) 100%
    );
  }

  // .sidebar__link-main
  &__link-main {
    border-radius: 0px 0px 10px 0px;
    background: linear-gradient(
      180deg,
      #74e600 12.3%,
      #b7ec81 52%,
      #74e600 92.19%
    );
    /* тень зел */
    box-shadow: 2px 4px 8px 0px rgba(91, 178, 3, 0.35);
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

.sidebar-main {
  width: 316px;
  height: 260px;
}

.sidebar-sub {
  width: 316px;
  height: 114px;
}

// media-1300.scss

.main--1300 {
  // .main__sidebar
  &__sidebar {
    margin-bottom: 56px;
  }
}

.sidebar--1300 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  // .sidebar__item
  &__item {
    list-style-type: none;
  }

  // .sidebar__item-main
  &__item-main {
  }

  // .sidebar__item-sub
  &__item-sub {
  }

  // .sidebar__link
  &__link {
    display: block;
    width: 246px;
    height: 40px;
    flex-shrink: 0;
    color: #3d0751;
    text-align: right;
    font-style: normal;
    font-size: 17px;
    font-weight: $fw-500;
    line-height: normal;
    letter-spacing: 1.7px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 38px;

    transition: all 0.8s ease-in-out;
    // width: 246px;
  }

  &__link:hover {
    animation-name: sidebarButton;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    transition: all 0.8s ease-in-out;
  }

  @keyframes sidebarButton {
    from {
      padding-right: 38px;
    }

    50% {
      padding-right: 68px;
    }

    75% {
      padding-right: 48px;
    }

    to {
      padding-right: 38px;
    }
  }

  // .sidebar__link-sub
  &__link-sub {
    border-radius: 0px 0px 10px 0px;
    border: 1px solid #c975d8;
    background: linear-gradient(
      180deg,
      rgba(229, 189, 236, 0.5) 0%,
      rgba(241, 223, 245, 0.5) 51.35%,
      rgba(229, 189, 236, 0.5) 100%
    );
  }

  // .sidebar__link-main
  &__link-main {
    border-radius: 0px 0px 10px 0px;
    background: linear-gradient(
      180deg,
      #74e600 12.3%,
      #b7ec81 52%,
      #74e600 92.19%
    );
    /* тень зел */
    box-shadow: 2px 4px 8px 0px rgba(91, 178, 3, 0.35);
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

.sidebar-main--1300 {
  width: 246px;
  height: 218px;
}

.sidebar-sub--1300 {
  width: 246px;
  height: 100px;
}

// _media-1133.scss

.main--1133 {
  // .main__sidebar
  &__sidebar {
    margin-bottom: 56px;
  }
}

.sidebar--1133 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  // .sidebar__item
  &__item {
    list-style-type: none;
  }

  // .sidebar__item-main
  &__item-main {
  }

  // .sidebar__item-sub
  &__item-sub {
  }

  // .sidebar__link
  &__link {
    display: block;
    width: 246px;
    height: 40px;
    flex-shrink: 0;
    color: #3d0751;
    text-align: right;
    font-style: normal;
    font-size: 17px;
    font-weight: $fw-500;
    line-height: normal;
    letter-spacing: 1.7px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 38px;

    transition: all 0.8s ease-in-out;
    // width: 246px;
  }

  &__link:hover {
    animation-name: sidebarButton;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    transition: all 0.8s ease-in-out;
  }

  @keyframes sidebarButton {
    from {
      padding-right: 38px;
    }

    50% {
      padding-right: 68px;
    }

    75% {
      padding-right: 48px;
    }

    to {
      padding-right: 38px;
    }
  }

  // .sidebar__link-sub
  &__link-sub {
    border-radius: 0px 0px 10px 0px;
    border: 1px solid #c975d8;
    background: linear-gradient(
      180deg,
      rgba(229, 189, 236, 0.5) 0%,
      rgba(241, 223, 245, 0.5) 51.35%,
      rgba(229, 189, 236, 0.5) 100%
    );
  }

  // .sidebar__link-main
  &__link-main {
    border-radius: 0px 0px 10px 0px;
    background: linear-gradient(
      180deg,
      #74e600 12.3%,
      #b7ec81 52%,
      #74e600 92.19%
    );
    /* тень зел */
    box-shadow: 2px 4px 8px 0px rgba(91, 178, 3, 0.35);
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

.sidebar-main--1133 {
  width: 246px;
  height: 218px;
}

.sidebar-sub--1133 {
  width: 246px;
  height: 100px;
}

// media-900.scss

.main--900 {
  // .main__sidebar
  &__sidebar {
    margin-bottom: 41px;
  }
}

.sidebar--900 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  // .sidebar__item
  &__item {
    list-style-type: none;
  }
  // .sidebar__item-main
  &__item-main {
  }
  // .sidebar__item-sub
  &__item-sub {
  }
  // .sidebar__link
  &__link {
    display: block;
    width: 202px;
    height: 40px;
    flex-shrink: 0;
    color: #3d0751;
    text-align: right;
    font-style: normal;
    font-size: 17px;
    font-weight: $fw-500;
    line-height: normal;
    letter-spacing: 1.7px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 38px;

    transition: all 0.8s ease-in-out;
    // width: 202px;
  }

  &__link:hover {
    animation-name: sidebarButton;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    transition: all 0.8s ease-in-out;
  }

  @keyframes sidebarButton {
    from {
      padding-right: 38px;
    }

    50% {
      padding-right: 68px;
    }

    75% {
      padding-right: 48px;
    }

    to {
      padding-right: 38px;
    }
  }

  // .sidebar__link-sub
  &__link-sub {
    border-radius: 0px 0px 10px 0px;
    border: 1px solid #c975d8;
    background: linear-gradient(
      180deg,
      rgba(229, 189, 236, 0.5) 0%,
      rgba(241, 223, 245, 0.5) 51.35%,
      rgba(229, 189, 236, 0.5) 100%
    );
  }
  // .sidebar__link-main
  &__link-main {
    border-radius: 0px 0px 10px 0px;
    background: linear-gradient(
      180deg,
      #74e600 12.3%,
      #b7ec81 52%,
      #74e600 92.19%
    );
    /* тень зел */
    box-shadow: 2px 4px 8px 0px rgba(91, 178, 3, 0.35);
    padding-top: 9px;
    padding-bottom: 9px;
  }
}
.sidebar-main--900 {
  width: 202px;
  height: 189px;
}
.sidebar-sub--900 {
  width: 202px;
  height: 100px;
}

// _media-744.scss

.main--744 {
  // .main__sidebar
  &__sidebar {
    margin-bottom: 41px;
  }
}

.sidebar--744 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  // .sidebar__item
  &__item {
    list-style-type: none;
  }
  // .sidebar__item-main
  &__item-main {
  }
  // .sidebar__item-sub
  &__item-sub {
  }
  // .sidebar__link
  &__link {
    display: block;
    width: 202px;
    height: 40px;
    flex-shrink: 0;
    color: #3d0751;
    text-align: right;
    font-style: normal;
    font-size: 17px;
    font-weight: $fw-500;
    line-height: normal;
    letter-spacing: 1.7px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 38px;

    transition: all 0.8s ease-in-out;
    // width: 202px;
  }

  &__link:hover {
    animation-name: sidebarButton;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    transition: all 0.8s ease-in-out;
  }

  @keyframes sidebarButton {
    from {
      padding-right: 38px;
    }

    50% {
      padding-right: 68px;
    }

    75% {
      padding-right: 48px;
    }

    to {
      padding-right: 38px;
    }
  }

  // .sidebar__link-sub
  &__link-sub {
    border-radius: 0px 0px 10px 0px;
    border: 1px solid #c975d8;
    background: linear-gradient(
      180deg,
      rgba(229, 189, 236, 0.5) 0%,
      rgba(241, 223, 245, 0.5) 51.35%,
      rgba(229, 189, 236, 0.5) 100%
    );
  }
  // .sidebar__link-main
  &__link-main {
    border-radius: 0px 0px 10px 0px;
    background: linear-gradient(
      180deg,
      #74e600 12.3%,
      #b7ec81 52%,
      #74e600 92.19%
    );
    /* тень зел */
    box-shadow: 2px 4px 8px 0px rgba(91, 178, 3, 0.35);
    padding-top: 9px;
    padding-bottom: 9px;
  }
}
.sidebar-main--744 {
  width: 202px;
  height: 189px;
}
.sidebar-sub--744 {
  width: 202px;
  height: 100px;
}

// _media-744l.scss

.main--744l {
  // .main__sidebar
  &__sidebar {
    margin-bottom: 41px;
  }
}

.sidebar--744l {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  // .sidebar__item
  &__item {
    list-style-type: none;
  }
  // .sidebar__item-main
  &__item-main {
  }
  // .sidebar__item-sub
  &__item-sub {
  }
  // .sidebar__link
  &__link {
    display: block;
    width: 202px;
    height: 40px;
    flex-shrink: 0;
    color: #3d0751;
    text-align: right;
    font-style: normal;
    font-size: 17px;
    font-weight: $fw-500;
    line-height: normal;
    letter-spacing: 1.7px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 38px;

    transition: all 0.8s ease-in-out;
    // width: 202px;
  }

  &__link:hover {
    animation-name: sidebarButton;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    transition: all 0.8s ease-in-out;
  }

  @keyframes sidebarButton {
    from {
      padding-right: 38px;
    }

    50% {
      padding-right: 68px;
    }

    75% {
      padding-right: 48px;
    }

    to {
      padding-right: 38px;
    }
  }

  // .sidebar__link-sub
  &__link-sub {
    border-radius: 0px 0px 10px 0px;
    border: 1px solid #c975d8;
    background: linear-gradient(
      180deg,
      rgba(229, 189, 236, 0.5) 0%,
      rgba(241, 223, 245, 0.5) 51.35%,
      rgba(229, 189, 236, 0.5) 100%
    );
  }
  // .sidebar__link-main
  &__link-main {
    border-radius: 0px 0px 10px 0px;
    background: linear-gradient(
      180deg,
      #74e600 12.3%,
      #b7ec81 52%,
      #74e600 92.19%
    );
    /* тень зел */
    box-shadow: 2px 4px 8px 0px rgba(91, 178, 3, 0.35);
    padding-top: 9px;
    padding-bottom: 9px;
  }
}
.sidebar-main--744l {
  width: 202px;
  height: 189px;
}
.sidebar-sub--744l {
  width: 202px;
  height: 100px;
}

// media-600.scss

.main--600 {
  // .main__sidebar
  &__sidebar {
    margin-bottom: 28px;
  }
}

.sidebar--600 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  // .sidebar__item
  &__item {
    list-style-type: none;
  }

  // .sidebar__item-main
  &__item-main {
  }

  // .sidebar__item-sub
  &__item-sub {
  }

  // .sidebar__link
  &__link {
    display: block;
    width: 135px;
    height: 30px;
    flex-shrink: 0;
    color: #3d0751;
    text-align: right;
    font-style: normal;
    font-size: $fz-15;
    font-weight: $fw-500;
    line-height: normal;
    letter-spacing: 1.5px;
    padding-top: 4px;
    padding-bottom: 4px;
    //   padding-top: 5px;
    //   padding-bottom: 3px;
    padding-right: 22px;

    transition: all 0.8s ease-in-out;

    //   width: 135px;
    //   height: 30px;
    //   font-size: $fz-15;
    //   letter-spacing: 1.5px;
    //   padding-top: 5px;
    //   padding-bottom: 3px;
    //   padding-right: 22px;
  }

  &__link:hover {
    animation-name: sidebarButton;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    transition: all 0.8s ease-in-out;
  }

  @keyframes sidebarButton {
    from {
      padding-right: 38px;
    }

    50% {
      padding-right: 68px;
    }

    75% {
      padding-right: 48px;
    }

    to {
      padding-right: 38px;
    }
  }

  // .sidebar__link-sub
  &__link-sub {
    border-radius: 0px 0px 10px 0px;
    border: 1px solid #c975d8;
    background: linear-gradient(
      180deg,
      rgba(229, 189, 236, 0.5) 0%,
      rgba(241, 223, 245, 0.5) 51.35%,
      rgba(229, 189, 236, 0.5) 100%
    );
  }

  // .sidebar__link-main
  &__link-main {
    border-radius: 0px 0px 10px 0px;
    background: linear-gradient(
      180deg,
      #74e600 12.3%,
      #b7ec81 52%,
      #74e600 92.19%
    );
    /* тень зел */
    box-shadow: 2px 4px 8px 0px rgba(91, 178, 3, 0.35);
    padding-top: 4px;
    padding-bottom: 4px;

    //   padding-top: 6px;
    //   padding-bottom: 2px;
  }
}

.sidebar-main--600 {
  width: 135px;
  height: 143px;
}

.sidebar-sub--600 {
  width: 135px;
  height: 80px;
}

// media-600l.scss

.main--600l {
  // .main__sidebar
  &__sidebar {
    margin-bottom: 28px;
  }
}

.sidebar--600l {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  // .sidebar__item
  &__item {
    list-style-type: none;
  }

  // .sidebar__item-main
  &__item-main {
  }

  // .sidebar__item-sub
  &__item-sub {
  }

  // .sidebar__link
  &__link {
    display: block;
    width: 135px;
    height: 30px;
    flex-shrink: 0;
    color: #3d0751;
    text-align: right;
    font-style: normal;
    font-size: $fz-15;
    font-weight: $fw-500;
    line-height: normal;
    letter-spacing: 1.5px;
    padding-top: 4px;
    padding-bottom: 4px;
    //   padding-top: 5px;
    //   padding-bottom: 3px;
    padding-right: 22px;

    transition: all 0.8s ease-in-out;

    //   width: 135px;
    //   height: 30px;
    //   font-size: $fz-15;
    //   letter-spacing: 1.5px;
    //   padding-top: 5px;
    //   padding-bottom: 3px;
    //   padding-right: 22px;
  }

  &__link:hover {
    animation-name: sidebarButton;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    transition: all 0.8s ease-in-out;
  }

  @keyframes sidebarButton {
    from {
      padding-right: 38px;
    }

    50% {
      padding-right: 68px;
    }

    75% {
      padding-right: 48px;
    }

    to {
      padding-right: 38px;
    }
  }

  // .sidebar__link-sub
  &__link-sub {
    border-radius: 0px 0px 10px 0px;
    border: 1px solid #c975d8;
    background: linear-gradient(
      180deg,
      rgba(229, 189, 236, 0.5) 0%,
      rgba(241, 223, 245, 0.5) 51.35%,
      rgba(229, 189, 236, 0.5) 100%
    );
  }

  // .sidebar__link-main
  &__link-main {
    border-radius: 0px 0px 10px 0px;
    background: linear-gradient(
      180deg,
      #74e600 12.3%,
      #b7ec81 52%,
      #74e600 92.19%
    );
    /* тень зел */
    box-shadow: 2px 4px 8px 0px rgba(91, 178, 3, 0.35);
    padding-top: 4px;
    padding-bottom: 4px;

    //   padding-top: 6px;
    //   padding-bottom: 2px;
  }
}

.sidebar-main--600l {
  width: 135px;
  height: 143px;
}

.sidebar-sub--600l {
  width: 135px;
  height: 80px;
}

// _media-375.scss

.main--375 {
  // .main__sidebar
  &__sidebar {
    margin-bottom: 135px;
  }
}

.sidebar--375 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  // .sidebar__item
  &__item {
    list-style-type: none;
  }

  // .sidebar__item-main
  &__item-main {
  }

  // .sidebar__item-sub
  &__item-sub {
  }

  // .sidebar__link
  &__link {
    display: block;
    width: 135px;
    height: 30px;
    flex-shrink: 0;
    color: #3d0751;
    text-align: right;
    font-style: normal;
    font-size: $fz-15;
    font-weight: $fw-500;
    line-height: normal;
    letter-spacing: 1.5px;
    padding-top: 4px;
    padding-bottom: 4px;
    //   padding-top: 5px;
    //   padding-bottom: 3px;
    padding-right: 22px;

    transition: all 0.8s ease-in-out;

    //   width: 135px;
    //   height: 30px;
    //   font-size: $fz-15;
    //   letter-spacing: 1.5px;
    //   padding-top: 5px;
    //   padding-bottom: 3px;
    //   padding-right: 22px;
  }

  &__link:hover {
    animation-name: sidebarButton;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    transition: all 0.8s ease-in-out;
  }

  @keyframes sidebarButton {
    from {
      padding-right: 38px;
    }

    50% {
      padding-right: 68px;
    }

    75% {
      padding-right: 48px;
    }

    to {
      padding-right: 38px;
    }
  }

  // .sidebar__link-sub
  &__link-sub {
    border-radius: 0px 0px 10px 0px;
    border: 1px solid #c975d8;
    background: linear-gradient(
      180deg,
      rgba(229, 189, 236, 0.5) 0%,
      rgba(241, 223, 245, 0.5) 51.35%,
      rgba(229, 189, 236, 0.5) 100%
    );
  }

  // .sidebar__link-main
  &__link-main {
    border-radius: 0px 0px 10px 0px;
    background: linear-gradient(
      180deg,
      #74e600 12.3%,
      #b7ec81 52%,
      #74e600 92.19%
    );
    /* тень зел */
    box-shadow: 2px 4px 8px 0px rgba(91, 178, 3, 0.35);
    padding-top: 4px;
    padding-bottom: 4px;

    //   padding-top: 6px;
    //   padding-bottom: 2px;
  }
}

.sidebar-main--375 {
  width: 135px;
  height: 143px;
}

.sidebar-sub--375 {
  width: 135px;
  height: 80px;
}

// _media-275.scss

.main--275 {
  // .main__sidebar
  &__sidebar {
    margin-bottom: 81px;
    //   margin-bottom: 135px;
  }
}

.sidebar--275 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  // .sidebar__item
  &__item {
    list-style-type: none;
  }

  // .sidebar__item-main
  &__item-main {
  }

  // .sidebar__item-sub
  &__item-sub {
  }

  // .sidebar__link
  &__link {
    display: block;
    width: 135px;
    height: 30px;
    flex-shrink: 0;
    color: #3d0751;
    text-align: right;
    font-style: normal;
    font-size: $fz-15;
    font-weight: $fw-500;
    line-height: normal;
    letter-spacing: 1.5px;
    padding-top: 4px;
    padding-bottom: 4px;
    //   padding-top: 5px;
    //   padding-bottom: 3px;
    padding-right: 22px;

    transition: all 0.8s ease-in-out;

    //   width: 135px;
    //   height: 30px;
    //   font-size: $fz-15;
    //   letter-spacing: 1.5px;
    //   padding-top: 5px;
    //   padding-bottom: 3px;
    //   padding-right: 22px;
  }

  &__link:hover {
    animation-name: sidebarButton;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    transition: all 0.8s ease-in-out;
  }

  @keyframes sidebarButton {
    from {
      padding-right: 38px;
    }

    50% {
      padding-right: 68px;
    }

    75% {
      padding-right: 48px;
    }

    to {
      padding-right: 38px;
    }
  }

  // .sidebar__link-sub
  &__link-sub {
    border-radius: 0px 0px 10px 0px;
    border: 1px solid #c975d8;
    background: linear-gradient(
      180deg,
      rgba(229, 189, 236, 0.5) 0%,
      rgba(241, 223, 245, 0.5) 51.35%,
      rgba(229, 189, 236, 0.5) 100%
    );
  }

  // .sidebar__link-main
  &__link-main {
    border-radius: 0px 0px 10px 0px;
    background: linear-gradient(
      180deg,
      #74e600 12.3%,
      #b7ec81 52%,
      #74e600 92.19%
    );
    /* тень зел */
    box-shadow: 2px 4px 8px 0px rgba(91, 178, 3, 0.35);
    padding-top: 4px;
    padding-bottom: 4px;

    //   padding-top: 6px;
    //   padding-bottom: 2px;
  }
}

.sidebar-main--275 {
  width: 135px;
  height: 143px;
}

.sidebar-sub--275 {
  width: 135px;
  height: 80px;
}




