@charset "UTF-8";
.main__sidebar {
  margin-bottom: 104px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.sidebar__item {
  list-style-type: none;
}
.sidebar__link {
  display: block;
  width: 294px;
  height: 40px;
  flex-shrink: 0;
  color: #3d0751;
  text-align: right;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.7px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 38px;
  transition: all 0.8s ease-in-out;
}
.sidebar__link:hover {
  animation-name: sidebarButton;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  transition: all 0.8s ease-in-out;
}
@keyframes sidebarButton {
  from {
    padding-right: 38px;
  }
  50% {
    padding-right: 68px;
  }
  75% {
    padding-right: 48px;
  }
  to {
    padding-right: 38px;
  }
}
.sidebar__link-sub {
  border-radius: 0px 0px 10px 0px;
  border: 1px solid #c975d8;
  background: linear-gradient(180deg, rgba(229, 189, 236, 0.5) 0%, rgba(241, 223, 245, 0.5) 51.35%, rgba(229, 189, 236, 0.5) 100%);
}
.sidebar__link-main {
  border-radius: 0px 0px 10px 0px;
  background: linear-gradient(180deg, #74e600 12.3%, #b7ec81 52%, #74e600 92.19%);
  /* тень зел */
  box-shadow: 2px 4px 8px 0px rgba(91, 178, 3, 0.35);
  padding-top: 9px;
  padding-bottom: 9px;
}

.sidebar-main {
  width: 316px;
  height: 260px;
}

.sidebar-sub {
  width: 316px;
  height: 114px;
}

.main--1133__sidebar {
  margin-bottom: 56px;
}

.sidebar--1133 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.sidebar--1133__item {
  list-style-type: none;
}
.sidebar--1133__link {
  display: block;
  width: 246px;
  height: 40px;
  flex-shrink: 0;
  color: #3d0751;
  text-align: right;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.7px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 38px;
  transition: all 0.8s ease-in-out;
}
.sidebar--1133__link:hover {
  animation-name: sidebarButton;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  transition: all 0.8s ease-in-out;
}
@keyframes sidebarButton {
  from {
    padding-right: 38px;
  }
  50% {
    padding-right: 68px;
  }
  75% {
    padding-right: 48px;
  }
  to {
    padding-right: 38px;
  }
}
.sidebar--1133__link-sub {
  border-radius: 0px 0px 10px 0px;
  border: 1px solid #c975d8;
  background: linear-gradient(180deg, rgba(229, 189, 236, 0.5) 0%, rgba(241, 223, 245, 0.5) 51.35%, rgba(229, 189, 236, 0.5) 100%);
}
.sidebar--1133__link-main {
  border-radius: 0px 0px 10px 0px;
  background: linear-gradient(180deg, #74e600 12.3%, #b7ec81 52%, #74e600 92.19%);
  /* тень зел */
  box-shadow: 2px 4px 8px 0px rgba(91, 178, 3, 0.35);
  padding-top: 9px;
  padding-bottom: 9px;
}

.sidebar-main--1133 {
  width: 246px;
  height: 218px;
}

.sidebar-sub--1133 {
  width: 246px;
  height: 100px;
}

.main--744__sidebar {
  margin-bottom: 41px;
}

.sidebar--744 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.sidebar--744__item {
  list-style-type: none;
}
.sidebar--744__link {
  display: block;
  width: 202px;
  height: 40px;
  flex-shrink: 0;
  color: #3d0751;
  text-align: right;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.7px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 38px;
  transition: all 0.8s ease-in-out;
}
.sidebar--744__link:hover {
  animation-name: sidebarButton;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  transition: all 0.8s ease-in-out;
}
@keyframes sidebarButton {
  from {
    padding-right: 38px;
  }
  50% {
    padding-right: 68px;
  }
  75% {
    padding-right: 48px;
  }
  to {
    padding-right: 38px;
  }
}
.sidebar--744__link-sub {
  border-radius: 0px 0px 10px 0px;
  border: 1px solid #c975d8;
  background: linear-gradient(180deg, rgba(229, 189, 236, 0.5) 0%, rgba(241, 223, 245, 0.5) 51.35%, rgba(229, 189, 236, 0.5) 100%);
}
.sidebar--744__link-main {
  border-radius: 0px 0px 10px 0px;
  background: linear-gradient(180deg, #74e600 12.3%, #b7ec81 52%, #74e600 92.19%);
  /* тень зел */
  box-shadow: 2px 4px 8px 0px rgba(91, 178, 3, 0.35);
  padding-top: 9px;
  padding-bottom: 9px;
}

.sidebar-main--744 {
  width: 202px;
  height: 189px;
}

.sidebar-sub--744 {
  width: 202px;
  height: 100px;
}

.main--744l__sidebar {
  margin-bottom: 41px;
}

.sidebar--744l {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.sidebar--744l__item {
  list-style-type: none;
}
.sidebar--744l__link {
  display: block;
  width: 202px;
  height: 40px;
  flex-shrink: 0;
  color: #3d0751;
  text-align: right;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.7px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 38px;
  transition: all 0.8s ease-in-out;
}
.sidebar--744l__link:hover {
  animation-name: sidebarButton;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  transition: all 0.8s ease-in-out;
}
@keyframes sidebarButton {
  from {
    padding-right: 38px;
  }
  50% {
    padding-right: 68px;
  }
  75% {
    padding-right: 48px;
  }
  to {
    padding-right: 38px;
  }
}
.sidebar--744l__link-sub {
  border-radius: 0px 0px 10px 0px;
  border: 1px solid #c975d8;
  background: linear-gradient(180deg, rgba(229, 189, 236, 0.5) 0%, rgba(241, 223, 245, 0.5) 51.35%, rgba(229, 189, 236, 0.5) 100%);
}
.sidebar--744l__link-main {
  border-radius: 0px 0px 10px 0px;
  background: linear-gradient(180deg, #74e600 12.3%, #b7ec81 52%, #74e600 92.19%);
  /* тень зел */
  box-shadow: 2px 4px 8px 0px rgba(91, 178, 3, 0.35);
  padding-top: 9px;
  padding-bottom: 9px;
}

.sidebar-main--744l {
  width: 202px;
  height: 189px;
}

.sidebar-sub--744l {
  width: 202px;
  height: 100px;
}

.main--375__sidebar {
  margin-bottom: 135px;
}

.sidebar--375 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.sidebar--375__item {
  list-style-type: none;
}
.sidebar--375__link {
  display: block;
  width: 135px;
  height: 30px;
  flex-shrink: 0;
  color: #3d0751;
  text-align: right;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 22px;
  transition: all 0.8s ease-in-out;
}
.sidebar--375__link:hover {
  animation-name: sidebarButton;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  transition: all 0.8s ease-in-out;
}
@keyframes sidebarButton {
  from {
    padding-right: 38px;
  }
  50% {
    padding-right: 68px;
  }
  75% {
    padding-right: 48px;
  }
  to {
    padding-right: 38px;
  }
}
.sidebar--375__link-sub {
  border-radius: 0px 0px 10px 0px;
  border: 1px solid #c975d8;
  background: linear-gradient(180deg, rgba(229, 189, 236, 0.5) 0%, rgba(241, 223, 245, 0.5) 51.35%, rgba(229, 189, 236, 0.5) 100%);
}
.sidebar--375__link-main {
  border-radius: 0px 0px 10px 0px;
  background: linear-gradient(180deg, #74e600 12.3%, #b7ec81 52%, #74e600 92.19%);
  /* тень зел */
  box-shadow: 2px 4px 8px 0px rgba(91, 178, 3, 0.35);
  padding-top: 4px;
  padding-bottom: 4px;
}

.sidebar-main--375 {
  width: 135px;
  height: 143px;
}

.sidebar-sub--375 {
  width: 135px;
  height: 80px;
}/*# sourceMappingURL=MainSidebar.css.map */