@use '../../../../../scss/config/_variables.scss' as *;
@use '../../../../../scss/config/_mixins.scss' as *;
@use '../../../../../scss/config/_patterns.scss' as *;

// _desktop.scss

.logo {
}

.logo-header {
  width: 46px;
  height: 46px;
}

// media-1300.scss

.logo--1300 {}

.logo-header--1300 {
    width: 35px;
    height: 35px;
}


// _media-1133.scss

.logo--1133 {}

.logo-header--1133 {
    width: 35px;
    height: 35px;
}

// media-900.scss

.logo--900 {
}


.logo-header--900 {
    width: 25px;
    height: 25px;
}


// _media-744.scss

.logo--744 {
}


.logo-header--744 {
    width: 25px;
    height: 25px;
}


// _media-744l.scss

.logo--744l {
}


.logo-header--744l {
    width: 25px;
    height: 25px;
}

// media-600.scss

.logo--600 {
}

.logo-header--600 {
    width: 25px;
    height: 25px;
}

// media-600l.scss

.logo--600l {
}

.logo-header--600l {
    width: 25px;
    height: 25px;
}

// _media-375.scss

.logo--375 {
}

.logo-header--375 {
    width: 25px;
    height: 25px;
}

// _media-275.scss

.logo--275 {
}

.logo-header--275 {
    width: 25px;
    height: 25px;
}





// media-600l.scss