@use '../scss/config/_variables.scss' as *;
@use '../scss/config/_mixins.scss' as *;
@use '../scss/config/_patterns.scss' as *;

// _desktop.scss

.wrapper {
  width: 1728px;
  margin: 0 auto;
  // .wrapper__procedures
  &__procedures {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
}

// .container {
//   width: 1434px;
//   margin: 0 auto;
// }


// media-1300.scss

.wrapper--1300 {
  width: 1300px;
  margin: 0 auto;
  // .wrapper__procedures
  &__procedures {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
}

.container-companies--1133 {
  width: 1300px;
  margin: 0 auto;
}

.container-certificates--1133 {
  width: 1300px;
}

// .container {
//   width: 1434px;
//   margin: 0 auto;
// }

// media-1133.scss

.wrapper--1133 {
  width: 1133px;
  margin: 0 auto;
  // .wrapper--1133__procedures
  &__procedures {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
}

// .container--1133 {
//     width: 1068px;
//     margin: 0 auto;
// }

.container-companies--1133 {
  width: 1133px;
  margin: 0 auto;
}

.container-certificates--1133 {
  width: 1133px;
}

// media-900.scss

.wrapper--900 {
  width: 900px;
  margin: 0 auto;
  // .wrapper--744__procedures
  &__procedures {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
}

.container-certificates--900 {
  width: 900px;
}

// media-744.scss

.wrapper--744 {
  width: 744px;
  margin: 0 auto;
  // .wrapper--744__procedures
  &__procedures {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
}

.container-certificates--744 {
  width: 744px;
}

// media-744l.scss

.wrapper--744l {
  width: 744px;
  margin: 0 auto;
  // .wrapper--744l__procedures
  &__procedures {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
}

.wrapper-certificates--744l {
  width: 100%;
}

// media-600.scss

.wrapper--600 {
  width: 600px;
  margin: 0 auto;

  // .wrapper--600__procedures
  &__procedures {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
}

.wrapper-certificates--600 {
  width: 100%;
}

// media-600l.scss

.wrapper--600l {
  width: 600px;
  margin: 0 auto;

  // .wrapper--600__procedures
  &__procedures {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
}

.wrapper-certificates--600l {
  width: 100%;
}

// media-375.scss

.wrapper--375 {
  width: 375px;
  margin: 0 auto;

  // .wrapper--375__procedures
  &__procedures {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
}

.wrapper-certificates--375 {
  width: 100%;
}

// media-275.scss

.wrapper--275 {
  width: 275px;
  margin: 0 auto;

  // .wrapper--275__procedures
  &__procedures {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
}

.wrapper-certificates--275 {
  width: 100%;
}

