@use '../../../scss/config/_variables.scss' as *;
@use '../../../scss/config/_mixins.scss' as *;
@use '../../../scss/config/_patterns.scss' as *;

// _desktop.scss

.procedures {
  margin-bottom: 130px;
//   margin-bottom: 60px;
}

.container {
}

.container-procedures {
  width: 1434px;
  margin: 0 auto;
}

// media-1300.scss

.procedures--1300 {
  margin-bottom: 130px;
}

.container--1300 {
}

.container-procedures--1300 {
  width: 1068px;
  margin: 0 auto;
}

// _media-1133.scss

.procedures--1133 {
  margin-bottom: 130px;
}

.container--1133 {
}

.container-procedures--1133 {
  width: 1068px;
  margin: 0 auto;
}

// media-900.scss

.procedures--900 {
  margin-bottom: 130px;
}

.container--900 {
}

.container-procedures--900 {
  width: calc(100vw - 30px);
  margin: 0 auto;
}

// _media-744.scss

// .procedures--744 {
//   margin-bottom: 130px;
// }

// .container--744 {
// }

.procedures--744 {
    margin-bottom: 130px;
  }
  
  .container--744 {
  }
  
  .container-procedures--744 {
    width: calc(100vw - 30px);
    margin: 0 auto;
  }

// .container-procedures--744 {
//   width: 702px;
//   margin: 0 auto;
// }

// _media-744l.scss

.procedures--744l {
    margin-bottom: 80px;
  }
  
  .container--744l {
  }
  
  .container-procedures--744l {
    width: calc(100vw - 30px);
    margin: 0 auto;
  }

// media-600.scss

.procedures--600 {
    width: 100%;
  margin-bottom: 80px;
}

.container--600 {
}

.container-procedures--600 {
    width: calc(100vw - 30px);
    margin: 0 auto;
}

// media-600l.scss

.procedures--600l {
    width: 100%;
  margin-bottom: 80px;
}

.container--600l {
}

.container-procedures--600l {
    width: calc(100vw - 30px);
    margin: 0 auto;
}

// _media-375.scss

.procedures--375 {
    width: 100%;
  margin-bottom: 80px;
}

.container--375 {
}

.container-procedures--375 {
    width: calc(100vw - 30px);
    margin: 0 auto;
}

// _media-275.scss

.procedures--275 {
    width: 100%;
  margin-bottom: 80px;
}

.container--275 {
}

.container-procedures--275 {
    width: calc(100vw - 10px);
    // width: calc(100vw - 30px);
    margin: 0 auto;
}





