@use '../../../../scss/config/_variables.scss' as *;
@use '../../../../scss/config/_mixins.scss' as *;
@use '../../../../scss/config/_patterns.scss' as *;

// _desktop.scss

.popup {

    // .popup__close
  &__close {
  }

  // .popup__icon-close
  &__icon-close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 25px;
    right: 25px;
  }
}

// media-1300.scss

.popup--1300 {

    // .popup__close
  &__close {
  }

  // .popup__icon-close
  &__icon-close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 25px;
    right: 25px;
  }
}


// _media-1133.scss

.popup--1133 {

    // .popup__close
  &__close {
  }

  // .popup__icon-close
  &__icon-close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 25px;
    right: 25px;
  }
}

// media-900.scss

.popup--900 {

    // .popup__close
  &__close {
  }

  // .popup__icon-close
  &__icon-close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 25px;
    right: 25px;
  }
}


// _media-744.scss

.popup--744 {

    // .popup__close
  &__close {
  }

  // .popup__icon-close
  &__icon-close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 25px;
    right: 25px;
  }
}


// _media-744l.scss

.popup--744l {

    // .popup__close
  &__close {
    width: 100%;
    height: 25px;
  }

  // .popup__link-close
  &__link-close {
    width: 100%;
    height: 40px;
    position: relative;
    top: 0;
    right: 0;
  }

  // .popup__icon-close
  &__icon-close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0px;
    right: 0px;
  }
}

// media-600.scss

.popup--600 {

    // .popup__close
  &__close {
    width: 100%;
    height: 40px;
  }

  // .popup__link-close
  &__link-close {
    width: 100%;
    height: 40px;
    position: relative;
    top: 0;
    right: 0;
  }

  // .popup__icon-close
  &__icon-close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0px;
    right: 0px;
  }
}

// media-600l.scss

// .popup--600l {

//     // .popup__close
//   &__close {
//     width: 100%;
//     height: 40px;
//   }

//   // .popup__link-close
//   &__link-close {
//     width: 100%;
//     height: 40px;
//     position: relative;
//     top: 0;
//     right: 0;
//   }

//   // .popup__icon-close
//   &__icon-close {
//     position: absolute;
//     width: 25px;
//     height: 25px;
//     top: 0px;
//     right: 0px;
//   }
// }

.popup--600l {

    // .popup__close
  &__close {
    width: 100%;
    height: 25px;
  }

  // .popup__link-close
  &__link-close {
    width: 100%;
    height: 40px;
    position: relative;
    top: 0;
    right: 0;
  }

  // .popup__icon-close
  &__icon-close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0px;
    right: 0px;
  }
}

// _media-375.scss

.popup--375 {

    // .popup__close
  &__close {
    width: 100%;
    height: 40px;
  }

  // .popup__link-close
  &__link-close {
    width: 100%;
    height: 40px;
    position: relative;
    top: 0;
    right: 0;
  }

  // .popup__icon-close
  &__icon-close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0px;
    right: 0px;
  }
}

// _media-275.scss

.popup--275 {

    // .popup__close
  &__close {
    width: 100%;
    height: 40px;
  }

  // .popup__link-close
  &__link-close {
    width: 100%;
    height: 40px;
    position: relative;
    top: 0;
    right: 0;
  }

  // .popup__icon-close
  &__icon-close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0px;
    right: 0px;
  }
}




