.menu--1728 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu--1728__item {
  list-style-type: none;
}
.menu--1728__link {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.menu--1728__link-header {
  color: #f5f0f7;
  text-align: center;
  font-style: normal;
  font-size: 17px;
  line-height: 125.688%;
  word-spacing: 1.5px;
  background: none;
}
.menu--1728__link-header:hover {
  opacity: 0.9;
  transform: scale(1.05);
  translate: all 0.2s ease;
  animation-name: headerMenu;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes headerMenu {
  from {
    opacity: 0.6;
    transform: scale(0.95);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  to {
    opacity: 0.9;
    transform: scale(1);
  }
}

.menu-header--1728 {
  width: 460px;
  height: 21px;
}

.menu--1300 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu--1300__item {
  list-style-type: none;
}
.menu--1300__link {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.menu--1300__link-header {
  color: #f5f0f7;
  text-align: center;
  font-style: normal;
  font-size: 15px;
  line-height: 125.688%;
  word-spacing: 1.5px;
  background: none;
}
.menu--1300__link-header:hover {
  opacity: 0.9;
  transform: scale(1.05);
  translate: all 0.2s ease;
  animation-name: headerMenu;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes headerMenu {
  from {
    opacity: 0.6;
    transform: scale(0.95);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  to {
    opacity: 0.9;
    transform: scale(1);
  }
}

.menu-header--1300 {
  width: 417px;
  height: 21px;
}

.menu--1133 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu--1133__item {
  list-style-type: none;
}
.menu--1133__link {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.menu--1133__link-header {
  color: #f5f0f7;
  text-align: center;
  font-style: normal;
  font-size: 15px;
  line-height: 125.688%;
  word-spacing: 1.5px;
  background: none;
}
.menu--1133__link-header:hover {
  opacity: 0.9;
  transform: scale(1.05);
  translate: all 0.2s ease;
  animation-name: headerMenu;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes headerMenu {
  from {
    opacity: 0.6;
    transform: scale(0.95);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  to {
    opacity: 0.9;
    transform: scale(1);
  }
}

.menu-header--1133 {
  width: 417px;
  height: 21px;
}

.header--900__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 155px);
}

.menu--900 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 210px;
}
.menu--900__item {
  list-style-type: none;
}
.menu--900__link {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.menu--900__link-header {
  color: #3d0751;
  text-align: right;
  font-style: normal;
  font-size: 15px;
  line-height: 125.688%;
  word-spacing: 1.5px;
  background: none;
}
.menu--900__link-header:hover {
  opacity: 0.9;
  transform: scale(1.05);
  translate: all 0.2s ease;
  animation-name: headerMenu;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes headerMenu {
  from {
    opacity: 0.6;
    transform: scale(0.95);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  to {
    opacity: 0.9;
    transform: scale(1);
  }
}

.menu-header--900 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 210px;
}
.menu-header--900__item {
  list-style-type: none;
}
.menu-header--900__link {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.menu-header--900__link-header {
  color: #3d0751;
  text-align: right;
  font-style: normal;
  font-size: 15px;
  line-height: 125.688%;
  word-spacing: 1.5px;
  background: none;
}
.menu-header--900__link-header:hover {
  opacity: 0.9;
  transform: scale(1.05);
  translate: all 0.2s ease;
  animation-name: headerMenu;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes headerMenu {
  from {
    opacity: 0.6;
    transform: scale(0.95);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  to {
    opacity: 0.9;
    transform: scale(1);
  }
}

.header--744__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 155px);
}

.menu--744 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 210px;
}
.menu--744__item {
  list-style-type: none;
}
.menu--744__link {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.menu--744__link-header {
  color: #3d0751;
  text-align: right;
  font-style: normal;
  font-size: 15px;
  line-height: 125.688%;
  word-spacing: 1.5px;
  background: none;
}
.menu--744__link-header:hover {
  opacity: 0.9;
  transform: scale(1.05);
  translate: all 0.2s ease;
  animation-name: headerMenu;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes headerMenu {
  from {
    opacity: 0.6;
    transform: scale(0.95);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  to {
    opacity: 0.9;
    transform: scale(1);
  }
}

.menu-header--744 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 210px;
}
.menu-header--744__item {
  list-style-type: none;
}
.menu-header--744__link {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.menu-header--744__link-header {
  color: #3d0751;
  text-align: right;
  font-style: normal;
  font-size: 15px;
  line-height: 125.688%;
  word-spacing: 1.5px;
  background: none;
}
.menu-header--744__link-header:hover {
  opacity: 0.9;
  transform: scale(1.05);
  translate: all 0.2s ease;
  animation-name: headerMenu;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes headerMenu {
  from {
    opacity: 0.6;
    transform: scale(0.95);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  to {
    opacity: 0.9;
    transform: scale(1);
  }
}

.header--744l__menu {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 100%;
  height: calc(100vh - 155px);
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.menu--744l {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 210px;
}
.menu--744l__item {
  list-style-type: none;
}
.menu--744l__link {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.menu--744l__link-header {
  color: #3d0751;
  text-align: right;
  font-style: normal;
  font-size: 15px;
  line-height: 125.688%;
  word-spacing: 1.5px;
  background: none;
}
.menu--744l__link-header:hover {
  opacity: 0.9;
  transform: scale(1.05);
  translate: all 0.2s ease;
  animation-name: headerMenu;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes headerMenu {
  from {
    opacity: 0.6;
    transform: scale(0.95);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  to {
    opacity: 0.9;
    transform: scale(1);
  }
}

.menu-header--744l {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 210px;
}
.menu-header--744l__item {
  list-style-type: none;
}
.menu-header--744l__link {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.menu-header--744l__link-header {
  color: #3d0751;
  text-align: right;
  font-style: normal;
  font-size: 15px;
  line-height: 125.688%;
  word-spacing: 1.5px;
  background: none;
}
.menu-header--744l__link-header:hover {
  opacity: 0.9;
  transform: scale(1.05);
  translate: all 0.2s ease;
  animation-name: headerMenu;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes headerMenu {
  from {
    opacity: 0.6;
    transform: scale(0.95);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  to {
    opacity: 0.9;
    transform: scale(1);
  }
}

.header--600__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 155px);
}

.menu--600 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 210px;
}
.menu--600__item {
  list-style-type: none;
}
.menu--600__link {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.menu--600__link-header {
  color: #3d0751;
  text-align: right;
  font-style: normal;
  font-size: 15px;
  line-height: 125.688%;
  word-spacing: 1.5px;
  background: none;
}
.menu--600__link-header:hover {
  opacity: 0.9;
  transform: scale(1.05);
  translate: all 0.2s ease;
  animation-name: headerMenu;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes headerMenu {
  from {
    opacity: 0.6;
    transform: scale(0.95);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  to {
    opacity: 0.9;
    transform: scale(1);
  }
}

.menu-header--600 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 210px;
}
.menu-header--600__item {
  list-style-type: none;
}
.menu-header--600__link {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.menu-header--600__link-header {
  color: #3d0751;
  text-align: right;
  font-style: normal;
  font-size: 15px;
  line-height: 125.688%;
  word-spacing: 1.5px;
  background: none;
}
.menu-header--600__link-header:hover {
  opacity: 0.9;
  transform: scale(1.05);
  translate: all 0.2s ease;
  animation-name: headerMenu;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes headerMenu {
  from {
    opacity: 0.6;
    transform: scale(0.95);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  to {
    opacity: 0.9;
    transform: scale(1);
  }
}

.header--600l__menu {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 100%;
  height: calc(100vh - 155px);
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.menu--600l {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 210px;
}
.menu--600l__item {
  list-style-type: none;
}
.menu--600l__link {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.menu--600l__link-header {
  color: #3d0751;
  text-align: right;
  font-style: normal;
  font-size: 15px;
  line-height: 125.688%;
  word-spacing: 1.5px;
  background: none;
}
.menu--600l__link-header:hover {
  opacity: 0.9;
  transform: scale(1.05);
  translate: all 0.2s ease;
  animation-name: headerMenu;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes headerMenu {
  from {
    opacity: 0.6;
    transform: scale(0.95);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  to {
    opacity: 0.9;
    transform: scale(1);
  }
}

.menu-header--600l {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 210px;
}
.menu-header--600l__item {
  list-style-type: none;
}
.menu-header--600l__link {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.menu-header--600l__link-header {
  color: #3d0751;
  text-align: right;
  font-style: normal;
  font-size: 15px;
  line-height: 125.688%;
  word-spacing: 1.5px;
  background: none;
}
.menu-header--600l__link-header:hover {
  opacity: 0.9;
  transform: scale(1.05);
  translate: all 0.2s ease;
  animation-name: headerMenu;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes headerMenu {
  from {
    opacity: 0.6;
    transform: scale(0.95);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  to {
    opacity: 0.9;
    transform: scale(1);
  }
}

.header--375__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 155px);
}

.menu--375 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 210px;
}
.menu--375__item {
  list-style-type: none;
}
.menu--375__link {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.menu--375__link-header {
  color: #3d0751;
  text-align: right;
  font-style: normal;
  font-size: 15px;
  line-height: 125.688%;
  word-spacing: 1.5px;
  background: none;
}
.menu--375__link-header:hover {
  opacity: 0.9;
  transform: scale(1.05);
  translate: all 0.2s ease;
  animation-name: headerMenu;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes headerMenu {
  from {
    opacity: 0.6;
    transform: scale(0.95);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  to {
    opacity: 0.9;
    transform: scale(1);
  }
}

.menu-header--375 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 210px;
}
.menu-header--375__item {
  list-style-type: none;
}
.menu-header--375__link {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.menu-header--375__link-header {
  color: #3d0751;
  text-align: right;
  font-style: normal;
  font-size: 15px;
  line-height: 125.688%;
  word-spacing: 1.5px;
  background: none;
}
.menu-header--375__link-header:hover {
  opacity: 0.9;
  transform: scale(1.05);
  translate: all 0.2s ease;
  animation-name: headerMenu;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes headerMenu {
  from {
    opacity: 0.6;
    transform: scale(0.95);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  to {
    opacity: 0.9;
    transform: scale(1);
  }
}

.header--275__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 155px);
}

.menu--275 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 210px;
}
.menu--275__item {
  list-style-type: none;
}
.menu--275__link {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.menu--275__link-header {
  color: #3d0751;
  text-align: right;
  font-style: normal;
  font-size: 15px;
  line-height: 125.688%;
  word-spacing: 1.5px;
  background: none;
}
.menu--275__link-header:hover {
  opacity: 0.9;
  transform: scale(1.05);
  translate: all 0.2s ease;
  animation-name: headerMenu;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes headerMenu {
  from {
    opacity: 0.6;
    transform: scale(0.95);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  to {
    opacity: 0.9;
    transform: scale(1);
  }
}

.menu-header--275 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 210px;
}
.menu-header--275__item {
  list-style-type: none;
}
.menu-header--275__link {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.menu-header--275__link-header {
  color: #3d0751;
  text-align: right;
  font-style: normal;
  font-size: 15px;
  line-height: 125.688%;
  word-spacing: 1.5px;
  background: none;
}
.menu-header--275__link-header:hover {
  opacity: 0.9;
  transform: scale(1.05);
  translate: all 0.2s ease;
  animation-name: headerMenu;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@keyframes headerMenu {
  from {
    opacity: 0.6;
    transform: scale(0.95);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  to {
    opacity: 0.9;
    transform: scale(1);
  }
}/*# sourceMappingURL=HeaderMenu.css.map */