footer.footer
    .container
        .footer__reletive
            .footer__section1
                .footer__menu
                    .footer__inner.footer__inner-column
                        .footer__column.footer__column-1
                            menu.menu.menu-footer
                                li.menu__item.menu__item-section1
                                    a.menu__link.menu__link-section1.popup-link(href='#popup-h') &Ocy;&tcy;&zcy;&ycy;&vcy;&ycy;
                        .footer__column.footer__column-2
                            menu.menu.menu-footer
                                li.menu__item.menu__item-section1
                                    a.menu__link.menu__link-section1.menu__link-block(href='#' data-block='#procedures' data-tab='href='#tab-b'')
                                        | &Ucy;&scy;&lcy;&ucy;&gcy;&icy; &dcy;&lcy;&yacy; &tcy;&iecy;&lcy;&acy;
                                li.menu__item.menu__item-section1
                                    a.menu__link.menu__link-section1.menu__link-block(href='#' data-block='#procedures' data-tab='href='#tab-f'')
                                        | &Ucy;&scy;&lcy;&ucy;&gcy;&icy; &dcy;&lcy;&yacy; &lcy;&icy;&tscy;&acy;
                        .footer__column.footer__column-3
                            menu.menu.menu-footer
                                li.menu__item.menu__item-section1
                                    a.menu__link.menu__link-section1.popup-link(href='#popup-b')
                                        | &Scy;&vcy;&ocy;&bcy;&ocy;&dcy;&ncy;&ycy;&iecy;
                                        | &ocy;&kcy;&ocy;&shcy;&kcy;&icy;
                                li.menu__item.menu__item-section1
                                    a.menu__link.menu__link-section1.popup-link(href='#popup-g')
                                        | &Vcy;&ycy;&iecy;&zcy;&dcy;
                                        | &ncy;&acy; &dcy;&ocy;&mcy;
                                li.menu__item.menu__item-section1
                                    a.menu__link.menu__link-section1.popup-link(href='#popup-f') &Acy;&kcy;&tscy;&icy;&icy;
            .footer__section2
                .footer__inner.footer__inner-section2
                    .footer__copyright
                        .footer__inner.footer__inner-left
                            .footer__logo
                                a.footer__link.footer__link-logo(href='#')
                                    img.logo.logo-footer(src=require('../images/logo-footer.png') alt='SNV')
                            .footer__copy
                                p.footer__p.footer__p-copy
                                    | &amp;#169 
                                    span#year.footer__year 2024
                                    |  SNV -
                                    |                       &acy;&pcy;&pcy;&acy;&rcy;&acy;&tcy;&ncy;&acy;&yacy; &kcy;&ocy;&rcy;&rcy;&iecy;&kcy;&tscy;&icy;&yacy; &fcy;&icy;&gcy;&ucy;&rcy;&ycy;
                                p.footer__p.footer__p-copy &Vcy;&scy;&iecy; &pcy;&rcy;&acy;&vcy;&acy; &zcy;&acy;&shchcy;&icy;&shchcy;&iecy;&ncy;&ycy;
                    .footer__warning
                        .footer__inner.footer__inner-warning
                            p.footer__p.footer__p-warning &Icy;&mcy;&iecy;&yucy;&tcy;&scy;&yacy; &pcy;&rcy;&ocy;&tcy;&icy;&vcy;&ocy;&pcy;&ocy;&kcy;&acy;&zcy;&acy;&ncy;&icy;&yacy;.
                            p.footer__p.footer__p-warning &Ncy;&iecy;&ocy;&bcy;&khcy;&ocy;&dcy;&icy;&mcy;&acy; &kcy;&ocy;&ncy;&scy;&ucy;&lcy;&softcy;&tcy;&acy;&tscy;&icy;&yacy; &scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&icy;&scy;&tcy;&acy;.
            .footer__section3
                .footer__icons
                    menu.icons.icons-footer
                        li.icons__item.icons__item-footer.icons__item-whatsapp
                            a.icons__link.icons__link-footer.icons__link-whatsapp(href='#')
                            #icon-line-watsapp.icons__line.icons__line-footer
                        li.icons__item.icons__item-footer.icons__item-telegram
                            a.icons__link.icons__link-footer.icons__link-telegram(href='#')
                            #icon-line-telegram.icons__line.icons__line-footer
                        li.icons__item.icons__item-footer.icons__item-checkmark
                            a.icons__link.icons__link-footer.icons__link-checkmark.popup-link(href='#popup-d')
                            #icon-line-checkmark.icons__line.icons__line-footer
            .footer__section4
                .footer__phone
                    a.footer__link-phone(href='tel:+79182669130') +7 918 266 91 30