header.header
        .container
            .header__inner
                .header__left
                    .header__inner.header__inner-left
                        .header__logo
                            a.header__link.header__link-logo(href='#')
                                img.logo.logo-header(src=require('../images/logo-header.svg') alt='SNV')
                        .header__title
                            h1.title.title-header &Acy;&pcy;&pcy;&acy;&rcy;&acy;&tcy;&ncy;&acy;&yacy; &kcy;&ocy;&rcy;&rcy;&iecy;&kcy;&tscy;&icy;&yacy; &fcy;&icy;&gcy;&ucy;&rcy;&ycy;
                    .header__line
                .header__right
                    .header__inner.header__inner-right
                        .header__menu
                            menu.menu.menu-header
                                li.menu__item.menu__item-header
                                    a.menu__link.menu__link-header.popup-link(href='#popup-g')
                                        | &Vcy;&ycy;&iecy;&zcy;&dcy; &ncy;&acy;
                                        | &dcy;&ocy;&mcy;
                                li.menu__item.menu__item-header
                                    a.menu__link.menu__link-header.menu__link-block(href='#' data-block='#procedures') &Ucy;&scy;&lcy;&ucy;&gcy;&icy;
                                li.menu__item.menu__item-header
                                    a.menu__link.menu__link-header.popup-link(href='#popup-f') &Acy;&kcy;&tscy;&icy;&icy;
                                li.menu__item.menu__item-header
                                    a.menu__link.menu__link-header.popup-link(href='#popup-b') &Ocy;&kcy;&ncy;&acy;
                                li.menu__item.menu__item-header
                                    a.menu__link.menu__link-header.popup-link(href='#popup-h') &Ocy;&tcy;&zcy;&ycy;&vcy;&ycy;
                        .header__burger
                            a.header__link.header__link-burger(href='#')
                                img.burger.burger-header(src=require('../images/burger-header744.svg') alt='SNV')
                        .header__phone
                            a.header__link-phone(href='tel:+79182669130')
                                span.header__span.header__span-block +7
                                span.header__span 9
                                span.header__span 1
                                span.header__span.header__span-block 8
                                span.header__span 2
                                span.header__span 6
                                span.header__span.header__span-block 6
                                span.header__span 9
                                span.header__span.header__span-block 1
                                span.header__span 3
                                span.header__span.header__span-block 0