doctype html
html(lang= 'ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title= 'snv-site-react'
    body
        .wrapper
            header.header
                .container
                    .header__inner
                        .header__left
                            .header.header__inner-left
                                .header__logo
                                    a.header__link.header__link-logo(href='adminka-login.html')
                                        img.logo.logo-header(src='/img/logo/logo-header.svg' alt='SNV')
                                .header__title
                                    h1.title.title-header Аппаратная коррекция фигуры
                            .header__line
                        .header__right
                            .header__inner.header__inner-right 
                                .header__menu
                                    menu.menu.menu-header
                                        li.menu__item.menu__item-header
                                            a.menu__link.menu__link-header.popup-link(href='#popup-g') Выезд на дом
                                        li.menu__item.menu__item-header
                                            a.menu__link.menu__link-header.memu__link-block(href='#' data-block='#procedures') Услуги
                                        li.menu__item.menu__item-header
                                            a.menu__link.menu__link-header.popup-link(href='#popup-f') Акции
                                        li.menu__item.menu__item-header
                                            a.menu__link.menu__link-header.popup-link(href='#popup-b') Окна
                                        li.menu__item.menu__item-header
                                            a.menu__link.menu__link-header.popup-link(href='#popup-h') Отзывы
                                .header__burger
                                    a.header__link.header__link-burger(href='#')
                                        img.burger.burger-header(src='/img/burger/burger-header744.svg' alt='SNV')
                                .header__phone
                                    a.header__link-phone(href='tel:+79182669130')
                                        span.header__span.header__span-block +7
                                        span.header__span 9
                                        span.header__span 1
                                        span.header__span.header__span-block 8
                                        span.header__span 2
                                        span.header__span 6
                                        span.header__span.header__span-block 6
                                        span.header__span 9
                                        span.header__span.header__span-block 1
                                        span.header__span 3
                                        span.header__span.header__span-block 0
            section.main 
                .main__inner 
                    .main__sidebar
                        menu.sidebar.sidebar-main
                            li.sidebar__item.sidebar__item-main
                                menu.sidebar.sidebar-sub
                                    li.sidebar__item.sidebar__item-sub
                                        a.sidebar__link.sidebar__link-sub.popup-link(href='#popup-b') Окна
                                    li.sidebar__item.sidebar__item-sub
                                        a.sidebar__link.sidebar__link-sub.popup-link(href='#popup-f') Акции
                            li.sidebar__item.sidebar__item-main
                                a.sidebar__link.sidebar__link-main.popup-link(href='#popup-c') Позвонить
                    .main__icons
                        menu.icons.icons-main
                            li.icons__item.icons__item-main
                                a.icons__link.icons__link-main(href='#')
                                    img.icons__main.icons__main-icon(src='/img/icons/whatsapp-review.svg' alt='WhatsApp-icon' id='main-whatsapp-icon')
                                    img.icons__main.icons__main-shadow(src='/img/icons/whatsapp-shadow.svg' alt='WhatsApp-shadom' id='main-whatsapp-shadow')
                            li.icons__item.icons__item-main
                                a.icons__link.icons__link-main(href='#')
                                    img.icons__main.icons__main-icon(src='/img/icons/telegram-review.svg' alt='Telegram-icon' id='main-telegram-icon')
                                    img.icons__main.icons__main-shadow(src='/img/icons/telegram-shadow.svg' alt='Telegram-shadow' id='main-telegram-shadow')
                            li.icons__item.icons__item-main
                                a.icons__link.icons__link-main.popup-link(href='#popup-d')
                                    img.icons__main.icons__main-icon(src='/img/icons/checkmark-review.svg' alt='Checkmark-icon' id='main-checkmark-icon')
                                    img.icons__main.icons__main-shadow(src='/img/icons/checkmark-shadow.svg' alt='Checkmark-shadow' id='main-checkmark-shadow')
        .wrapper.wrapper__procedures
            section.procedures#procedures
                .container.container-procedures
                    .procedures__tabs
                        .procedures__menu
                            menu.menu.menu-procedures
                                li.menu__item.menu__item-tab
                                    a.menu__link.menu__link-tab(href='#tab-b') Для тела
                                li.menu__item.menu__item-tab
                                    a.menu__link.menu__link-tab(href='#tab-f') Для лица
                        .tabs.tabs-procedures.tabs-active#tab-b
                            .tabs__body
                                .tabs__slider
                                    .slider.slider-procedures.slider-body
                                        .slider__slide.slider__slide-procedures.slider__slide-body
                                            a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                                img.slider__card.slider__card-procedures(src='/img/procedures/body/body1.png' alt='Процедура')
                                        .slider__slide.slider__slide-procedures.slider__slide-body
                                            a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                                img.slider__card.slider__card-procedures(src='/img/procedures/body/body2.png' alt='Процедура')
                                        .slider__slide.slider__slide-procedures.slider__slide-body
                                            a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                                img.slider__card.slider__card-procedures(src='/img/procedures/body/body3.png' alt='Процедура')
                                        .slider__slide.slider__slide-procedures.slider__slide-body
                                            a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                                img.slider__card.slider__card-procedures(src='/img/procedures/body/body4.png' alt='Процедура')
                                        .slider__slide.slider__slide-procedures.slider__slide-body
                                            a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                                img.slider__card.slider__card-procedures(src='/img/procedures/body/body5.png' alt='Процедура')
                                        .slider__slide.slider__slide-procedures.slider__slide-body
                                            a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                                img.slider__card.slider__card-procedures(src='/img/procedures/body/body6.png' alt='Процедура')
                                        .slider__slide.slider__slide-procedures.slider__slide-body
                                            a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                                img.slider__card.slider__card-procedures(src='/img/procedures/body/body7.png' alt='Процедура')
                                    .dots
                                        .dots__body.dots__body-procedure.dots__body-body
                        .tabs.tabs-procedures.tabs#tab-f
                            .tabs__body
                                .tabs__slider
                                    .slider.slider-procedures.slider-face 
                                        .slider__slide.slider__slide-procedures.slider__slide-face
                                            a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                                img.slider__card.slider__card-procedures(src='/img/procedures/face/face1.png' alt='Процедура')
                                        .slider__slide.slider__slide-procedures.slider__slide-face
                                            a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                                img.slider__card.slider__card-procedures(src='/img/procedures/face/face2.png' alt='Процедура')
                                        .slider__slide.slider__slide-procedures.slider__slide-face
                                            a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                                img.slider__card.slider__card-procedures(src='/img/procedures/face/face3.png' alt='Процедура')
                                        .slider__slide.slider__slide-procedures.slider__slide-face
                                            a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                                img.slider__card.slider__card-procedures(src='/img/procedures/face/face4.png' alt='Процедура')
                                        .slider__slide.slider__slide-procedures.slider__slide-face
                                            a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                                img.slider__card.slider__card-procedures(src='/img/procedures/face/face5.png' alt='Процедура')
                                        .slider__slide.slider__slide-procedures.slider__slide-face
                                            a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                                img.slider__card.slider__card-procedures(src='/img/procedures/face/face6.png' alt='Процедура')
                                        .slider__slide.slider__slide-procedures.slider__slide-face
                                            a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                                img.slider__card.slider__card-procedures(src='/img/procedures/face/face7.png' alt='Процедура')
                                        .slider__slide.slider__slide-procedures.slider__slide-face
                                            a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                                img.slider__card.slider__card-procedures(src='/img/procedures/face/face8.png' alt='Процедура')
                                        .slider__slide.slider__slide-procedures.slider__slide-face
                                            a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                                img.slider__card.slider__card-procedures(src='/img/procedures/face/face9.png' alt='Процедура')
                                        .slider__slide.slider__slide-procedures.slider__slide-face
                                            a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                                img.slider__card.slider__card-procedures(src='/img/procedures/face/face10.png' alt='Процедура')
                                        .slider__slide.slider__slide-procedures.slider__slide-face
                                            a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                                img.slider__card.slider__card-procedures(src='/img/procedures/face/face11.png' alt='Процедура')
                                        .slider__slide.slider__slide-procedures.slider__slide-face
                                            a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                                img.slider__card.slider__card-procedures(src='/img/procedures/face/face12.png' alt='Процедура')
                                        .slider__slide.slider__slide-procedures.slider__slide-face
                                            a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                                img.slider__card.slider__card-procedures(src='/img/procedures/face/face13.png' alt='Процедура')
                                        .slider__slide.slider__slide-procedures.slider__slide-face
                                            a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                                img.slider__card.slider__card-procedures(src='/img/procedures/face/face14.png' alt='Процедура')
                                    .dots
                                        .dots__body.dots__body-procedure.dots__body-face
        .wrapper
            section.companies
                .container.container-companies
                    ul.companies__list
                        li.companies__item.companies__item-mychway
                            .companies__frame.companies__frame-mychway
                                .companies__group.companies__group-mychway
                                    h2.companies__name.companies__name-mychway Mychway
                                    p.companies__blur.companies__blur-mychway Mychway
                        li.companies__item.companies__item-auro
                            .companies__frame.companies__frame-auro
                                .companies__group.companies__group-auro
                                    h2.companies__name.companies__name-auro AURO
                                    p.companies__blur.companies__blur-auro AURO
                        li.companies__item.companies__item-salonart
                            .companies__frame.companies__frame-salonart
                                .companies__group.companies__group-salonart
                                    h2.companies__name.companies__name-salonart SalonArt
                                    p.companies__blur.companies__blur-salonart SalonArt
                        li.companies__item.companies__item-vibro
                            .companies__frame.companies__frame-vibro
                                .companies__group.companies__group-vibro
                                    h2.companies__name.companies__name-vibro Vibro
                                    p.companies__blur.companies__blur-vibro Vibro
                        li.companies__item.companies__item-drceuracle
                            .companies__frame.companies__frame-drceuracle
                                .companies__group.companies__group-drceuracle
                                    h2.companies__name.companies__name-drceuracle Dr.Ceuracle
                                    p.companies__blur.companies__blur-drceuracle Dr.Ceuracle
            section.info
                .container.container-info
                    .info__slider
                        .slider.slider-info
                            .slider__items.slider__items-info
                                .slider__item.slider__item-info
                                    .slider__inner.slider-info__inner
                                        .slider__slide.slider__slide-info
                                            a.slider__link.slider__link-info(href='#')
                                                svg#info-svg1.slider__svg.slider__svg-info(x='0' y='0' width='440' height='290' viewbox='0 0 440 290' xmlns='http://www.w3.org/2000/svg' fill='none')
                                                    defs
                                                        g#svg-group1
                                                            path#path1-1(d='M32.5 51C32.5 39.1259 42.1259 29.5 54 29.5H402C405.038 29.5 407.5 31.9624 407.5 35V239C407.5 250.874 397.874 260.5 386 260.5H38C34.9624 260.5 32.5 258.038 32.5 255V51Z' fill='url(#paint0_linear_167_1734)' stroke='url(#paint1_linear_167_1734)')
                                                            path#path-circle1(d='M0,0 L 0,-86 C 0,-86 0,-92 -6,-92 L -353,-92 C -353,-92 -375,-92 -375,-70' fill='none' ctroke='none')
                                                            path#path-circle2(d='M0,0 L -184,0 C -184,0 -190,0 -190,-6 L -190,-209 C -190,-209 -190,-231 -168,-231.5' fill='none' ctroke='none')
                                                            rect#rect1-1(x='18.75' y='15.75' width='420.5' height='273.5' rx='34.25' stroke='url(#paint2_linear_167_1734)' stroke-width='1.5')
                                                            rect#rect2-1(x='0.75' y='0.75' width='420.5' height='273.5' rx='34.25' stroke='url(#paint3_linear_167_1734)' stroke-width='1.5')
                                                            circle#circle1-1(cx='407' cy='121' r='0.5' fill='#841799' stroke='#841799' stroke-width='0.5')
                                                            animatemotion#circle1-1-animpath(xlink:href='#circle1-1' dur='8.5s' repeatcount='indefinite' begin='0s' fill='remove' restart='whenNotActive')
                                                                mpath(xlink:href='#path-circle1')
                                                            animate#circle1-1-animr(xlink:href='#circle1-1' attributetype='XML' attributename='r' keytimes='0; 0.1; 0.95; 0.96; 0.97; 1' values='0.5; 2; 2; 10; 0.1; 0.1' dur='8.5s' begin='0s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                            animate#circle1-1-animfill(xlink:href='#circle1-1' attributetype='XML' attributename='fill' from='#841799' to='#fff' dur='8.5s' begin='0s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                            circle#circle2-1(cx='222' cy='260' r='0.5' fill='#841799' stroke='#841799' stroke-width='0.5')
                                                            animatemotion#circle2-1-animpath(xlink:href='#circle2-1' dur='8.5s' repeatcount='indefinite' begin='0s' fill='remove' restart='whenNotActive')
                                                                mpath(xlink:href='#path-circle2')
                                                            animate#circle2-1-animr(xlink:href='#circle2-1' attributetype='XML' attributename='r' keytimes='0; 0.1; 0.95; 0.96; 0.97; 1' values='0.5; 2; 2; 10; 0.1; 0.1' begin='0s' repeatcount='indefinite' fill='remove' restart='whenNotActive' dur='8.5s')
                                                            animate#circle2-1-animfill(xlink:href='#circle2-1' attributetype='XML' attributename='fill' from='#841799' to='#fff' dur='8.5s' begin='0s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                            animate#rect1-1-animx(xlink:href='#rect1-1' attributetype='XML' attributename='x' from='18.75' to='18.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='10s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                            animate#rect1-1-animy(xlink:href='#rect1-1' attributetype='XML' attributename='y' from='15.75' to='15.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='10s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                            animate#rect2-1-animx(xlink:href='#rect2-1' attributetype='XML' attributename='x' from='0.75' to='0.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='10s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                            animate#rect2-1-animy(xlink:href='#rect2-1' attributetype='XML' attributename='y' from='0.75' to='0.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='10s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                            animate#title1-1-animx(xlink:href='#title1-1' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 226; 216; 224; 218; 222; 220; 220' dur='8.5s' begin='8.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                            animate#text1-1-animx(xlink:href='#text1-1' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 218; 220; 222; 224; 222; 220; 220' dur='8.5s' begin='8.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                            animate#title1-2-animx(xlink:href='#title1-2' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 222; 224; 226; 228; 230; 220; 220' dur='8.5s' begin='8.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                            animate#text1-2-animx(xlink:href='#text1-2' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 214; 216; 218; 220; 222; 220; 220' dur='8.5s' begin='8.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                        g#svg-group2
                                                            path#path1-2(d='M32.5 51C32.5 39.1259 42.1259 29.5 54 29.5H402C405.038 29.5 407.5 31.9624 407.5 35V239C407.5 250.874 397.874 260.5 386 260.5H38C34.9624 260.5 32.5 258.038 32.5 255V51Z' fill='url(#paint0_linear_167_1734)' stroke='url(#paint1_linear_167_1734)')
                                                            rect#rect1-2(x='18.75' y='15.75' width='420.5' height='273.5' rx='34.25' stroke='url(#paint2_linear_167_1734)' stroke-width='1.5')
                                                            rect#rect2-2(x='0.75' y='0.75' width='420.5' height='273.5' rx='34.25' stroke='url(#paint3_linear_167_1734)' stroke-width='1.5')
                                                            circle#circle1-2(cx='407' cy='121' r='0.5' fill='#841799' stroke='#841799' stroke-width='0.5')
                                                            animatemotion#circle1-2-animpath(xlink:href='#circle1-2' dur='8.5s' repeatcount='indefinite' begin='3s' fill='remove' restart='whenNotActive')
                                                                mpath(xlink:href='#path-circle1')
                                                            animate#circle1-2-animr(xlink:href='#circle1-2' attributetype='XML' attributename='r' keytimes='0; 0.1; 0.95; 0.96; 0.97; 1' values='0.5; 2; 2; 10; 0.1; 0.1' dur='8.5s' begin='3s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                            animate#circle1-2-animfill(xlink:href='#circle1-2' attributetype='XML' attributename='fill' from='#841799' to='#fff' dur='8.5s' begin='3s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                            circle#circle2-2(cx='222' cy='260' r='0.5' fill='#841799' stroke='#841799' stroke-width='0.5')
                                                            animatemotion#circle2-2-animpath(xlink:href='#circle2-2' dur='8.5s' repeatcount='indefinite' begin='3s' fill='remove' restart='whenNotActive')
                                                                mpath(xlink:href='#path-circle2')
                                                            animate#circle2-2-animr(xlink:href='#circle2-2' attributetype='XML' attributename='r' keytimes='0; 0.1; 0.95; 0.96; 0.97; 1' values='0.5; 2; 2; 10; 0.1; 0.1' dur='8.5s' begin='3s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                            animate#circle2-2-animfill(xlink:href='#circle2-2' attributetype='XML' attributename='fill' from='#841799' to='#fff' dur='8.5s' begin='3s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                            animate#rect1-2-animx(xlink:href='#rect1-2' attributetype='XML' attributename='x' from='18.75' to='18.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='11s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                            animate#rect1-2-animy(xlink:href='#rect1-2' attributetype='XML' attributename='y' from='15.75' to='15.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='11s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                            animate#rect2-2-animx(xlink:href='#rect2-2' attributetype='XML' attributename='x' from='0.75' to='0.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='11s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                            animate#rect2-2-animy(xlink:href='#rect2-2' attributetype='XML' attributename='y' from='0.75' to='0.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='11s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                            animate#title2-1-animx(xlink:href='#title2-1' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 226; 216; 224; 218; 222; 220; 220' dur='8.5s' begin='11.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                            animate#text2-1-animx(xlink:href='#text2-1' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 218; 220; 222; 224; 222; 220; 220' dur='8.5s' begin='11.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                            animate#title2-2-animx(xlink:href='#title2-2' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 222; 224; 226; 228; 230; 220; 220' dur='8.5s' begin='11.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                            animate#text2-2-animx(xlink:href='#text2-2' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 214; 216; 218; 220; 222; 220; 220' dur='8.5s' begin='11.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                        g#svg-group3
                                                            path#path1-3(d='M32.5 51C32.5 39.1259 42.1259 29.5 54 29.5H402C405.038 29.5 407.5 31.9624 407.5 35V239C407.5 250.874 397.874 260.5 386 260.5H38C34.9624 260.5 32.5 258.038 32.5 255V51Z' fill='url(#paint0_linear_167_1734)' stroke='url(#paint1_linear_167_1734)')
                                                            rect#rect1-3(x='18.75' y='15.75' width='420.5' height='273.5' rx='34.25' stroke='url(#paint2_linear_167_1734)' stroke-width='1.5')
                                                            rect#rect2-3(x='0.75' y='0.75' width='420.5' height='273.5' rx='34.25' stroke='url(#paint3_linear_167_1734)' stroke-width='1.5')
                                                            circle#circle1-3(cx='407' cy='121' r='0.5' fill='#841799' stroke='#841799' stroke-width='0.5')
                                                            animatemotion#circle1-3-animpath(xlink:href='#circle1-3' dur='8.5s' repeatcount='indefinite' begin='6s' fill='remove' restart='whenNotActive')
                                                                mpath(xlink:href='#path-circle1')
                                                            animate#circle1-3-animr(xlink:href='#circle1-3' attributetype='XML' attributename='r' keytimes='0; 0.1; 0.95; 0.96; 0.97; 1' values='0.5; 2; 2; 10; 0.1; 0.1' dur='8.5s' begin='6s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                            animate#circle1-3-animfill(xlink:href='#circle1-3' attributetype='XML' attributename='fill' from='#841799' to='#fff' dur='8.5s' begin='6s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                            circle#circle2-3(cx='222' cy='260' r='0.5' fill='#841799' stroke='#841799' stroke-width='0.5')
                                                            animatemotion#circle2-3-animpath(xlink:href='#circle2-3' dur='8.5s' repeatcount='indefinite' begin='6s' fill='remove' restart='whenNotActive')
                                                                mpath(xlink:href='#path-circle2')
                                                            animate#circle2-3-animr(xlink:href='#circle2-3' attributetype='XML' attributename='r' keytimes='0; 0.1; 0.95; 0.96; 0.97; 1' values='0.5; 2; 2; 10; 0.1; 0.1' dur='8.5s' begin='6s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                            animate#circle2-3-animfill(xlink:href='#circle2-3' attributetype='XML' attributename='fill' from='#841799' to='#fff' dur='8.5s' begin='6s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                            animate#rect1-3-animx(xlink:href='#rect1-3' attributetype='XML' attributename='x' from='18.75' to='18.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='12s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                            animate#rect1-3-animy(xlink:href='#rect1-3' attributetype='XML' attributename='y' from='15.75' to='15.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='12s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                            animate#rect2-3-animx(xlink:href='#rect2-3' attributetype='XML' attributename='x' from='0.75' to='0.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='12s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                            animate#rect2-3-animy(xlink:href='#rect2-3' attributetype='XML' attributename='y' from='0.75' to='0.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='12s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                            animate#title3-1-animx(xlink:href='#title3-1' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 226; 216; 224; 218; 222; 220; 220' dur='14.5s' begin='8.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                            animate#text3-1-animx(xlink:href='#text3-1' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 218; 220; 222; 224; 222; 220; 220' dur='14.5s' begin='8.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                            animate#title3-2-animx(xlink:href='#title3-2' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 222; 224; 226; 228; 230; 220; 220' dur='14.5s' begin='8.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                            animate#text3-2-animx(xlink:href='#text3-2' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 214; 216; 218; 220; 222; 220; 220' dur='14.5s' begin='8.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                        lineargradient#paint0_linear_167_1734(x1='220' y1='29' x2='220' y2='261' gradientunits='userSpaceOnUse')
                                                            stop(stop-color='#E8CCEE')
                                                            stop(offset='0.387873' stop-color='#F0E1F4')
                                                            stop(offset='0.490872' stop-color='#F2E7F6')
                                                            stop(offset='0.599364' stop-color='#F0E1F3')
                                                            stop(offset='1' stop-color='#E8CCEE')
                                                        lineargradient#paint1_linear_167_1734(x1='-376.696' y1='-228.268' x2='282.892' y2='646.91' gradientunits='userSpaceOnUse')
                                                            stop(offset='0.461286' stop-color='#841799')
                                                            stop(offset='0.684967' stop-color='#831598' stop-opacity='0')
                                                            stop(offset='0.685008' stop-color='#831598')
                                                        lineargradient#paint2_linear_167_1734(x1='-440.696' y1='-289.951' x2='351.893' y2='705.801' gradientunits='userSpaceOnUse')
                                                            stop(offset='0.461286' stop-color='#841799')
                                                            stop(offset='0.659701' stop-color='#831598' stop-opacity='0')
                                                            stop(offset='0.660524' stop-color='#831598')
                                                        lineargradient#paint3_linear_167_1734(x1='-458.696' y1='-304.951' x2='333.893' y2='690.801' gradientunits='userSpaceOnUse')
                                                            stop(offset='0.461286' stop-color='#841799')
                                                            stop(offset='0.702083' stop-color='#831598' stop-opacity='0')
                                                            stop(offset='0.702183' stop-color='#831598')
                                                    use(xlink:href='#svg-group1' x='0' y='0' viewbox='0 0 440 290')
                                                    text#title1-1.slider__svg-title(text-anchor='middle' x='220' y='94')
                                                        | &Pcy;&rcy;&ocy;&dcy;&ocy;&lcy;&zhcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&softcy;
                                                    text#text1-1.slider__svg-text(text-anchor='middle' x='220' y='124')
                                                        | &ocy;&tcy; 25 &dcy;&ocy; 60 &mcy;&icy;&ncy;
                                                    text#title1-2.slider__svg-title(text-anchor='middle' x='220' y='174')
                                                        | &Rcy;&iecy;&kcy;&ocy;&mcy;&iecy;&ncy;&dcy;&ucy;&iecy;&mcy;&ycy;&jcy; &kcy;&ucy;&rcy;&scy;
                                                    text#text1-2.slider__svg-text(text-anchor='middle' x='220' y='204')
                                                        | 12-16 &scy;&iecy;&acy;&ncy;&scy;&ocy;&vcy;

        .slider__slide.slider__slide-info
            a.slider__link.slider__link-info(href='#')
        .slider__slide.slider__slide-info
            a.slider__link.slider__link-info(href='#')
                .dots.dots-info
            .wrapper.wrapper__certificares
            .wrapper