@use '../../scss/config/_variables.scss' as *;
@use '../../scss/config/_mixins.scss' as *;
@use '../../scss/config/_patterns.scss' as *;

.error {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;

  &__proc {
  }

  &__message {
    color: #831598;
    font-family: $ff-Roboto;
    font-weight: 500;
    font-size: $fz-25;
    text-align: center;
  }
}
