@use '_variables.scss' as *;

html,
body {
    font-family: $ff-Roboto;
    font-weight: 500;
    font-size: 17px;
    font-style: normal;
    line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}
body.lock {
    overflow: hidden;
}

button {
    background: none;
  }


