doctype html
html(lang= 'ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title= 'snv-site-react'
    body 
        #root
    //- .wrapper
        //- include ./templates/header.pug
        //- include ./templates/main.pug
    //- .wrapper.wrapper__proced
        //- include ./templates/procedures.pug
    //- .wrapper
        //- include ./templates/companies.pug
        //- include ./templates/info.pug
    //- .wrapper.wrapper__certificares
        //- include ./templates/certificates.pug
    //- .wrapper
        //- include ./templates/footer.pug

