@use '../../../../../scss/config/_variables.scss' as *;
@use '../../../../../scss/config/_mixins.scss' as *;
@use '../../../../../scss/config/_patterns.scss' as *;

// _desktop.scss

.burger {
}

.burger-header {
  display: none;
}

// media-1300.scss

.burger--1300 {
}

.burger-header--1300 {
  display: none;
}



// _media-1133.scss

.burger--1133 {
}

.burger-header--1133 {
  display: none;
}

// media-900.scss

.burger--900 {
}

.burger-header--900 {
  display: block;
}

// _media-744.scss

.burger--744 {
}

.burger-header--744 {
  display: block;
}

// _media-744l.scss

.burger--744l {
}

.burger-header--744l {
  display: block;
}

// media-600.scss

.burger--600 {
}

.burger-header--600 {
  display: block;
}

// media-600l.scss

.burger--600l {
}

.burger-header--600l {
  display: block;
}

// _media-375.scss

.burger--375 {
}

.burger-header--375 {
  display: block;
}

// _media-275.scss

.burger--275 {
}

.burger-header--275 {
  display: block;
}

