@use '../../scss/config/_variables.scss' as *;
@use '../../scss/config/_mixins.scss' as *;
@use '../../scss/config/_patterns.scss' as *;

// _desktop.scss

.slider {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   margin-bottom: 40px;

  &__slide {
    display: block;
  }

  // .slider__slide-procedures
  &__slide-procedures {
    // width: 336px;
    // height: 364px;
    margin-right: 30px;
  }

  &__slide-procedures:last-child {
    margin-right: 0;
  }

  // .slider__slide-body
  &__slide-body {
    opacity: 0.7;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  &__slide-body:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition-duration: 0.5s;
  }

  // .slider__slide-face
  &__slide-face {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  &__slide-face:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition-duration: 0.5s;
  }

  // .slider__slide-body-active
  &__slide-body-active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }

  // .slider__slide-body-disactive
  &__slide-body-disactive {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  // .slider__slide-face-active
  &__slide-face-active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }

  // .slider__slide-face-disactive
  &__slide-face-disactive {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  // .slider__card-procedures
  &__card-procedures {
    width: 336px;
    height: 364px;
  }
}

.slider-procedures {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  // width: 2532px;
  overflow: hidden;
}

.buttons {
  width: calc((100% - 80px));
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.dots {
  width: 100px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

// media-1300.scss

.slider--1300 {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   margin-bottom: 60px;

  &__slide {
    display: block;
  }

  // .slider__slide-procedures
  &__slide-procedures {
    // width: 336px;
    // height: 364px;
    margin-right: 30px;
  }

  &__slide-procedures:last-child {
    margin-right: 0;
  }

  // .slider__slide-body
  &__slide-body {
    opacity: 0.7;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  &__slide-body:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition-duration: 0.5s;
  }

  // .slider__slide-face
  &__slide-face {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  &__slide-face:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition-duration: 0.5s;
  }

  // .slider__slide-body-active
  &__slide-body-active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }

  // .slider__slide-body-disactive
  &__slide-body-disactive {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  // .slider__slide-face-active
  &__slide-face-active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }

  // .slider__slide-face-disactive
  &__slide-face-disactive {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  // .slider__card-procedures
  &__card-procedures {
    width: 336px;
    height: 364px;
  }
}

.slider-procedures--1300 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  // width: 2532px;
  overflow: hidden;
}

.buttons--1300 {
  width: calc((100% - 80px));
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.dots--1300 {
  width: 100px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

// _media-1133.scss

.slider--1133 {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   margin-bottom: 60px;

  &__slide {
    display: block;
  }

  // .slider__slide-procedures
  &__slide-procedures {
    // width: 336px;
    // height: 364px;
    margin-right: 30px;
  }

  &__slide-procedures:last-child {
    margin-right: 0;
  }

  // .slider__slide-body
  &__slide-body {
    opacity: 0.7;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  &__slide-body:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition-duration: 0.5s;
  }

  // .slider__slide-face
  &__slide-face {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  &__slide-face:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition-duration: 0.5s;
  }

  // .slider__slide-body-active
  &__slide-body-active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }

  // .slider__slide-body-disactive
  &__slide-body-disactive {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  // .slider__slide-face-active
  &__slide-face-active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }

  // .slider__slide-face-disactive
  &__slide-face-disactive {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  // .slider__card-procedures
  &__card-procedures {
    width: 336px;
    height: 364px;
  }
}

.slider-procedures--1133 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  // width: 2532px;
  overflow: hidden;
}

.buttons--1133 {
  width: calc((100% - 80px));
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.dots--1133 {
  width: 100px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

// media-900.scss

// .slider--900 {
//   //   display: flex;
//   //   justify-content: space-between;
//   //   align-items: center;
//   //   margin-bottom: 60px;

//   &__slide {
//     display: block;
//   }

//   // .slider__slide-procedures
//   &__slide-procedures {
//     // width: 336px;
//     // height: 364px;
//     margin-right: 30px;
//   }

//   &__slide-procedures:last-child {
//     margin-right: 0;
//   }

//   // .slider__slide-body
//   &__slide-body {
//     opacity: 0.7;
//     filter: blur(1px);
//     transform: scale(0.95);
//     transition: all 0.5s ease;
//   }

//   &__slide-body:hover {
//     opacity: 1;
//     filter: blur(0);
//     transform: scale(1);
//     transition-duration: 0.5s;
//   }

//   // .slider__slide-face
//   &__slide-face {
//     opacity: 0.8;
//     filter: blur(1px);
//     transform: scale(0.95);
//     transition: all 0.5s ease;
//   }

//   &__slide-face:hover {
//     opacity: 1;
//     filter: blur(0);
//     transform: scale(1);
//     transition-duration: 0.5s;
//   }

//   // .slider__slide-body-active
//   &__slide-body-active {
//     opacity: 1;
//     filter: blur(0);
//     transform: scale(1);
//   }

//   // .slider__slide-body-disactive
//   &__slide-body-disactive {
//     opacity: 0.8;
//     filter: blur(1px);
//     transform: scale(0.95);
//     transition: all 0.5s ease;
//   }

//   // .slider__slide-face-active
//   &__slide-face-active {
//     opacity: 1;
//     filter: blur(0);
//     transform: scale(1);
//   }

//   // .slider__slide-face-disactive
//   &__slide-face-disactive {
//     opacity: 0.8;
//     filter: blur(1px);
//     transform: scale(0.95);
//     transition: all 0.5s ease;
//   }

//   // .slider__card-procedures
//   &__card-procedures {
//     width: 336px;
//     height: 364px;
//   }
// }

// .slider-procedures--900 {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin-bottom: 40px;
//   overflow: hidden;
// }

// .buttons--900 {
//   width: calc((100% - 80px));
//   height: 60px;
//   margin: auto;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   overflow: hidden;
// }

// .dots--900 {
//   width: 100px;
//   height: 60px;
//   margin: 0 auto;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.slider--900 {
  // overflow: hidden;
  // position: relative;
  &__slide {
    display: block;
    flex-shrink: 0;
  }

  // .slider__slide-procedures
  &__slide-procedures {
    width: 204px;
    height: 222px;
    // width: 336px;
    // height: 364px;
    margin-right: 30px;
  }

  &__slide-procedures:last-child {
    margin-right: 0;
  }

  // .slider__slide-body
  &__slide-body {
    opacity: 0.7;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  &__slide-body:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition-duration: 0.5s;
  }

  // .slider__slide-face
  &__slide-face {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  &__slide-face:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition-duration: 0.5s;
  }

  // .slider__slide-body-active
  &__slide-body-active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }

  // .slider__slide-body-disactive
  &__slide-body-disactive {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  // .slider__slide-face-active
  &__slide-face-active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }

  // .slider__slide-face-disactive
  &__slide-face-disactive {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  // .slider__card-procedures
  &__card-procedures {
    width: 204px;
    height: 222px;
    // width: 336px;
    // height: 364px;
    pointer-events: none;
  }
}

.slider-procedures--900 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 2532px;
  overflow: hidden;
  position: relative;
  top: 0;
//   left: 0;
    user-select: none;
    touch-action: pan-y;
}

// _media-744.scss

// .slider--744 {
//   //   display: flex;
//   //   justify-content: space-between;
//   //   align-items: center;
//   //   margin-bottom: 60px;

//   &__slide {
//     display: block;
//   }

//   // .slider__slide-procedures
//   &__slide-procedures {
//     // width: 336px;
//     // height: 364px;
//     margin-right: 30px;
//   }

//   &__slide-procedures:last-child {
//     margin-right: 0;
//   }

//   // .slider__slide-body
//   &__slide-body {
//     opacity: 0.7;
//     filter: blur(1px);
//     transform: scale(0.95);
//     transition: all 0.5s ease;
//   }

//   &__slide-body:hover {
//     opacity: 1;
//     filter: blur(0);
//     transform: scale(1);
//     transition-duration: 0.5s;
//   }

//   // .slider__slide-face
//   &__slide-face {
//     opacity: 0.8;
//     filter: blur(1px);
//     transform: scale(0.95);
//     transition: all 0.5s ease;
//   }

//   &__slide-face:hover {
//     opacity: 1;
//     filter: blur(0);
//     transform: scale(1);
//     transition-duration: 0.5s;
//   }

//   // .slider__slide-body-active
//   &__slide-body-active {
//     opacity: 1;
//     filter: blur(0);
//     transform: scale(1);
//   }

//   // .slider__slide-body-disactive
//   &__slide-body-disactive {
//     opacity: 0.8;
//     filter: blur(1px);
//     transform: scale(0.95);
//     transition: all 0.5s ease;
//   }

//   // .slider__slide-face-active
//   &__slide-face-active {
//     opacity: 1;
//     filter: blur(0);
//     transform: scale(1);
//   }

//   // .slider__slide-face-disactive
//   &__slide-face-disactive {
//     opacity: 0.8;
//     filter: blur(1px);
//     transform: scale(0.95);
//     transition: all 0.5s ease;
//   }

//   // .slider__card-procedures
//   &__card-procedures {
//     width: 336px;
//     height: 364px;
//   }
// }

// .slider-procedures--744 {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin-bottom: 40px;
//   overflow: hidden;
// }

// .buttons--744 {
//   width: calc((100% - 80px));
//   height: 60px;
//   margin: auto;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   overflow: hidden;
// }

// .dots--744 {
//   width: 100px;
//   height: 60px;
//   margin: 0 auto;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.slider--744 {
  // overflow: hidden;
  // position: relative;
  &__slide {
    display: block;
    flex-shrink: 0;
  }

  // .slider__slide-procedures
  &__slide-procedures {
    width: 204px;
    height: 222px;
    // width: 336px;
    // height: 364px;
    margin-right: 30px;
  }

  &__slide-procedures:last-child {
    margin-right: 0;
  }

  // .slider__slide-body
  &__slide-body {
    opacity: 0.7;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  &__slide-body:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition-duration: 0.5s;
  }

  // .slider__slide-face
  &__slide-face {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  &__slide-face:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition-duration: 0.5s;
  }

  // .slider__slide-body-active
  &__slide-body-active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }

  // .slider__slide-body-disactive
  &__slide-body-disactive {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  // .slider__slide-face-active
  &__slide-face-active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }

  // .slider__slide-face-disactive
  &__slide-face-disactive {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  // .slider__card-procedures
  &__card-procedures {
    width: 204px;
    height: 222px;
    // width: 336px;
    // height: 364px;
    pointer-events: none;
  }
}

.slider-procedures--744 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 2532px;
  overflow: hidden;
  position: relative;
  top: 0;
//   left: 0;
    user-select: none;
    touch-action: pan-y;
}

// _media-744l.scss

.slider--744l {
  // overflow: hidden;
  // position: relative;
  &__slide {
    display: block;
    flex-shrink: 0;
  }

  // .slider__slide-procedures
  &__slide-procedures {
    width: 204px;
    height: 222px;
    // width: 336px;
    // height: 364px;
    margin-right: 30px;
  }

  &__slide-procedures:last-child {
    margin-right: 0;
  }

  // .slider__slide-body
  &__slide-body {
    opacity: 0.7;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  &__slide-body:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition-duration: 0.5s;
  }

  // .slider__slide-face
  &__slide-face {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  &__slide-face:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition-duration: 0.5s;
  }

  // .slider__slide-body-active
  &__slide-body-active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }

  // .slider__slide-body-disactive
  &__slide-body-disactive {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  // .slider__slide-face-active
  &__slide-face-active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }

  // .slider__slide-face-disactive
  &__slide-face-disactive {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  // .slider__card-procedures
  &__card-procedures {
    width: 204px;
    height: 222px;
    // width: 336px;
    // height: 364px;
    pointer-events: none;
  }
}

.slider-procedures--744l {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 2532px;
  overflow: hidden;
  position: relative;
  top: 0;
//   left: 0;
    user-select: none;
    touch-action: pan-y;
}

// media-600.scss

.slider--600 {
  // overflow: hidden;
  // position: relative;
  &__slide {
    display: block;
    flex-shrink: 0;
  }

  // .slider__slide-procedures
  &__slide-procedures {
    width: 204px;
    height: 222px;
    // width: 336px;
    // height: 364px;
    margin-right: 30px;
  }

  &__slide-procedures:last-child {
    margin-right: 0;
  }

  // .slider__slide-body
  &__slide-body {
    opacity: 0.7;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  &__slide-body:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition-duration: 0.5s;
  }

  // .slider__slide-face
  &__slide-face {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  &__slide-face:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition-duration: 0.5s;
  }

  // .slider__slide-body-active
  &__slide-body-active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }

  // .slider__slide-body-disactive
  &__slide-body-disactive {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  // .slider__slide-face-active
  &__slide-face-active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }

  // .slider__slide-face-disactive
  &__slide-face-disactive {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  // .slider__card-procedures
  &__card-procedures {
    width: 204px;
    height: 222px;
    // width: 336px;
    // height: 364px;
    pointer-events: none;
  }
}

.slider-procedures--600 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 2532px;
  overflow: hidden;
  position: relative;
  top: 0;
//   left: 0;
    user-select: none;
    touch-action: pan-y;
}

// media-600l.scss

.slider--600l {
  // overflow: hidden;
  // position: relative;
  &__slide {
    display: block;
    flex-shrink: 0;
  }

  // .slider__slide-procedures
  &__slide-procedures {
    width: 204px;
    height: 222px;
    // width: 336px;
    // height: 364px;
    margin-right: 30px;
  }

  &__slide-procedures:last-child {
    margin-right: 0;
  }

  // .slider__slide-body
  &__slide-body {
    opacity: 0.7;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  &__slide-body:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition-duration: 0.5s;
  }

  // .slider__slide-face
  &__slide-face {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  &__slide-face:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition-duration: 0.5s;
  }

  // .slider__slide-body-active
  &__slide-body-active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }

  // .slider__slide-body-disactive
  &__slide-body-disactive {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  // .slider__slide-face-active
  &__slide-face-active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }

  // .slider__slide-face-disactive
  &__slide-face-disactive {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  // .slider__card-procedures
  &__card-procedures {
    width: 204px;
    height: 222px;
    // width: 336px;
    // height: 364px;
    pointer-events: none;
  }
}

.slider-procedures--600l {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 2532px;
  overflow: hidden;
  position: relative;
  top: 0;
//   left: 0;
    user-select: none;
    touch-action: pan-y;
}


// _media-375.scss

.slider--375 {
  // overflow: hidden;
  // position: relative;
  &__slide {
    display: block;
    flex-shrink: 0;
  }

  // .slider__slide-procedures
  &__slide-procedures {
    width: 204px;
    height: 222px;
    // width: 336px;
    // height: 364px;
    margin-right: 30px;
  }

  &__slide-procedures:last-child {
    margin-right: 0;
  }

  // .slider__slide-body
  &__slide-body {
    opacity: 0.7;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  &__slide-body:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition-duration: 0.5s;
  }

  // .slider__slide-face
  &__slide-face {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  &__slide-face:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition-duration: 0.5s;
  }

  // .slider__slide-body-active
  &__slide-body-active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }

  // .slider__slide-body-disactive
  &__slide-body-disactive {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  // .slider__slide-face-active
  &__slide-face-active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }

  // .slider__slide-face-disactive
  &__slide-face-disactive {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  // .slider__card-procedures
  &__card-procedures {
    width: 204px;
    height: 222px;
    // width: 336px;
    // height: 364px;
    pointer-events: none;
  }
}

.slider-procedures--375 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 2532px;
  overflow: hidden;
  position: relative;
  top: 0;
//   left: 0;
    user-select: none;
    touch-action: pan-y;
}

// _media-275.scss

.slider--275 {
  // overflow: hidden;
  // position: relative;
  &__slide {
    display: block;
    flex-shrink: 0;
  }

  // .slider__slide-procedures
  &__slide-procedures {
    width: 204px;
    height: 222px;
    // width: 336px;
    // height: 364px;
    margin-right: 30px;
  }

  &__slide-procedures:last-child {
    margin-right: 0;
  }

  // .slider__slide-body
  &__slide-body {
    opacity: 0.7;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  &__slide-body:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition-duration: 0.5s;
  }

  // .slider__slide-face
  &__slide-face {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  &__slide-face:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition-duration: 0.5s;
  }

  // .slider__slide-body-active
  &__slide-body-active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }

  // .slider__slide-body-disactive
  &__slide-body-disactive {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  // .slider__slide-face-active
  &__slide-face-active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }

  // .slider__slide-face-disactive
  &__slide-face-disactive {
    opacity: 0.8;
    filter: blur(1px);
    transform: scale(0.95);
    transition: all 0.5s ease;
  }

  // .slider__card-procedures
  &__card-procedures {
    width: 204px;
    height: 222px;
    // width: 336px;
    // height: 364px;
    pointer-events: none;
  }
}

.slider-procedures--275 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 2532px;
  overflow: hidden;
  position: relative;
  top: 0;
//   left: 0;
    user-select: none;
    touch-action: pan-y;
}






// media-600l.scss

