.slider--1728__slide {
  display: block;
}
.slider--1728__slide-procedures {
  margin-right: 30px;
}
.slider--1728__slide-procedures:last-child {
  margin-right: 0;
}
.slider--1728__slide-body {
  opacity: 0.7;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--1728__slide-body:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.5s;
}
.slider--1728__slide-face {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--1728__slide-face:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.5s;
}
.slider--1728__slide-body-active {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.slider--1728__slide-body-disactive {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--1728__slide-face-active {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.slider--1728__slide-face-disactive {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--1728__card-procedures {
  width: 336px;
  height: 364px;
}

.slider-procedures--1728 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  overflow: hidden;
}

.buttons--1728 {
  width: calc(100% - 80px);
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.dots--1728 {
  width: 100px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider--1300__slide {
  display: block;
}
.slider--1300__slide-procedures {
  margin-right: 30px;
}
.slider--1300__slide-procedures:last-child {
  margin-right: 0;
}
.slider--1300__slide-body {
  opacity: 0.7;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--1300__slide-body:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.5s;
}
.slider--1300__slide-face {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--1300__slide-face:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.5s;
}
.slider--1300__slide-body-active {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.slider--1300__slide-body-disactive {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--1300__slide-face-active {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.slider--1300__slide-face-disactive {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--1300__card-procedures {
  width: 336px;
  height: 364px;
}

.slider-procedures--1300 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  overflow: hidden;
}

.buttons--1300 {
  width: calc(100% - 80px);
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.dots--1300 {
  width: 100px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider--1133__slide {
  display: block;
}
.slider--1133__slide-procedures {
  margin-right: 30px;
}
.slider--1133__slide-procedures:last-child {
  margin-right: 0;
}
.slider--1133__slide-body {
  opacity: 0.7;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--1133__slide-body:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.5s;
}
.slider--1133__slide-face {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--1133__slide-face:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.5s;
}
.slider--1133__slide-body-active {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.slider--1133__slide-body-disactive {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--1133__slide-face-active {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.slider--1133__slide-face-disactive {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--1133__card-procedures {
  width: 336px;
  height: 364px;
}

.slider-procedures--1133 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  overflow: hidden;
}

.buttons--1133 {
  width: calc(100% - 80px);
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.dots--1133 {
  width: 100px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider--900__slide {
  display: block;
  flex-shrink: 0;
}
.slider--900__slide-procedures {
  width: 204px;
  height: 222px;
  margin-right: 30px;
}
.slider--900__slide-procedures:last-child {
  margin-right: 0;
}
.slider--900__slide-body {
  opacity: 0.7;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--900__slide-body:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.5s;
}
.slider--900__slide-face {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--900__slide-face:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.5s;
}
.slider--900__slide-body-active {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.slider--900__slide-body-disactive {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--900__slide-face-active {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.slider--900__slide-face-disactive {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--900__card-procedures {
  width: 204px;
  height: 222px;
  pointer-events: none;
}

.slider-procedures--900 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: pan-y;
}

.slider--744__slide {
  display: block;
  flex-shrink: 0;
}
.slider--744__slide-procedures {
  width: 204px;
  height: 222px;
  margin-right: 30px;
}
.slider--744__slide-procedures:last-child {
  margin-right: 0;
}
.slider--744__slide-body {
  opacity: 0.7;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--744__slide-body:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.5s;
}
.slider--744__slide-face {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--744__slide-face:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.5s;
}
.slider--744__slide-body-active {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.slider--744__slide-body-disactive {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--744__slide-face-active {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.slider--744__slide-face-disactive {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--744__card-procedures {
  width: 204px;
  height: 222px;
  pointer-events: none;
}

.slider-procedures--744 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: pan-y;
}

.slider--744l__slide {
  display: block;
  flex-shrink: 0;
}
.slider--744l__slide-procedures {
  width: 204px;
  height: 222px;
  margin-right: 30px;
}
.slider--744l__slide-procedures:last-child {
  margin-right: 0;
}
.slider--744l__slide-body {
  opacity: 0.7;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--744l__slide-body:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.5s;
}
.slider--744l__slide-face {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--744l__slide-face:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.5s;
}
.slider--744l__slide-body-active {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.slider--744l__slide-body-disactive {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--744l__slide-face-active {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.slider--744l__slide-face-disactive {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--744l__card-procedures {
  width: 204px;
  height: 222px;
  pointer-events: none;
}

.slider-procedures--744l {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: pan-y;
}

.slider--600__slide {
  display: block;
  flex-shrink: 0;
}
.slider--600__slide-procedures {
  width: 204px;
  height: 222px;
  margin-right: 30px;
}
.slider--600__slide-procedures:last-child {
  margin-right: 0;
}
.slider--600__slide-body {
  opacity: 0.7;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--600__slide-body:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.5s;
}
.slider--600__slide-face {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--600__slide-face:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.5s;
}
.slider--600__slide-body-active {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.slider--600__slide-body-disactive {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--600__slide-face-active {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.slider--600__slide-face-disactive {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--600__card-procedures {
  width: 204px;
  height: 222px;
  pointer-events: none;
}

.slider-procedures--600 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: pan-y;
}

.slider--600l__slide {
  display: block;
  flex-shrink: 0;
}
.slider--600l__slide-procedures {
  width: 204px;
  height: 222px;
  margin-right: 30px;
}
.slider--600l__slide-procedures:last-child {
  margin-right: 0;
}
.slider--600l__slide-body {
  opacity: 0.7;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--600l__slide-body:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.5s;
}
.slider--600l__slide-face {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--600l__slide-face:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.5s;
}
.slider--600l__slide-body-active {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.slider--600l__slide-body-disactive {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--600l__slide-face-active {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.slider--600l__slide-face-disactive {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--600l__card-procedures {
  width: 204px;
  height: 222px;
  pointer-events: none;
}

.slider-procedures--600l {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: pan-y;
}

.slider--375__slide {
  display: block;
  flex-shrink: 0;
}
.slider--375__slide-procedures {
  width: 204px;
  height: 222px;
  margin-right: 30px;
}
.slider--375__slide-procedures:last-child {
  margin-right: 0;
}
.slider--375__slide-body {
  opacity: 0.7;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--375__slide-body:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.5s;
}
.slider--375__slide-face {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--375__slide-face:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.5s;
}
.slider--375__slide-body-active {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.slider--375__slide-body-disactive {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--375__slide-face-active {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.slider--375__slide-face-disactive {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--375__card-procedures {
  width: 204px;
  height: 222px;
  pointer-events: none;
}

.slider-procedures--375 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: pan-y;
}

.slider--275__slide {
  display: block;
  flex-shrink: 0;
}
.slider--275__slide-procedures {
  width: 204px;
  height: 222px;
  margin-right: 30px;
}
.slider--275__slide-procedures:last-child {
  margin-right: 0;
}
.slider--275__slide-body {
  opacity: 0.7;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--275__slide-body:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.5s;
}
.slider--275__slide-face {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--275__slide-face:hover {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition-duration: 0.5s;
}
.slider--275__slide-body-active {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.slider--275__slide-body-disactive {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--275__slide-face-active {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.slider--275__slide-face-disactive {
  opacity: 0.8;
  filter: blur(1px);
  transform: scale(0.95);
  transition: all 0.5s ease;
}
.slider--275__card-procedures {
  width: 204px;
  height: 222px;
  pointer-events: none;
}

.slider-procedures--275 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: pan-y;
}/*# sourceMappingURL=ProcSliderContextProvider.css.map */